[2015-11-13 22:13] david-a-wheeler opened #3 "Also use OWASP Dependency-Check"
Cool project.  However, Linux-level package managers won't tell you about all the vulnerable components.  Many programming languages use their own package management systems.

I suggest starting by integrating OWASP Dependency-Check:
https://www.owasp.org/index.php/OWASP_Dependency_Check

It supports analyzing Java, .NET, Ruby, Node.js, and Python projects, along with limited support for C/C++ sou

[2015-11-14 00:54] gregkh commented on #3
But, the distros do provide a list of which packaged versions are vulnerable, which is what this tool is measuring.  For things outside of the package manager, yes, it could use the databases you mention here, I'm sure pull requests will be gladly accepted :)

Anyway, this a great start, and one that has been sorely needed for a long time.

[2015-11-14 03:50] david-a-wheeler commented on #3
Hi Greg!  Distros provide a system-level package manager, agreed, but that is _not_ the only package manager involved with a container in many cases.

In my experience, applications (unless they're C/C++) are often developed using both the system-level package manager (to manage system packages) and at least one language-specific package manager and repo.  For example, if you develop in Javascript

[2015-11-14 19:42] bracki opened #5 "Document usage"
How do I actually run clair against an image pushed to a registry?

When I start it, it basically sits and does nothing:

[code]

How can I get it to check a container's flaws?

[2015-11-14 22:44] amitmawkin commented on #5
I have the same issue it says api starting on port 6060 , but when I do a curl to the api as per the document it says connection refused on the port

[code]

[2015-11-15 00:33] amitmawkin commented on #5
I got it working when I exposed the ports to the host from the vagrant vm i was running in
by running command http://localhost:11600/v1/versions got the output
<code>
{
"APIVersion": "1",
"EngineVersion": "1"
}
</code>

[2015-11-15 00:35] Quentin-M commented on #5
Hi,

@bracki You are almost there. Clair is simply a service, you now have to submit the layers of your images to it using this [API Call](https://github.com/coreos/clair/blob/master/docs/API.md#insert-a-new-layer), in the proper order. There is currently no one-liner tool to actually do it. I believe that it would be pretty easy script though: it would have to download every tarballs from the spe

[2015-11-15 00:39] amitmawkin commented on #5
yups that was the thing,

@Quentin-M  one quick question does it has to be tar or it can inspect local docker images ?

[2015-11-15 18:33] Quentin-M commented on #5
@amitmawkin For the moment, Clair only supports tarballs input - the ones that contain the filesystem diffs and they have to be accessible from Clair (absolute/relative path or HTTP URL).

Basically, to inspect a local image, you have to `docker save <IMAGE ID>` it and then extract the resulting tar-gz archive. It will give you the filesystem diffs (layer.tar) for each layer composing the image. T

[2015-11-16 04:52] mrqwer88 opened #7 "Cannot fetching update on rhel-based os"
Hello!

I try run clair on fedora and centos 6(binary builded on fedora 21).
After start it have errors like -

[code]

bzr versions 2.6.0 and 2.1.1.

Can you help fix it?

[2015-11-16 05:07] mrqwer88 opened #8 "Add support not only tar layouts"
Hello!

How I see clair can add layouts only in tar archives now.
Are planned add layouts like directory and tar.gz?
As example with tar.gz support it be more comfortably to check OpenVZ templates - https://download.openvz.org/template/precreated/ ( if ungzip it - clair work correctly with this templates ).
And if clair can work with directory - it can check already created openvz containers and e

[2015-11-16 05:14] mrqwer88 commented on #7
Debian and Centos vulneratibilities fetched correctly in result.
How I see problem only with get Ubuntu CVE list.

[2015-11-16 06:36] Quentin-M commented on #7
Hello,

Yeah, I think the output from bzr is different on your platform. You're having that error on both Fedora and CentOS, with bzr 2.6.0 and 2.1.1, right ?

I will try to reproduce it asap in order to fix it. Thanks.

[2015-11-16 06:39] mrqwer88 commented on #7
Yes - on both.
Thanks!

[2015-11-16 06:47] Quentin-M commented on #8
Hello,

Clair is actually able to accept .tar.gz archives already! However, it does not accept directories yet but it would really be a quick feature to add. Using Clair against OpenVZ containers is a pretty good idea. OpenVZ templates can be seen as one layer images. I am myself an user of OpenVZ and I never had that thought before.

However, be aware that Clair has initially been designed to ana

[2015-11-16 17:45] lorenz commented on #7
Happens on Ubuntu 15.04 too, bzr 2.7.0dev1

[2015-11-16 17:52] mrqwer88 commented on #7
On Ubuntu 12.04 with bzr 2.5.1 too.

[2015-11-16 17:59] mrqwer88 commented on #8
Thanks for answers.

Yes, with tar.gz clair work correctly  too - my bad.

Re-submit for containers not a problem - in any case, the addition would be to go through the script.
If be added support for add layouts via directory.

[2015-11-16 19:27] Quentin-M commented on #7
Unfortunately, I have not been able to reproduce the error yet. I just tried on Ubuntu 12.04 with bzr 2.5.1 and go1.4.2 and Clair has successfully pulled the Ubuntu vulnerabilities (it takes a long time tho as their repo is very, very slow).

What is the output of, let's say: `bzr branch lp:ubuntu-cve-tracker /tmp/ubuntu-cve-tracker` on these machines ?

[2015-11-16 19:31] lorenz commented on #7
I tracked it down, it's a locale issue. I'm working on a PR.

[2015-11-16 19:33] mrqwer88 commented on #7
Output looks like -

[code]

and on another

[code]

[2015-11-16 19:36] Quentin-M commented on #7
Thanks - I totally understand now.
Waiting for @lorenz's patch, otherwise I'll fix it.

[2015-11-16 19:46] lorenz commented on #7
I have a patch ready, but I need to verify that it works as expected.

[2015-11-16 19:48] lorenz commented on #7
Patch is in #9, could the others try it? It works just fine for me.

[2015-11-16 20:06] Quentin-M commented on #7
That would be part of the fix.

However, I think that the regular expressions (https://github.com/coreos/clair/blob/f229083e1e52d2fea46cb7c69be05b5e5f32c680/updater/fetchers/ubuntu.go#L68) are still too specific. mrqwer88's bzr answers with `Branched 10225 revision(s).` with the `s` between parenthesis.

Should probably as well make them more flexible?

[2015-11-16 20:10] lorenz commented on #7
My fix should probably be enough as it pretty much guarantees how the strings will look as long as upstream doesn't change them. @mrqwer88 Can you try #9 and tell us if it works?

[2015-11-16 20:12] Quentin-M commented on #7
Yeah, my point is that I am afraid that `revisions` and `revision(s)` is not only a locale change. Let's see what @mrqwer88 has.

[2015-11-16 20:15] mrqwer88 commented on #7
Unfortunatly with national locale on Fedora -

[code]

problem reproduces with
 git branch --list
- patch-1

If set LC_ALL to POSIX output -

[code]

and work.

On centos 6 problem reproduced ( "Branched 10225 revision(s).")

[2015-11-16 20:22] lorenz commented on #7
It is most likely enough:

[code]

With my environment patch:

[code]

This is essentially equivalent to `LC_ALL=C`, so if that problem is locale-related then that's enough. I tried to test on CentOS 6 (via Docker) but couldn't get `bzr` to run.

[2015-11-16 20:23] josephschorr opened #10 "Add package.json for custom packages"
Allow users to add a package.json file (or some other filename) in the root directory of containers where they can specify packages to add for detection, as well as packages to _ignore_ for detection (say, if they are included in the container but never executed).

[2015-11-16 20:24] mrqwer88 commented on #7
Looks like with path it run like for me

[code]

With LANGUAGE must work -

[code]

[2015-11-16 20:27] mrqwer88 commented on #7
On centos 6 problem with "revision**s**." vs " revision**(s)**."

[2015-11-16 20:28] lorenz commented on #7
@mrqwer88 How did you get bzr running on CentOS 6? For me it crashes with

[code]

[2015-11-16 20:30] mrqwer88 commented on #7
From epel -

[code]

[2015-11-16 20:36] lorenz commented on #7
Up to bzr 2.5 the old string 'revision(s)' is used, from 2.5 on 'revisions' is used. So we need to change the regex.

[2015-11-16 20:36] mrqwer88 commented on #7
May be more simple use -

[code]

for get revision number?

[2015-11-16 21:06] Quentin-M commented on #7
I am not against that, it is actually used [here](https://github.com/coreos/clair/blob/f229083e1e52d2fea46cb7c69be05b5e5f32c680/updater/fetchers/ubuntu.go#L255), we could use that everywhere.

[2015-11-16 23:34] #7 closed, assigned to Quentin-M

[2015-11-16 23:35] Quentin-M commented on #7
It should fix for everyone, please re-open if it is not the case.

[2015-11-17 07:46] mrqwer88 commented on #7
Thanks a lot!

Now it work good for me.

[code]

[2015-11-17 17:10] laurrentt opened #12 "Add fully support for Alpine based containers"
Many Docker projects are now using Alpine as base for their containers ([Deis](https://github.com/deis/deis) for example).  Just last month the Alpine repo had ![Docker Pulls](https://img.shields.io/docker/pulls/gliderlabs/alpine.svg) on the Docker hub.

[2015-11-17 17:24] Quentin-M commented on #12
Hello,

Sure. There are two main steps to support that operating system:
- The proper detectors (operating system's name/version + packages) have to be implemented in `worker/detectors`. That would be straight-forward to do.
- A vulnerability fetcher has to be implemented if we want Clair to auto-discover and update vulnerabilities that affect Alpine.

As far as I know, there is no great trusted v

[2015-11-17 20:31] xueshanf opened #13 "Doc question: need to create a Postgres database in order to run Clair container"
It seems that a Postgres database  needs to be created first, otherwise, docker run gave errors:

[code]

I created the database like so:

[code]

And then this works:

[code]

Despite the error from  quadstore.go:319, it does work.
Note that the container expects the database name is the same as the db user name, or you can pass in 'database=<db name>' in the connection string, which is undocumen

[2015-11-17 20:36] Quentin-M commented on #13
Hello,

Correct ! The database has to be present in the first place. However, the schema is then created by Clair itself at the first run. The error that you have is actually expected - everything is fine !

Note: Bolt is great for testing but as it uses a file lock, it is not possible to run multiple Clair instances on the same database. That is why PostgreSQL is the way to go for the distributed

[2015-11-18 00:35] jzelinskie commented on #12
If you'd like this feature in Clair, you should rally upstream for the Alpine Linux package maintainers to curate a database of vulnerabilities. Grepping their git log would be able to extract some information, but that isn't an ideal data source.

[2015-11-18 14:06] mrqwer88 commented on #8
And little wrapper for add templates from openvz 6 mirror to clair - [check_openvz_mirror_with_clair](https://github.com/FastVPSEestiOu/check_openvz_mirror_with_clair)

[2015-11-18 15:04] Quentin-M commented on #8
That's really cool ! That could totally go to the `contrib/` folder under that repository. Make a pull request when you think your tool is ready/mature enough. I will be glad to merge it.

[2015-11-19 07:07] Quentin-M opened #14 "Split notifications"
In a real environment with millions of layers, notifications can become pretty big and need to be splitted.

[2015-11-19 07:08] Quentin-M opened #15 "Produce a script to analyze local images easily"

[2015-11-19 07:09] Quentin-M opened #16 "Extract predicates to constants where it is not already done"

[2015-11-19 07:12] Quentin-M opened #17 "Make the healthcheckers more precise"
Concerns especially the updater's healthcheck in which health data is cached and can stay unchanged for a while. It would be better to actively retrieve these.

[2015-11-20 01:47] Quentin-M opened #19 "Generic vulnerability link & more metadata"
Because otherwise it could link to the Debian vuln on an Ubuntu container and may be confusing.

We could also get more informations about CVEs (Access Vector, Access Complexity, Authentication ...)  with additional databases such as NVD.

[2015-11-20 17:13] Quentin-M opened #20 "Updater always set the latest successful date"
Because Update does not return any status, the latest successful update date is always updated even if it failed.

Also, we want to make sure that we don't update the flag of a failed fetcher. Today, fetchers only returns a flag if they succeeded but eventually contributors may start writing fetchers and don't respect that.

[2015-11-20 20:33] Quentin-M opened #23 "Add client cert auth to the HTTP notifier"

[2015-11-20 20:37] #15 closed, assigned to Quentin-M

[2015-11-20 20:38] Quentin-M commented on #5
Hello.

See https://github.com/coreos/clair/tree/master/contrib/analyze-local-images

[2015-11-20 22:07] bracki commented on #5
Cool.

But no matter what I try:

[code]

[2015-11-20 22:36] Quentin-M commented on #5
You are using boot2docker/DockerMachine, right ?

I think that your environment is not set. What does it say when you simply run `docker ps` in your terminal ? I personally have these keys in my env:

[code]

Also, I believe that `-my-address` would be `192.168.99.1` as specified in the `README` - it should be the IP address that you would use inside a Docker container to reach the host machine (y

[2015-11-20 23:06] #20 closed, assigned to nobody

[2015-11-23 21:43] stapelberg opened #27 "analyze-local-images: says “the resource cannot be found”"
I was trying to use the new `analyze-local-images` program, but it doesn’t seem to work for me:

In one terminal, I start clair:

[code]

In another one, I run analyze-local-images:

[code]

My docker version:

[code]

I’m not sure what’s going wrong here. Can you advise please?

[2015-11-23 21:46] Quentin-M commented on #27
Hi.

Probably because your host's /tmp is not mounted on the Clair's docker container. I guess that it is missing from the README.md at that point.

[2015-11-24 02:59] coztest opened #28 "clair fetch image layer from openstack swift or ceph s3"
Hi,
    In my private registry, the images stored in openstack swift which need http auth header to download or get a file, so when I use "POST /v1/layers" API, I can't insert a layer from swift to clair directly. I modify "worker/worker.go func getLayerData()" to add a auth header before "r, err := http.Get(path)" but is not a graceful solution, is there a better one :).

[2015-11-24 04:53] josephschorr commented on #28
One idea would be to enable direct linking to objects in Swift (http://docs.openstack.org/kilo/config-reference/content/object-storage-tempurl.html) and then send those URLs to Clair

[2015-11-24 05:01] Quentin-M commented on #28
^ Same solution used for AWS S3.

[2015-11-24 05:02] Quentin-M opened #30 "Use a configuration file"
There are already a lot of flags ... Should use a configuration file instead and keep only two flags: log level and path to configuration file.

[2015-11-24 07:55] stapelberg commented on #27
That doesn’t seem to be the problem, because mounting /tmp doesn’t fix it:

[code]

[code]

[2015-11-24 17:20] Quentin-M commented on #27
That issue must have been fixed by https://github.com/coreos/clair/commit/9391417b2d2761918c1a6f6f165fe1a35275cfb7. Closing.

[2015-11-24 17:20] #27 closed, assigned to nobody

[2015-11-24 17:41] stapelberg commented on #27
Yep, verifying debian:jessie works now. Thanks!

[2015-11-24 21:03] yoanisgil opened #32 "Cannot analyze image using analyze-local-images"
I'm trying to run the `analyze-local-images` but I get an error like this:

[code]

Is this an issue with the tool or clair? I'm running docker 1.9.1 with `latest` clair tag:

[code]

[2015-11-24 21:06] Quentin-M commented on #32
Hi,

I believe that it could be related to https://github.com/coreos/clair/issues/27, fixed this morning by https://github.com/coreos/clair/commit/9391417b2d2761918c1a6f6f165fe1a35275cfb7. Do you have the latest version of the tool ?

[2015-11-24 21:14] yoanisgil commented on #32
@Quentin-M I ran this to install the tool:

[code]

but I'm not mounting /tmp. Should I?

[2015-11-24 21:23] yoanisgil commented on #32
@Quentin-M after adding -v /tmp:/tmp to the way the clair contained is created, everything works as expected. Sorry for the duplicate, but it would be nice if this is documented somewhere (or if the webserver is always launched no matter the endpoint configuration).

Anyhow, thanks for the tip.

[2015-11-24 21:37] #32 closed, assigned to nobody

[2015-11-24 21:38] Quentin-M commented on #32
My pleasure. I just improved the README.

[2015-11-24 21:38] yoanisgil commented on #32
@Quentin-M when I launch clair, I see this

[code]

but it does not seem to finish. I took a quick look at the container with `docker exec -ti container_id ps aux` and this is what I see:

[code]

so I have two questions:
- Will there be a message saying that the update process is done?
- Why isn't there an update process for RedHat?

Sorry to ask in the same ticket, if there is a mailing list for

[2015-11-24 21:41] yoanisgil commented on #32
Eventually the python process will go away (I assume because it finishes successfully, thought there is no log entry suggesting that) and all I see is this:

[code]

which is fine I guess. My problem here is that I am analyzing an image which is based on CentOS:6.6 and when I run the tool it just says BRAVO :). Not that I'm not happy for such a message but I just find it strange, so I want to make

[2015-11-24 21:45] Quentin-M commented on #32
There is currently no mailing list.
- Yes, a message is printed at the end of the update. You can also increase the log level with `--log-level=trace`.
- Both Debian and Red Hat vulnerabilities are fetched directly in pure Go, there are just some go routines for that. However, as you noticed, Clair needs to clone a bzr repository and uses an external tool for that.
- The initial update can be quit

[2015-11-24 21:48] yoanisgil commented on #32
@Quentin-M all right. I will keep an eye on it and wait until it's done. Some more information will be nice though just to keep the impatient user (like me) on the loop.

[2015-11-28 18:13] Quentin-M opened #34 "Refactor"
The code needs serious global refactoring. Should probably start by creating some helpers in the database package.

[2015-12-02 18:23] #17 closed, assigned to Quentin-M

[2015-12-03 23:24] philips opened #40 "New Fetcher for NPM CVE Snyk Database"
look at https://github.com/Snyk/vulndb

[2015-12-04 18:46] dmwoods38 commented on #5
I've tried running analyze-local-images against a few images, including images that were deliberately vulnerable to heartbleed, but it just says the images are safe, any idea why that would be?

[2015-12-04 19:20] Quentin-M commented on #10
- JSON is quite practical because it can be parsed with go's standard lib. However, I think that using yaml instead would be better because it is way easier to write by hand - and users will definitely write it by hand.
- How do we want to define whitelisted packages? I think that specifying package names is enough and that the version should not appear.
- Where should the file be stored (path) ?

[2015-12-04 19:26] Quentin-M commented on #5
@dmwoods38 Did you wait for the updater to finish its initialization? In other words, did the logs say `I | updater: update finished` ?

[2015-12-04 19:29] josephschorr commented on #10
We might want to allow additional metadata on the whitelisted packages, such as a comment why, and maybe an optional version/date (so that we can reshow vulns for newer versions if necessary)

[2015-12-04 19:32] Quentin-M commented on #10
@josephschorr Right. Comments can simply be added with the pound sign in yaml. Optional version is actually a good idea.

[code]

[2015-12-04 19:33] josephschorr commented on #10
Well, if we have the comment in the actual yaml, then we can display it in the UI, showing _why_ a package is disabled for checking

[2015-12-04 21:07] dmwoods38 commented on #5
@Quentin-M thanks, that must be the issue, seems to be stuck on the initialization.

[2015-12-04 21:11] Quentin-M commented on #5
@dmwoods38 The first update takes a long time, it downloads from Internet and inserts in the database a lot of data. The recent https://github.com/coreos/clair/commit/46f356e8905079fbaff46d21189064a2008401b1 and https://github.com/coreos/clair/commit/46fffdfc81bcda33179c0a5eb30a2e184e6abea7 makes it slightly faster. You can increase the log level to know when it finishes to fetch vulnerabilities a

[2015-12-04 21:53] #16 closed, assigned to Quentin-M

[2015-12-04 21:59] #23 closed, assigned to Quentin-M

[2015-12-05 10:56] stapelberg commented on #5
@Quentin-M Why is it even possible to analyze images as long as the updates haven’t finished? I think it would be a better user experience if the analysis would fail with a corresponding error message until it can provide meaningful results.

[2015-12-07 17:59] grawlinson opened #43 "Model.png in README.md has a minor typo."
The legend title 'App/Library' has a typo (Librairy)

[2015-12-07 23:23] #43 closed, assigned to nobody

[2015-12-07 23:23] Quentin-M commented on #43
Thanks. That is what happens when you translate the French word to the English one at 8am, I guess.

[2015-12-08 17:16] #28 closed, assigned to nobody

[2015-12-08 17:17] Quentin-M commented on #14
Waiting on google/cayley#352

[2015-12-08 18:59] Quentin-M commented on #30
Fixed by eb7e5d5c742afb26963b6ef2f3fe2712b9d76ce4

[2015-12-08 18:59] #30 closed, assigned to Quentin-M

[2015-12-08 19:00] #13 closed, assigned to nobody

[2015-12-08 19:29] Quentin-M opened #45 "Use SQL Recursive queries"
Do some plumbing on https://github.com/cayley/transitive_closure branch, test it and merge it.
Rebase recursive_ftw branch and merge it.

[2015-12-11 04:36] liangchenye opened #48 "Add support to ACI format"
Hi,
Is there any plan to support ACI format?
https://github.com/coreos/rkt/blob/master/Documentation/app-container.md#ACI
(If we have such mechanize to support ACI, we could support OCI bundle easily in the future.)

[2015-12-15 03:26] jzelinskie commented on #48
@liangchenye We are interested in this behavior. Let's leave the issue open until we've merged code that supports scanning ACI.

[2015-12-15 21:32] Quentin-M commented on #10
Alright. I'd like to implement that asap, but probably without the Clair-side whitelist initially because it requires to modify Clair's graph schema (and walk over more nodes - therefore probably a bit slower) and I don't want to do this at the moment. Priority is performances over features for now.

[2015-12-17 19:41] Quentin-M opened #54 "Expose database interactions as an interface with multiple implementations"

[2015-12-24 08:39] liangchenye opened #55 "Add 'update reminding' feature"
quay.io + Clair is really cool, but one thing is missing from a user's point of view: yes, my image is vulnerable, but is there an easy way to solve this?

To an OS user, we can always use 'apt-get update or zypper update' to keep our system as secure as possible. But to a container user, the scenario is different, most time we need another more secure image to replace the old one that was built m

[2015-12-24 08:45] liangchenye commented on #55
We can keep track of the up to date repos of the supported distributions (for example: http://archive.ubuntu.com/ubuntu/dists/wily-updates) and make the 'update reminding' suggestion.

[2015-12-24 09:22] Quentin-M commented on #55
Right.

So Clair is actually already aware if there is a package version that fixes a vulnerability (at least for the current operating system, see https://github.com/coreos/clair/blob/11475beb2caf7a5e70241c0516c82ed96a094453/docs/API.md#success-response-10). However, for now, it does not give any insight on how should we fix vulnerabilities. That is something that some people in the team want to

[2015-12-24 10:01] jgsqware opened #56 "VOLUME /config cannot mount from local folder"
When I run the container following : clair/docs/Run.md

Even with the config file in the folder and the correct -v option, my config file is not in the mounted container.

I think is due to the VOLUME /config in the Dockerfile.

I manage to make it running by `docker cp config.yaml myClair:/config` instead.

[2015-12-24 12:04] jgsqware commented on #5
For me, all my images are SAFE also,

in the log, I see

[code]

And the result:

[code]

And I use the Dockerfile shown on the Readme of Clair.
I've tried also with different images

I've also tried with

[code]

Response:

[code]

[2015-12-24 18:22] Quentin-M commented on #5
It is maybe not abnormal. You can verify a bunch of things with:

[code]

[code]

[code]

[code]

[2015-12-28 21:35] candita commented on #5
Bravo to you @Quentin-M.  After installing analyze-local-images and making sure I ran Clair with -v /tmp:/tmp it worked just fine to tell me all of our images are safe.  Do you happen to have an unsafe image lying around so I could load it and make sure I'm not getting all false positives?  Maybe it is a matter of creating my own CVE that falsely records a good image as unsafe?  Ideas on how to do

[2015-12-29 09:05] liangchenye commented on #5
@candita
You can try aerospike 3.7.0.2, it is one of the official repos,  it has 31 CVE warnings in my test.

In my experience, you should start 'clair' and wait for a while until you find there are enough CVE files in /tmp/.

[2015-12-29 20:45] candita commented on #5
@liangchenye - aerospike 3.7.0.2 also gave me the result that the image was safe, so I'll open up a new discussion.

[2015-12-29 21:02] candita opened #57 "All images look safe if allowed host IP doesn't match remote host IP"
I was happy to see all of our images come up as safe, but when I tried one that was known to be unsafe, it also showed as safe.  Have I possibly misconfigured?

I tried Aerospike 3.0.7.2 and got this:
$ docker images | grep aero
aerospike    latest                             1f38428d7a6f        12 days ago         153.2 MB

$ ./analyze-local-images -endpoint "http://192.168.99.101:6060" -my-addre

[2015-12-29 21:16] Quentin-M commented on #57
Hi,

The files in `/tmp` are only used internally by the Clair updater to update its internal database with Ubuntu vulnerabilities. Clair also handle RHEL and Debian vulnerabilities (as shown in the logs), the files in `/tmp` are not relevant and does not define Clair's knowledge. Clair's knowledge is stored in its database (either Bolt, in-memory, PostgreSQL, ...). You can request data about spec

[2015-12-29 21:24] candita commented on #57
I tried the curl commands and it didn't return anything so that is certainly the root cause.  I will try with master and work out issues until I can see os and packages returned.

After the updater runs, and I try to analyze an image it does alot of POST /v1/layers:
2015-12-29 20:08:36.008813 I | updater: updating vulnerabilities
2015-12-29 20:08:36.009312 I | updater/fetchers: fetching Ubuntu vul

[2015-12-29 22:13] candita commented on #5
Can I ask - if we add layers of an image using the api, what is the secret to making sure that the layers are inserted in the correct historical order?  docker history shows very approximate dates, and if all layers  were from the same day, what is the correct way to determine the order to post them into clair?

[2015-12-30 04:15] Quentin-M commented on #5
@candita Layers shows in the order when you do `docker history` (the first layer in the list is the final one, the latest is the base image). Take a look at the [contrib tool](https://github.com/coreos/clair/blob/master/contrib/analyze-local-images/main.go#L171) and how it does that.

[2015-12-30 15:58] candita commented on #5
I actually had reviewed the history method in the tool and was wondering if it was correct because I couldn't get that algorithm to work using the curl commands directly, see below for a selected summary.
In the transcript below I am copying the base image layer into /tmp/aero/[layerid] in the container, then exec ls to make sure it is there, then I POST the layer, but still cannot GET the os, pac

[2015-12-30 18:42] candita commented on #57
I am running master now with the same issue.  The problem is probably due to Clair not being able to access the layer.tar that  it needs to.  Using analyze-local-images, it posts the layer with a path of  h t t p : / / 1 9 2 . 1 6 8 . 9 9 . 1 : 9 2 7 9 / [imageId]/ l a y e r . t a r  but it never can get os, package, or vulnerabilities from it.  Is there an available way to see logs from the Clair

[2016-01-04 12:40] coolljt0725 opened #58 "Does Clair only work packages which are managed by common package managers?"
As we all know, `Clair` take the advantage of the common package manager to detect vulnerabilities, for now it support `rpm` and `dpkg`. Does it mean if user install an application in an image not by the common package manager, the `Clair` can't detect it?

[2016-01-04 14:00] Quentin-M commented on #58
See #10.

The new database implementation and generalization of Clair I am working on (#54), as discussed off the records with liangchenye will make it way easier to manage. We will be able to do it in just an hour from that.

[2016-01-04 14:02] #45 closed, assigned to Quentin-M

[2016-01-04 14:07] Quentin-M commented on #19
#54 will fix part of it as the generalization will make Clair able to specify links, description and severity per namespace (operating system).

[2016-01-04 14:07] Quentin-M commented on #14
#54 will fix this.

[2016-01-04 14:13] Quentin-M commented on #57
You can use --log-level=trace, it will definitely tell you more.

[2016-01-04 18:02] candita commented on #57
It says the OS is unknown on every layer, every image.  My environment might have something untested that's causing an issue locating the layer.tar's.  I am using docker-machine, running clair in one shell and analyze-local-images in another shell, setting docker-machine env to be the machine that clair is running in.

As an example, clair reports like this for every layer when I run analyze-local

[2016-01-05 04:01] liangchenye commented on #10
-->> Allow users to add a package.json file (or some other filename) in the root directory ....
Who are the users here, the image author? If not, a user need to pull/save/untar/add-package.json/tar and then POST to Clair to scan, right? How about add a new parameter to the POSTLayersParameters?

[2016-01-05 04:02] Quentin-M commented on #10
That can be a good idea as well, sure! Why not.

[2016-01-05 17:29] candita commented on #57
I am getting 403 Forbidden as a response in worker.getLayerData so it cannot process anything else.  The code should probably fail to progress on this error, and since it doesn't, I cannot run the analyzer again because it stored flawed layer data under the layer ID.

I am running the container in one docker-machine shell on osx, and calling analyze-local-images from another docker-machine shell s

[2016-01-05 18:40] Quentin-M commented on #57
Hi,

I think that this line is relevant: https://github.com/coreos/clair/blob/master/contrib/analyze-local-images/main.go#L250

[2016-01-05 21:13] candita commented on #57
I can make it run from within the docker machine ("locally"). Looks great now.  However, I still think it is worth fixing the code to report an error and abort if the layer data cannot be obtained, instead of reporting the image as safe.

[2016-01-06 04:13] Quentin-M commented on #57
True! Thank you so much for pointing that out and for your diagnostic. That's definitely an issue. I will address it as soon as possible.

[2016-01-06 08:40] liangchenye commented on #3
Dependency-Check supports much more package managers:
https://github.com/jeremylong/DependencyCheck/tree/master/dependency-check-core/src/main/java/org/owasp/dependencycheck/analyzer
It's written in Java and has different architecture comparing to Clair , so I think it is hard to "integrating" them.

But it is a big treasure, helps Clair to implement its 'analyzer' -- detectors/packages.
@Quentin-

[2016-01-06 22:11] Quentin-M commented on #3
@liangchenye Definitely! Except if I'm mistaken, you should already have the permissions for that.

[2016-01-07 08:35] liangchenye commented on #10
It seems super easy to implement the 'npm' support, 'package.json' in nodejs suit for Clair very well. I've added my implementation to the wiki page. https://github.com/liangchenye/clair/blob/pkg/worker/detectors/packages/npm.go.

And the python support would done in the similar way.

[2016-01-07 15:53] Quentin-M commented on #10
Right, that sounds good. We should have separate issues for these package managers thought. This issue is for another feature.

However, nodejs and python vulnerabilities are not operating-system dependent. Currently, this would require to create a vulnerability for each operating system for these packages, which doesn't make sense. #54 (the task I am currently working hard on) will however make i

[2016-01-10 23:59] stepanstipl commented on #12
+1 yep, having this for Alpine would be great. I've came across this on the wiki, although not sure how useful or not it might be in this case - http://wiki.alpinelinux.org/wiki/Cvechecker.

[2016-01-12 11:22] coolljt0725 opened #61 "Question: Does Clair support Mysql database?"
In our scenario, other services use Mysql as backend database. Does
Clair support Mysql? If so, there is no need to deploy another database
for us.

[2016-01-12 15:28] Quentin-M commented on #61
Hi,

MySQL hasn't been tested explicitly on Cayley (and thus on Clair).

The new database implementation on which I am working on uses PostgreSQL and will provide a huge performance boost and many features as well as caveats fixes compared to the current implementation.

[2016-01-12 22:23] liangchenye commented on #48
checked in, close.

[2016-01-12 22:23] #48 closed, assigned to nobody

[2016-01-13 16:38] 16m opened #62 "Priorities seem to be always shown in the Debian context"
**TL;DR**: API returns vulnerabilities considered low by Ubuntu (when I ask for high). Not sure if existing issues like https://github.com/coreos/clair/issues/19 or https://github.com/coreos/clair/issues/54 cover entirely this problem.

Let's say I query `/v1/vulnerabilities/CVE-2015-5277` to get a vulnerability's information. Answer:

[code]
1. Both `Link` and `Priority` fields are shown for Debi

[2016-01-13 16:59] Quentin-M commented on #62
Hi,

Thanks for your report.

Yes, this is a known issue actually (which I consider major) and is basically tracked by #19.
#54 will fix it as soon as it will be released, along with other important features.

Work in progress can be found at [Quentin-M/clair/sql](https://github.com/Quentin-M/clair/tree/sql).

[2016-01-13 16:59] #62 closed, assigned to nobody

[2016-01-13 22:02] #58 closed, assigned to nobody

[2016-01-13 22:50] #34 closed, assigned to nobody

[2016-01-13 22:50] #8 closed, assigned to nobody

[2016-01-13 22:51] #5 closed, assigned to nobody

[2016-01-14 14:40] PasqualePuzio opened #63 "All images are safe !!"
Hi,

I'm testing Clair on a local machine. In particular, I'm trying to find vulnerabilities in my own images using the "analyze-local-images" script.
However, I can't find a vulnerable image that is recognized by this script. I also downloaded some images that are to vulnerable to OpenSSL heart bleed but according to Clair they are safe.

Am I missing something? Am I doing something wrong?

Could

[2016-01-14 14:45] Quentin-M commented on #63
Hi,

#5 and #57 may be relevant.

[2016-01-14 15:01] PasqualePuzio commented on #63
Thank you very much for the quick reply.

I tested the script with aerospike 3.7.0.2 but I'm still getting the same result: Bravo, your image looks SAFE !

Should I launch the updater before running the script? Or does Clair already contain some default definitions?

Thanks

[2016-01-14 15:56] Quentin-M commented on #63
The updater must runs first. The logs will tell you when the update is finished.

[2016-01-19 06:36] jgsqware opened #64 "Log when Image pushed package-manager is not supported"
Hello,

i've pushed some layers but was on alpine and so Package Manager is not handled yet by Clair.

Could we have a notification in the log that this kind of layers is not handle?

Thanks

Julien

[2016-01-19 06:57] Quentin-M commented on #64
Hi,

Thanks for your feedback. I understand your concern.

The difficulty is that being able to say that something is not supported requires some form of support already. Currently, Clair is able to tell when a layer is not supported, via the API and in the logs, in two cases:
- An OS has been detected in the submitted layer but is not explicitly supported (https://github.com/coreos/clair/blob/mas

[2016-01-19 06:58] #61 closed, assigned to nobody

[2016-01-19 10:17] #63 closed, assigned to nobody

[2016-01-19 17:05] jzelinskie commented on #61
Rather than _does_ clair support MySQL, allow me to answer the question _will_ clair eventually support MySQL. There is going to be a new database implementation that uses database/sql and postgres that will be far more performant. Once that is in place, we will be open to accepting PRs that add MySQL support, but it is not a priority for us to work on. However, this will likely be nontrivial beca

[2016-01-20 07:14] jgsqware commented on #64
Ok I get it Thank Quentin

[2016-01-20 07:14] #64 closed, assigned to nobody

[2016-01-20 11:09] furusiyya opened #66 "Clair Container run error"
I just install fresh CentOS and docker engine, I run ubuntu 14.04 image. Now I want to try Clair. So i save config file and run given commands: (I have not changed anything in config file)

<b>$ docker run -p 6060:6060 -p 6061:6061 -v /home/test/config:/config:ro quay.io/coreos/clair:latest --config=/config/config.yaml </b>
2016-01-19 13:27:56.405799 I | api: starting main API on port 6060.
2016-0

[2016-01-20 14:09] Quentin-M commented on #66
Hi.

Hours?
- As far as I know, Clair still works properly and is just waiting for the update to complete (downloads and database insertion). You might have a very poor Internet connection or IO performances.
- Try using `-log-level=debug` or even `-log-level=trace`.
- Try using the <a href="docs/API.md">API</a> to see if Clair is responsible (ie. the Health status).

[2016-01-21 07:09] furusiyya commented on #66
Yes, that was probably due to my internet connection. I solved. Thanks for prompt reply.

[2016-01-21 13:39] furusiyya commented on #66
![untitled](https://cloud.githubusercontent.com/assets/11066354/12481440/011b6d7c-c06b-11e5-9fc0-f9296a46b71d.png)

I am not getting how it works, Image id and parent ID could be obtained from with <b>docker exec</b>, but i am not getting which type of layer ID's required here and from where those could be obtained? and why do we insert layers? How i could simply scan my container for vulnerabilit

[2016-01-21 16:38] Quentin-M commented on #66
It seems to me that you actually want to use [contrib/analyze-local-images](https://github.com/coreos/clair/tree/master/contrib/analyze-local-images), which allow you to easily analyze you local images.

Clair is designed to analyze thousands/millions of images in an automated manner and to be integrated in Registries / CI systems. Submitting layers instead of images through the API is important f

[2016-01-22 13:38] furusiyya commented on #66
There is nothing on provided address, or may be not updated or moved.
<b>go get -u github.com/coreos/clair/contrib/analyze-local-images</b>
Please take a look!

[2016-01-22 13:43] furusiyya commented on #66
<b>curl -s -H "Content-Type: application/json" -X POST -d \
'{
    "ID": "39bb80489af75406073b5364c9c326134015140e1f7976a370a8bd446889e6f8",
    "Path": "https://layers_storage/39bb80489af75406073b5364c9c326134015140e1f7976a370a8bd446889e6f8.tar",
    "ParentID": "df2a0347c9d081fa05ecb83669dcae5830c67b0676a6d6358218e55d8a45969c",
    "ImageFormat": "Docker"
}' \
127.0.0.1:6060/v1/layers</b>

That

[2016-01-22 16:06] Quentin-M commented on #66
Sorry, I am not sure what you mean by `There is nothing on provided address, or may be not updated or moved.`.

[code]

![contrib/analyze-local-images](http://x.quentin-machu.fr/2016-01-22_11-04-02.png)

About `That would be great if you can give me example, Where i would get <b>ID</b>, <b>Path</b> and <b>ParentID</b>?`, see my previous answer about `docker history`.

[2016-01-26 05:57] furusiyya commented on #66
I am sorry Quentin-M . There was a mistake in link. Yes I got it. But issue about the use of API end points is still, as you told me about `Docker History` , I am still their because of output:

[code]

So which one is `Parent ID` and `Image Path` ?

[2016-01-27 04:08] coolljt0725 commented on #61
@jzelinskie

when does this in place?  is the PR comming?

[2016-01-27 04:14] Quentin-M commented on #61
@coolljt0725 We are really far in the development already. We are currently writing the new API and starting to run benchmarks on the official Docker images. I will push a branch to this repository as soon as the API will be mostly written. I'd say that the ETA is few weeks.

For now, it sits at https://github.com/Quentin-M/clair/tree/sql.

[2016-01-27 06:11] coolljt0725 commented on #61
@Quentin-M  Thank you :)

[2016-02-05 08:27] #55 closed, assigned to nobody

[2016-02-05 11:27] liangchenye opened #68 "Calculate CVEs by layer and its parent may not be correct"
It seems that layers will be better shared among different images according to Docker 1.10.
https://github.com/docker/docker/releases/tag/v1.10.0-rc1
https://github.com/docker/docker/pull/17924

So there will be images like these:
     ImageA :  [layer-baseA, layer-a, layer-b]
     ImageB :  [layer-baseB, layer-a, layer-c, layer-d]
If it happens, layer-a may have two different parents. In this cas

[2016-02-05 15:48] Quentin-M commented on #68
Hi,

Yes, thank you for pointing it out. We already thought about that issue.

One way to leverage this is to craft an unique ID for each layer that is added to Clair, that would not be the Docker ID. One could think about concatenating the ancestors IDs with the layer ID and hash that string (e.g. hash(layer-a + layer-b + layer-c) as the ID for layer-c). Of course, it really depends on your exist

[2016-02-11 18:44] jeremie0 opened #69 "analyze-local-image could not analyze layer: Got response 404 with message"
I've got clair running in a docker container:

[code]

 But when I try to analyze-local-images debian:jessie, it is able to save the image, but errors during analyis:

[code]

If I look inside the container that's running clair, I do see the images in /tmp/

[code]

Any ideas?

[2016-02-11 21:33] Quentin-M commented on #69
Hi,

I believe that's because you have to use the actual Image ID of the image instead of the repository name with that contrib tool. When you do `docker images`, use the string from the third column, called Image ID.

PS: You should probably mount /db as well to avoid loosing the Clair database each time you restart the Docker container.

[2016-02-12 21:22] jeremie0 commented on #69
Using the image ID doesn't help. But, I've dug a little bit more and I think the problem is because of changes with Docker 1.10 (https://github.com/docker/docker/issues/20131 has similar symptoms).

If I try to use the image ID I get the same error:

[code]

But I also see the missing image ID when I look at docker history (and this happens for all the containers I've tried)

[code]

Is clair or t

[2016-02-12 21:32] Quentin-M commented on #69
Really good catch. The contrib tool does rely on `docker history -q --no-trunc` to determine all the layers that it needs to `POST` to Clair, and in which hierarchy/order.

[2016-02-13 11:41] kuldeepb commented on #69
Clair is broken because of the content addressability inconsistencies in docker 1.10 (clair works fine till docker version 1.9.1); "docker history" command gives SHA256 layer IDs, while "docker save" command saves the layers.tar files in plain layer-UID directories.

Not sure if clair is going to fix the issue or will it be taken care of when https://github.com/docker/distribution/issues/727 featu

[2016-02-13 19:25] Quentin-M commented on #69
Clair is not broken per se. The contrib tool that helps analyzing local images is.

[2016-02-13 19:56] kuldeepb commented on #69
Yes, only the contrib tool is affected. As a work around, would it work if the contrib tool for local image scanning is run inside a container with docker version 1.9.1 installed in the container and by mounting /var/lib/docker directory of host in the container? I guess not as the migration tools of docker 1.10 talks only of converting 1.9.x images to 1.10 compatible images and not the other way

[2016-02-13 21:22] Quentin-M commented on #69
It won't. I believe that the solution would be to make the contrib tool read the manifests instead as they orderly point to the layers / blobs. I'll try to experiment and see how it goes asap. Just a lot of work with the new major version of Clair that will be released really soon. Any contributions are very welcomed.

[2016-02-14 06:02] liangchenye commented on #69
The saved manifest uses the struct in docker/image/tarexport/tarexport.go.
The patch fixed it.

[2016-02-14 06:20] #69 closed, assigned to nobody

[2016-02-14 07:35] liangchenye commented on #69
@kuldeepb I cannot find the place to reply your last comment in github :(
I still think manifest[0] is enough, even if we use a loop for the range of manifest, we need to break/return when we catch the first item.

[2016-02-14 07:48] kuldeepb commented on #69
Sorry, I deleted my comment after seeing your reply to the first one. I
will try out one such image later and see if their is any issue. Right now
analyse-local-image tool gives CVE details from topmost layer, in case it
starts supporting reports for all the layers of given image it would be
required I believe.
On Feb 14, 2016 13:05, "梁辰晔 (Liang Chenye)" notifications@github.com
wrote:

[2016-02-14 16:16] pierreozoux opened #72 "Add a "get started" section in readme"
I'd like to test my containers on my local machine.
How could I use your project to do so?

I saw your amazing video, and I really would like to test my containers.

Thanks!

[2016-02-14 17:03] Quentin-M commented on #72
Hi,

Thanks for your interest. That's definitely something that we should add.

For now, some documentation may be found at :
- https://github.com/coreos/clair/blob/master/docs/Run.md
- https://github.com/coreos/clair/blob/master/docs/API.md

To analyze your local container images easily, you may use this contrib tool: https://github.com/coreos/clair/tree/master/contrib/analyze-local-images

[2016-02-14 19:02] pierreozoux commented on #72
Hey :)

Thanks it was an amazing help!
I got up and running in minutes!
https://microblog.pierre-o.fr/2016/test-the-security-of-your-images-in-coreos-with-clair

(I let you close the issue)

[2016-02-14 19:10] Quentin-M commented on #72
Great! Thanks for the article!

I'll close the issue as soon as we'll have written a "getting started" doc.

[2016-02-16 07:49] kuldeepb commented on #57
I saw this issue with when running clair and "analyze-local-images/main.go" on two different VMs. Following change in analyze-local-images/main.go fixes the issue for me. I have not tried yet a scenario where the IPs are behind reverse proxies or load balancers:
 func restrictedFileServer(path, allowedHost string) http.Handler {
        fc := func(w http.ResponseWriter, r *http.Request) {
-

[2016-02-20 20:46] Quentin-M commented on #57
Hi,

This contrib tool has not been meant to be used in any production environment (or behind any proxy/load-balancer) but simply as a tool to help users to analyze their local images and to show how the Clair API works.

[2016-02-24 22:58] #14 closed, assigned to Quentin-M

[2016-02-24 22:58] Quentin-M commented on #14
Fixed by #71

[2016-02-24 22:58] #56 closed, assigned to nobody

[2016-02-24 22:59] Quentin-M commented on #54
Merged (#71).

[2016-02-24 22:59] #54 closed, assigned to Quentin-M

[2016-02-24 22:59] #72 closed, assigned to jzelinskie

[2016-02-24 23:00] Quentin-M commented on #19
Merged (#71).

[2016-02-24 23:00] #19 closed, assigned to Quentin-M

[2016-02-25 10:01] pipseed opened #78 "Clair support for Oracle Linux"
Are there any plans to expand the OS support for Oracle Linux. Scanning an OL image flags as unrecognized OS, as this is derived from a RedHat OS with an rpm based package manager would this be an easy fix?

[2016-02-25 14:24] Quentin-M commented on #78
Hi.

Sure. If the packages are the same, it's just about updating https://github.com/coreos/clair/tree/master/worker/detectors/namespace/redhatrelease to make Oracle Linux detected as CentOS (ie. `centos:6`). Shouldn't be more than 10 lines of code.

Actually, to be more accurate, we should also:
- rename `centos` to `rhel` there,
- rename `centos` to `rhel` in `updater/fetchers/rhel/rhel.go`,
- r

[2016-02-26 10:35] liangchenye opened #80 "add a `ListVulnerabilities` API"
When I use Clair, sometimes I want to know whether my images are really secure or just because my CVE database is empty, so I try to read my CVE database. I found that Clair does not have such API yet. There is a similar API (list namespace), I think maybe we can add this.  I already work on it in my repo (liangchenye/clair:getvulns), now the status is 'in progress'.

@Quentin-M  @jzelinskie what

[2016-02-26 14:28] Quentin-M commented on #80
Hi,

That makes sense to me!
I looked a bit at your branch, I think that this API call should be paginated (see the notification code).

[2016-02-26 21:02] jzelinskie commented on #80
@liangchenye I can see the use for `ListVulnerabilities` but for the scenario you described, would a better solution be to have an "last updated" field on the namespaces to see the last time a fetcher ran for it?

[2016-02-27 09:06] liangchenye commented on #80
@jzelinskie yes, and that is another API:  get the metainfo for a given namespace.

Something like this:
GET http://localhost:6060/v1/namespaces/debian%3A8

{ "last_updated": ...
  "vulns_count": 1000
}

[2016-03-02 22:26] crdil opened #86 "Set connection string for database?"
I'm trying to get clair docker to connect to my postgres container with at connection string, but it won't work.

My connection string is setup like this
`source: postgresql://postgres:XXXXXX@172.17.0.4/clairdb`

I also tried to run without the database clairdb which I created manually (not sure if that is needed), but I get the same error when I'm trying to run the container.

[code]

I haven't f

[2016-03-02 22:56] Quentin-M commented on #86
Hi,

Yeah, that's because Clair tries to connect to your PostgreSQL database using SSL (which is the default behavior with PostgreSQL) but your server doesn't support it. I'd use that instead:

[code]

I explicitly disabled SSL and added a statement timeout, just in case.

[2016-03-03 14:20] crdil commented on #86
Worked great, thanks

[2016-03-03 14:20] #86 closed, assigned to nobody

[2016-03-08 07:35] Quentin-M commented on #80
#82 Merged. I'm closing this issue :)

[2016-03-08 07:35] #80 closed, assigned to nobody

[2016-03-08 07:38] Quentin-M commented on #57
This is closely related to #85, which I believe, implements your fix. We might want to upstream support for `X-Forwarded-For` if you need it. Feel free to submit a PR if it's the case.

[2016-03-08 18:34] Quentin-M opened #92 "Optimize the Fetching of Debian Security Bug Tracker"
As it is now, each time that Debian vulnerabilities are updated, we upsert all of them - and it takes time. It would be great to diff the vulnerabilities and only upsert the ones that actually need to be upserted.

[2016-03-08 18:36] Quentin-M opened #93 "Improve database migration strategy"
We currently use [liamstask/goose](https://bitbucket.org/liamstask/goose), it allows doing both .go and .sql migrations. However, it [requires](https://bitbucket.org/liamstask/goose/src/8488cc47d90c8a502b1c41a462a6d9cc8ee0a895/lib/goose/migration_go.go?at=master&fileviewer=file-view-default#migration_go.go-84) a working Go environment and migration files aren't embed in the Clair binary, and thus,

[2016-03-08 18:41] jzelinskie commented on #93
related project: https://github.com/jteeuwen/go-bindata

[2016-03-09 16:21] Quentin-M opened #95 "Namespace YAML Configuration"
Our YAML configuration should all be under one top-level key such that the file can contain configuration for other projects in addition to Clair.

[2016-03-09 21:30] Quentin-M commented on #57
@candita @kuldeepb We just merged a fix for #85. Does it fix the issue you have as well?

[2016-03-09 21:30] #95 closed, assigned to jzelinskie

[2016-03-11 23:16] jzelinskie commented on #68
We should probably document this somewhere besides this issue.

[2016-03-14 01:28] liangchenye commented on #68
I'm fine to close this.
But not sure where to document it.
Roadmap?

[2016-03-14 01:28] #68 closed, assigned to nobody

[2016-03-14 04:30] jzelinskie opened #97 "Implement a ROADMAP.md"
This is standard across CoreOS projects and we still don't have one.

[2016-03-14 04:30] jzelinskie commented on #68
I've made an issue for creating our roadmap. Thanks for the reminder!

[2016-03-14 10:18] liangchenye commented on #97
+1
So should we collect features and put them into ROADMAP?

[2016-03-15 04:23] coolljt0725 commented on #97
+1 for this

[2016-03-15 17:24] philips opened #98 "API: use gRPC and grpc-gateway"
In many of our open source projects we are exposing API services we are starting to use [gRPC and grpc-gateway](https://coreos.com/blog/gRPC-protobufs-swagger.html). The advantage of using this framework instead of hand-rolled HTTP APIs are:
- Codegen for the clients/servers
- High efficiency gRPC based API available
- Swagger codegen for REST API

This isn't high priority and should be something

[2016-03-15 17:26] philips commented on #12
@stepanstipl @laurrentt Any interest in taking up the torch and trying to build this alpine checker for clair?  I know @jzelinskie and @Quentin-M would happily jump on a video call or chat to give you a rundown of what is necessary.

[2016-03-15 17:27] philips commented on #3
@liangchenye @Quentin-M We should just file a bug for each desirable checker and make it "help wanted". Then it is easy to point people at a single source of places where they can help out.

[2016-03-16 00:32] jzelinskie opened #99 "namespace API should return objects"
In order to future-proof the API for namespaces, we should return a list of objects for the GET route rather than just a list of strings.

[2016-03-16 07:49] liangchenye commented on #99
@jzelinskie , is 'self-assigned mean' you will work on it?
I just worried that multiply people might work on a same feature once we have a roadmap.

[2016-03-16 08:04] liangchenye commented on #97
Here are some works in my mind, not sure if they can be added to the roadmap.
[customization]
1 more OS support
     alpine/oracle/suse ..
2 more package manager
     python/npm
3 different data detect
     although Clair is designed to be `clear, bright, transparent`, but the interface is quite flexible.
     'dynamic scan'  could also be realized in 'dataDetector'.
4 different database as the ba

[2016-03-16 14:00] Quentin-M commented on #97
Hi,

Could you please elaborate on 1. ? The entire image history is always considered when determining potential vulnerabilities.

[2016-03-16 14:43] jzelinskie commented on #99
@liangchenye Yep, I plan to get this out before 1.0, so that if we expand the properties on the namespace object after 1.0, it doesn't break API.

[2016-03-16 19:35] #99 closed, assigned to jzelinskie

[2016-03-16 23:52] liangchenye commented on #97
I removed it cause it sounds a little scary and misleading.
The previous discussion is here: https://github.com/coreos/clair/issues/68.

[2016-03-17 16:32] jzelinskie opened #102 "Update OpenVZ tool to use v1 API"
This tool is currently broken!

[2016-03-18 17:06] Quentin-M opened #109 "Optimize paginated notification query (PostgreSQL)"
The PostgreSQL query `searchNotificationLayerIntroducingVulnerability` uses `ORDER` and `LIMIT` clause. It also uses `id >= $1` instead of `OFFSET` for performance.

Now, instead of `LIMIT`, we should really use something like `id < $2` to avoid long running queries when the first results are too far from the starting id. It would guarantee that these pagination queries are consistently running qu

[2016-03-18 20:11] lian commented on #12
:+1: on getting support in

[2016-03-18 20:12] jeremyd commented on #12
:+1:

[2016-03-18 22:27] philips opened #112 "API: add POST based API"
For playing around with clair it would be much nicer if I could POST the image for analysis instead of going through hoops, as analyze-local-images does, to pull from a web server. This is a local development nicety but I bet it would make it easier for people to participate. It certainly tripped me up while I tried to use `analyze-local-images`.

[2016-03-18 23:55] jzelinskie commented on #112
This is might be a little tricky because we'd have to be able to determine all of the metadata usually passed in the JSON body of a POST to `/v1/layers` from whatever blob we get over the wire. What formats would the images be (`docker save` and `rkt image extract`)? I'm adding the design tag to this issue.

[2016-03-21 14:13] philips commented on #112
@jzelinskie seems like a query param, content-type, or path could differentiate that stuff.

[2016-03-21 16:49] knepperjm opened #113 "kubectl submission of config.yml secret fails:"
The instructions in the README.md say to submit the clair-kubernetes.yml file first, but this seems it would fail as it's trying to mount a secret that is submitted second.  If it fails, it should restart and try to find the newly submitted secret.  However, either way it still fails with config.yaml not found:

[code]

Nonetheless, my problem is the submission of the secret fails with the followi

[2016-03-22 05:05] Quentin-M commented on #57
Closing for now due to inactivity and the fact that I believe this is fixed. Feel free to re-open if necessary.

[2016-03-22 05:05] #57 closed, assigned to Quentin-M

[2016-03-22 13:09] stepanstipl commented on #12
@philips I would be happy to have some initial chat to get at least a rough idea what this would involve, in general I would be happy and interested to work on this feature, just not sure whether I can dedicate enough time

[2016-03-23 09:48] osallou opened #115 "Questions: are CVE sources fetched regularly"
it is not clear in documentation if remote sources are fetched at regular interval.
At Clair startup I can see the fetch of remove sources (Debian, etc.), but are they updated at regular interval ? Or should I trigger (how?) Clair to update itself ?

At last, once a layer has been analysed by Clair, let's say at time X.
At time X+1, let's say new vulnerabilities  are available from remote source a

[2016-03-23 14:07] abulimov opened #117 "contrib/analyze-local-image pollutes /tmp"
As [os.Exit() in go skips all deferred instructions](https://gobyexample.com/exit), the statement `defer os.RemoveAll(path)` on [line 116](https://github.com/coreos/clair/blob/master/contrib/analyze-local-images/main.go#L116) gets executed _only_ when our image has visible vulnerabilities.

So almost every time this tool is used the temporary directory `/tmp/analyze-local-image-*` remains.

[2016-03-23 14:14] Quentin-M commented on #115
Hi,

Yes, Clair updates its internal vulnerability database at regular interval, and this interval is [configurable](https://github.com/coreos/clair/blob/master/config.example.yaml#L52).
Yes, if you query again your image, an up-to-date report will be returned to you.

Note that the update process also generates notifications, which names are [sent](https://github.com/coreos/clair/tree/master/noti

[2016-03-23 14:16] Quentin-M commented on #117
Good catch!

[2016-03-23 15:49] osallou commented on #115
Thanks, closing the issue

[2016-03-23 15:49] #115 closed, assigned to nobody

[2016-03-23 23:20] philips commented on #12
@stepanstipl I talked to @Quentin-M and I think there are two sides

1) Adding support to analyze alpine

2) Pushing on Alpine to track and publish CVE data; this needs to happen with the alpine upstream community and @Quentin-M is going to ping them tomorrow.

[2016-03-24 20:28] Quentin-M commented on #113
Hi,

The issue here is that you try to create a k8s secret using `config.yaml` which contain the Clair configuration and not a proper k8s secret object. Actually, you're using k8s 1.0 and the README makes the assumption that k8s 1.2 is used.
- You should create a yaml file containing a k8s [secret object](http://kubernetes.io/docs/user-guide/secrets/) and use it instead.
- We have to modify the RE

[2016-03-24 20:52] Quentin-M commented on #12
Just initiated a [discussion](http://lists.alpinelinux.org/alpine-devel/5228.html) on the _alpine-devel_ mailing-list. Feel free to participate to share your thoughts and backup the request.

[2016-03-24 23:58] westlifezs opened #119 "link to setup claire in analyze-local-images page is not valid"
Hello,
The link (https://github.com/coreos/clair/blob/master/docs/Run.md) in https://github.com/coreos/clair/tree/master/contrib/analyze-local-images is not a valid one.

The link behind the word "**doc**" is needed to setup Clair instance. Unfortunately it is no longer valid. I will need this link to setup Clair to test the local analyze tool. Could some please fix this?

Here is how the link is

[2016-03-25 00:21] westlifezs opened #120 "how to use "analyze-local-images" together with docker-compose based clair instance"
Hello,

I am able to boot up a Clair instance through docker-compose based approach mentioned in the main README file. I also successfully setup  "analyze-local-images" tool based on the README under its own subfolder. I pull an image from our repo and I can find the image id through "docker images".

 However, when I run "analyze-local-images IMAGE_ID" I hit an error saying "Could not analyze lay

[2016-03-25 01:14] westlifezs opened #121 "go get: Segmentation fault error encountered intermittently"
while running "go get -u github.com/coreos/clair/contrib/analyze-local-images",
I occationally hit errors saying "Segmentation fault". anyone know why this happened? I could not find anywhere I can further debug regarding this issue.

thanks,

[2016-03-25 02:09] JessCL opened #122 "The doc can't be seen and I want to know how to config config.yaml"
The following doc can't be seen:
https://github.com/coreos/clair/blob/master/docs/Run.md

[2016-03-25 02:27] jzelinskie commented on #122
Where did you find that URL? This is an old and outdated doc that was removed.

The [example config.yml in the root of the project](https://github.com/coreos/clair/blob/master/config.example.yaml) has documentation for all fields.

[2016-03-25 02:28] jzelinskie commented on #121
You get this error running `go get` or actually running the binary `analyze-local-images`?

[2016-03-25 14:23] westlifezs commented on #121
I think the error comes from go get. I can get it succeed after trying several times. therefore this issue is not a big deal for me. However, issue #120 is a real issue for me. could you please take a look at that one whenever you get a chance?

[2016-03-25 17:06] Quentin-M commented on #120
Hi,

Can you make sure that both the Clair and PostgreSQL instances are running? Anything abnormal in the logs?

Which operating system are you using?
Are you using `docker-machine`?

You may want to use `-endpoint "http://<CLAIR-IP-ADDRESS>:6060" -my-address "<MY-IP-ADDRESS>"` as documented in [analyze-local-images/README.md](https://github.com/coreos/clair/tree/master/contrib/analyze-local-image

[2016-03-25 17:07] #122 closed, assigned to nobody

[2016-03-25 17:08] Quentin-M commented on #119
Fixed by #123. Thanks for reporting.

[2016-03-25 17:08] #119 closed, assigned to nobody

[2016-03-25 17:12] westlifezs commented on #120
I strictly followed the instruction under "docker-compose" section regarding clair setup. However, I can see the state of clair_clair is exit 1, could you please give me some suggestions? here is the running script:

[code]

[2016-03-25 17:13] westlifezs commented on #120
both clair instance and analyze-local-images are on the same host therefore I did not specify the endpoint url in the command line. Am I missing something?

[2016-03-25 17:18] westlifezs commented on #120
also, could you please let me know where can I find the log of "clair_clair"? I used default config file docker-compose.yml but I could not find any information regarding the log file's location. thx

[2016-03-25 17:45] westlifezs commented on #120
here is my OS info:

[code]

[2016-03-25 17:53] Quentin-M commented on #121
Hi,

Unfortunately, I don't think this issue is related to Clair. What's your go version?

[2016-03-25 18:12] westlifezs commented on #121
Am I using the right go version?
go version
go version xgcc (Ubuntu 4.9.3-0ubuntu4) 4.9.3 linux/amd64

[2016-03-25 18:13] westlifezs commented on #121
also could you let me know where to find the log of clair_clair. It seems like I am not able to start the instance (like I stated in #120 ). but I could not find its log anywhere. thx

[2016-03-25 18:14] jzelinskie commented on #121
You are using the wrong compiler. You're using gccgo and not gc, the standard distribution of the Go compiler. gccgo tracks standard Go, but is frequently out of date and most projects don't go out of their way to support it.

[2016-03-25 18:17] westlifezs commented on #121
thanks for clarification. I have this issue resolved by using the standard go. but I am still facing the clair_clair exit 1 without log issue. any suggestions? thx.

[2016-03-25 18:27] Quentin-M commented on #120
Which version of docker and docker-compose do you use?
The docker-compose.yaml is designed for the latest version.
Try using docker-compose logs, docker ps, docker logs, ...

[2016-03-25 18:29] jzelinskie commented on #121
We can continue that discussion in #120.

[2016-03-25 18:29] #121 closed, assigned to nobody

[2016-03-25 18:34] #117 closed, assigned to nobody

[2016-03-25 18:37] westlifezs commented on #120
could you let me know if my version is right or not? They look good to me.

[code]

[2016-03-25 18:38] westlifezs commented on #120
I think the root cause error is "Attaching to clair_clair, clair_postgres
clair_clair | 2016-03-25 17:06:05.750162 C | main: failed to load configuration: yaml: line 23: did not find expected key"

do you have any ideas regarding what should I do to have this corrected? thanks

[2016-03-25 18:39] westlifezs commented on #120
here is the whole running script:

[code]

[2016-03-25 18:40] westlifezs commented on #120
here is my Yaml file:

[code]

[2016-03-25 18:44] Quentin-M commented on #120
A space is missing `source:` in

[code]

[2016-03-25 18:47] westlifezs commented on #120
you rock! thanks for pinpointing the issue

[2016-03-25 18:47] #120 closed, assigned to nobody

[2016-03-25 20:51] Quentin-M commented on #109
Appears to be irrelevant.

[2016-03-25 20:51] #109 closed, assigned to nobody

[2016-03-25 20:51] Quentin-M commented on #66
Closing for inactivity. Feel free to re-open if necessary.

[2016-03-25 20:51] #66 closed, assigned to nobody

[2016-03-25 22:13] westlifezs opened #124 "retrieving vulnerability scan report for a given docker image through API"
Hello,

I am just wondering that is it possible for me to retrieve vulnerability scan report for a particular image through API? I can run "analyze-local-images IMAGE_NAME" to obtain the vulnerability report locally. However, is it possible of obtaining this report from a remote machine through API directly?

thank you,

[2016-03-25 22:17] westlifezs commented on #124
okay I guess that i can use the following approach to have the report remotely
analyze-local-images -endpoint "http://<CLAIR-IP-ADDRESS>:6060" -my-address "<MY-IP-ADDRESS>" <Docker Image ID>

[2016-03-25 22:17] #124 closed, assigned to nobody

[2016-03-25 23:08] westlifezs opened #125 "Could not save image: Error response from daemon: digest not found"
Hello,

I was trying to call a remote running clair to get its scan report. The command I used is the same as described in the README of "analyze-local-images":

analyze-local-images -endpoint "http://CLAIR_IP:6060" -my-address "URL_TO_DOWNLOAD_IMAGE" -minimum-severity High IMAGE_ID

However, I got an error like the following:

 I | Saving hh to local disk (this may take some time)
Could not save

[2016-03-28 17:18] westlifezs commented on #125
Another related question I have is about "my-address parameters" for the tool "analyze-local-images". In  readme says that "The my-address parameters defines the IP address of the HTTP server that Clair will use to download the images. " does it mean "my-address" is equivalent to the URL value of "docker pull"? I am still having the digest not found issue even after I use my-address the same value

[2016-03-28 17:27] westlifezs commented on #125
also, when I run "docker images --digests" I found out that DIGESTs for all my images are shown as none. Here is one example:
REPOSITORY       TAG                DIGEST              IMAGE ID            CREATED             SIZE
postgres                 latest              <none>              dbc8c4900ce5        12 days ago         264.6 MB

does it look right? shall I create a digest for the image

[2016-03-28 19:00] westlifezs commented on #125
When I use the same command line like:
analyze-local-images -endpoint "CLAIR_IP:6060" -my-address "CLAIR_IP" IMAGE_ID
It works when I run the command within clair server (CLAIR_IP is its public ip). However the same command won't work if I run it under another host even though I can ping/telnet the clair server with 6060 from that host. It still shows "Could not save image: Error response from dae

[2016-03-28 19:26] Quentin-M commented on #125
Hi,

[code]

Can you try to `docker save` an image on your machine (i.e. `docker save -o IMAGE_ID.tar IMAGE_ID`) ? If you can't, then the issue is most likely related to your Docker install. What's your version by the way?

[code]

Me too. It doesn't matter.

[code]

analyze-local-images is a contrib tool that aims at helping people to get started with Clair. The [code](https://github.com/coreos/c

[2016-03-28 19:52] westlifezs commented on #125
thanks very much for the info.
You are right the issue comes from "docker save". It seems like I am not allowed to save the image unless I can see the image through "docker images" in the local host. Am I right?

Our goal is to do security checks for all of our docker images within our registry. I thought I could use a remote clair service along a set of parameters (information about container reg

[2016-03-28 20:55] westlifezs commented on #125
my docker version is
:docker --version
Docker version 1.10.3, build 20f81dd

[2016-03-28 21:42] Quentin-M commented on #125
Yeah, docker save requires that the image is present locally. This is why the tool is called "analyze-local-images`. Again, this is just to help people discovering Clair.

If you want to integrate Clair to your container registry, you should use the [Clair API](https://github.com/coreos/clair/blob/master/api/v1/README.md) directly. This is the best way to use Clair. More specifically, you want to

[2016-03-28 21:55] westlifezs commented on #125
this is very helpful. I am also new to docker therefore I was not able to figure out earlier that " POST(GET) /v1/layers" is the kernel part of clair. I am closing the issue now as I am now cleared. thanks

[2016-03-28 21:55] #125 closed, assigned to nobody

[2016-03-29 00:42] westlifezs opened #127 "Approach of obtaining a list of layers information for target docker images"
Hello,

I've understood that clair will need to take layers information for each docker image for vulnerability assessment based on our previous discussion. I am having several questions regarding how the layer information has been gathered or should be gathered in order to invoke the clair API.

Our environment is under docker registry V1 API, therefore I guess I should obtain target images' laye

[2016-03-29 15:31] Quentin-M commented on #113
Waiting on https://github.com/coreos/coreos-kubernetes/pull/355 and subsequent doc update on https://coreos.com/kubernetes/docs/latest/kubernetes-on-vagrant-single.html

[2016-03-29 17:54] jzelinskie commented on #127
Hi,

You appear to be confused between the `docker save` format (used by `analyze-local-images`) and the v1 registry format. When you export an image from a local docker instance, it saves the image as a tarball of layer tarballs along with a manifest file that contains all the metadata for the image. When fetching an image from a registry, the docker client requests a manifest and then individual

[2016-03-29 18:14] westlifezs commented on #127
thanks for the clarification!

some questions regarding your statement  " The best way to integrate Clair with a container registry is to have the registry POST newly pushed images to Clair's /v1/layers endpoint (most implementations do this asynchronously) and also create a new registry endpoint where Clair can POST notifications when vulnerabilities have been updated."

1.do you mean I need to d

[2016-03-29 18:48] westlifezs commented on #127
it seems like manifest only belongs to docker registry V2 API based on https://docs.docker.com/v1.6/registry/spec/api/. does it mean clair will not support docker registry v1?
Also, it seems like "image id" under registry v2 is created based on sha2 hash but randomly created under v1. will this also affect clair's support on docker registry v1? thanks

[2016-03-29 19:59] Quentin-M commented on #127
Hi,

Docker images are composed of layers, as defined by the [v1 Image Format spec](https://github.com/docker/docker/blob/master/image/spec/v1.md). Yes, you do need to post them one by one to Clair via `/v1/layers`. Thanks to this, Clair can re-use previous analysis, in other words, Clair does not need to re-analyze any layer that it has analyzed in the past.

Your container registry already has t

[2016-03-29 21:06] westlifezs commented on #127
thank you for your elaboration. very helpful information.
still have some other questions related to clair API regarding posting layers.

in clair API README example. It says I will need to provide name, path, parent name and format values. I can only obtain name and parent name based on docker registry v1. even in the doc you provided regarding docker image specs, I cannot find where the format a

[2016-03-29 21:29] Quentin-M commented on #127
- `Format` is `ACI` or `Docker`. In your particular case, you systematically want to use `Docker`.
- `Path` is either a local path (unlikely because Clair and the registry storage shouldn't run on the same host in prod environment) or an HTTP URL where the layer archive can be found. Basically, your container registry has to expose it securely and let Clair download it somehow.

[2016-03-29 21:39] westlifezs commented on #127
okay, thanks for sharing. I will try to figure out where to find the URL.
Another related question is, can I possibly list all of the existing layers vulnerability information stored within clair? it seems like I am not allowed to do so:

root@clair-3603:~# curl -v http://localhost:6060/v1/layers
- Hostname was NOT found in DNS cache
-   Trying 127.0.0.1...
- Connected to localhost (127.0.0.1) por

[2016-03-29 23:46] westlifezs commented on #127
could you please give me an example of a remote docker image layer URL? I searched through but I really could not find anything related to this use case. Looks like the mechanism (way of obtaining/downloading layers) is similar to "docker pull". However, even docker pull does not know each layer's specific location/path (it identifies layer through digest, right?). I am really curious regarding wh

[2016-03-29 23:48] westlifezs commented on #127
when you're talking about "an HTTP URL where the layer archive can be found", did you mean I just need to provide an URL which I can download the tar file (layer) through curl or wget?

[2016-03-30 14:50] westlifezs commented on #127
In general I like clair a lot. But I think it will be nice if there are concrete examples illustrating how clair can be integrated with docker registries. For example, if there is a public layer in docker hub that can be used to show the effectiveness of clair, then it will be extremely helpful for users like me to understand how it works. also it will save lots of time for developers to answer qu

[2016-03-30 17:01] westlifezs commented on #127
I believe that found out a way of obtaining layer binary stream through docker registry v1 api. But I am still having error code when posting its path information to clair. I created another issue (#128) and am closing this one as they are already not the same topic.

[2016-03-30 17:01] #127 closed, assigned to jzelinskie

[2016-03-30 17:16] westlifezs opened #128 "what is considered as a valid path while posting layers to clair"
Hi,

In #127 , you mentioned that I should put a http url for clair to access the target layer archive.
I used "GET /v1/images/(image_id)/layer" as described in docker registry v1 api (indicating this is the right way of getting layer binary data stream). I tested and I can successfully obtain binary data of the target layer. Therefore I set "https://REGISTRY_URL:8080/v1/images/LAYER_ID/layer" as

[2016-03-30 18:00] westlifezs opened #129 "how to avoid the "parent is unknown" err while processing a root layer?"
Hello,

I realized that "ErrParentUnknown" will be raised if the parent layer has not been processed. However, for some of the layers I could not find their parent through /v1/images/LAYER_ID/json. Some of them may not have parents at all (root layer under our environment). For these layers, what info shall I put as their parentname?

thanks

[2016-03-30 18:10] westlifezs commented on #129
I am closing this as I figured out that if I leave the parentname as blank, then the request will be posted successfully.

[2016-03-30 18:10] #129 closed, assigned to nobody

[2016-03-30 18:16] westlifezs commented on #128
I use postman from a remote machine instead of using curl at local then I can get rid of the 307 error. However, I am still seeing an error "could not extract the archive". The url I provided is to access binary data stream of the target layer. Is this the right URL? I could not find a download url to retrieve a tar ball directly. This is because layers can only be accessed through binary data str

[2016-03-30 19:29] Quentin-M commented on #127
Hi,

Your 307 status code happens because you're calling `/v1/layers/` instead of `/v1/layers`. Clair simply corrects you automatically. Your call looks fine to me otherwise!

Exactly. That's what Clair does. It simply downloads the layer archive from the specified HTTP URL, just like wget or curl would do.

[2016-03-30 19:52] Quentin-M commented on #128
Hi,

As mentionned in #127, your 307 status code happens because you're calling /v1/layers/ instead of /v1/layers. Clair simply corrects you automatically.

You're trying to use Docker's registry API to integrate with Clair. Does that mean that you can't directly hook into your container registry?

I believe that `GET /v1/images/(image_id)/layer` might work for public images, even though I never e

[2016-03-30 20:41] westlifezs commented on #128
thank you for your response.
I am sure I can access binary data stream of the target layer through GET /v1/images/(image_id)/layer on clair's host as I tested it. However, I still keep hitting the error mentioned in the previous post. I am just wondering, does clair only accept tar ball or compressed file url? or it also accept url to obtain the binary data stream?

specifically, if I run  GET /v1

[2016-03-30 22:25] westlifezs commented on #128
also, what do you mean by saying public or private images? when using GET /v1/images/(image_id)/json, I cannot find anywhere indicating an image is public or private. Do you mean a public image is an image stores within docker hub while a private image stores within a private registry? what if the clair can access the private registry's image through the provided url as clair is also within our co

[2016-03-30 23:13] mattlorimor commented on #128
@westlifezs

This would seem to be the case. [The code](https://github.com/coreos/clair/blob/f0642bb47f4ebe23194b3ea736a20dc8661c1d7a/worker/detectors/data.go#L76) for detecting whether relevant data is present does an `http.Get()` with the specified path for the layer that is eventually passed into [`SelectivelyExtractArchive()`](https://github.com/coreos/clair/blob/e8343019413496ec13ac7625c95bf2

[2016-03-30 23:38] westlifezs commented on #128
@mattlorimor thanks for your response.
based on what you said, currently if I need to integrate our docker registry with clair, then I will have to use an intermediate storage converting the binary data stream into targz and let clair to know its address. right? Is there an easier way can sort this out? if this is the case, then it will not be easier than by downloading the image/layers directly t

[2016-03-30 23:57] Quentin-M commented on #128
mattlorimor's answer given above is correct. Thanks for participating. Clair expects to be able to download over HTTP or HTTPS (or access it locally if a path is provided instead of an URL) layer filesystems as a tarballs, optionally compressed with gzip / xz / bz2.

A private container image is an image that requires following an authentication flow against the registry in order to be visible and

[2016-03-31 00:02] Quentin-M commented on #128
@westlifezs:

Why don't you just expose an extra endpoint on your registry / API that would simply stream tar'd layers? Might as well submit a PR to let Clair read binary stream, if this is even possible ;-)

[2016-03-31 00:07] westlifezs commented on #128
Our docker registry administrator indicated that docker image layers are not stored in tar format in the system. do you mean it is gonna be easier if we compress layer binary data into tars and expose them through an extra API endpoint but on the same registry host?

[2016-03-31 00:17] westlifezs commented on #128
thanks. will try to explore this function further.

[2016-03-31 00:21] mattlorimor commented on #128
@Quentin-M

Absolutely. Thanks for maintaining this. We are pretty excited to get Clair integrated into our build processes.

This is good news for me, if true, as we are not operating under the same v1-only constraints. @stuckshut and I were talking about this today, but I can't remember where our conversation landed.

[2016-03-31 00:23] Quentin-M commented on #128
@westlifezs: Yes. However, note that you don't necessarily need to compress the layers. A tarball archive doesn't involve compression by definition.

[2016-03-31 00:26] Quentin-M commented on #128
@mattlorimor @westlifezs We are also open to any suggestion and/or contribution that would make your integration easier.

[2016-03-31 01:04] westlifezs commented on #128
thanks! just to confirm. Do I need to add any meta data or files into the tarball for each layer or I can just do "wget -O file URL" & "tar cvf file.tar file" and that's it?

I am asking this question as my current response (get layer) for created layers only contains "name" and "IndexedByVersion" without having any vulnerability information included.

[2016-03-31 02:35] jakedt commented on #112
There's also always multipart. @philips would that work or is the construction of the multipart request too high of a barrier for local development?

[2016-03-31 04:03] mattlorimor commented on #128
@westlifezs

Your call to get the list of vulnerabilities for a layer should look something like this: `GET http://localhost:6060/v1/layers/17675ec01494d651e1ccf81dc9cf63959ebfeed4f978fddb1666b6ead008ed52?features&vulnerabilities HTTP/1.1` where  `17675ec01494d651e1ccf81dc9cf63959ebfeed4f978fddb1666b6ead008ed52` is replaced with the layer name you wish to get information about. [Source](https://gi

[2016-03-31 04:15] mattlorimor commented on #128
@Quentin-M

Just FYI...

I stood up both a Docker `v1` Registry and a Docker `v2` Registry to test some behavior with Clair. I learned some things:
- ~~@westlifezs seems to be correct in that Clair cannot pull layers directly from `v1` of Docker Registry.~~ <-I actually don't think this is the case
- Clair **can** pull layers directly from `v2` of Docker Registry assuming Clair has unrestricted ac

[2016-03-31 06:19] Quentin-M commented on #128
I can only confirm the above answer. It looks like you have a solid knowledge about Clair!
- Note that, you can either specify `?features` or `?vulnerabilities`, you don't need to specify both.
- An initial update against a local PostgreSQL usually takes 30 minutes on my environment. I am only half surprised of the time you just reported on EC2/RDS - I saw that number couple times when running Cla

[2016-03-31 06:43] Quentin-M commented on #128
Thanks for this valuable information about Docker v1 / v2 registry protocols compatibility. It might be worth making the change if that's possible to do it in an elegant manner.

As a side note, this is important to understand that the SHA should _never_ be used to fill the `Name` field. As documented, layer names should be unique.

Let's say we use SHA as layer names. Consider a blob containing a

[2016-03-31 06:53] westlifezs commented on #128
thank you both for your valuable answers!
it is very helpful for me to have a deep understanding of clair.
back to my original question: do I need to add any meta data or file into the tar archive in addition to the layer binary data stream?

also, I am currently using docker-compose to deploy clair, I assume that the database will have to be populated from scratch every time, right? therefore I w

[2016-03-31 07:02] Quentin-M commented on #128
Nope ;-)

Right. You should probably not use this, especially if you need to start/stop Clair often (i.e. if you want to hack it or modify its config). Instead, deploy a more permanent PostgreSQL server (i.e. container and mounted volume) and then deploy Clair.

Good night!

[2016-03-31 17:41] westlifezs commented on #128
thanks for your clarification!

I tried to download the binary stream data for each target layer and convert it into tar files.
I stored these tar files under the root folder of the clair host like "/root/layer_file.tar"

I put the path as "/root/layer_file.tar" and while evaluating the root layer, I use the following request:

POST /v1/layers HTTP/1.1
Host: CLAIR_URL:6060
Cache-Control: no-cache

[2016-03-31 18:30] westlifezs commented on #128
I verified that I can both "scp" and "ls" the tar ball within clair system therefore it is obviously not permission issue. I am just wondering is there anything I need to fill in the path to explicitly notify clair that it should find the tar ball within its own file system. thanks.

[2016-03-31 18:51] westlifezs commented on #128
I even copied the tar ball to /mnt/layers/LAYER_ID/layer.tar as indicated in the instruction. However, I still hit the same error.

[2016-03-31 20:03] Quentin-M commented on #128
Nothing seems to be missing in your request.
As shown in https://github.com/coreos/clair/blob/e78d076/worker/detectors/data.go#L89, Clair simply tries to open the file and returns that error if it can't.

[2016-03-31 21:07] westlifezs commented on #128
based on the function you pointed out just now:

func DetectData(path string, format string, toExtract []string, maxFileSize int64) (data map[string][]byte, err error) {
    var layerReader io.ReadCloser
    if strings.HasPrefix(path, "http://") || strings.HasPrefix(path, "https://") {
        r, err := http.Get(path)
        if err != nil {
            log.Warningf("could not download layer: %s",

[2016-03-31 21:27] westlifezs commented on #128
also if possible, could you please let me know if there is a public accessible layer with its parent information (can be accessed through url) that is vulnerable by clair's definition? The reason I am asking this is because I've tested a number of layers so far. they are either "not found", "could not extract the archive" or without any vulnerability (with only name and IndexedByVersion). I just w

[2016-03-31 23:53] westlifezs commented on #128
I confirm clair API works appropriately. The issue comes from docker registry V1. It won't work appropriately If I do "wget -O file URL" & "tar cvf file.tar file"  (URL refers to https://REGISTRY_URL:8080/v1/images/LAYER_ID/layer). This is because the layer binary stream data (even after archived as tar files) downloaded from v1 registry is not compatible with clair. We will have to use "docker sa

[2016-04-01 03:50] Quentin-M commented on #128
Clair takes tarballs of container layer's filesystems as an input, and gives you vulnerabilities that may affect the container (why and how to fix it if possible) as an output. It's as simple as that. Clair works with rkt images, Docker images, OpenVZ images, or any system tarballs. There is no relation with container registries, this is almost irrelevant. Saying that Clair is compatible (or not)

[2016-04-01 04:28] westlifezs commented on #128
I see your point. But like I said, I simply did ""wget -O file URL" & "tar cvf file.tar file" (URL refers to https://REGISTRY_URL:8080/v1/images/LAYER_ID/layer)." but it does not work. Maybe because clair is not compatible with a container image format created through this way. The best approach for registry v1 I found so far is to use "docker pull & docker save" to ensure the format registry v1 i

[2016-04-01 04:34] josephschorr commented on #128
@westlifezs: I think the confusion lies in how you're handling the data coming out of `https://REGISTRY_URL:8080/v1/images/LAYER_ID/layer`. Any Docker V1-compliant registry will return tar or compressed-tar data from that endpoint; there is no need to pipe it via `tar` again. Doing so will, in fact, result in a tar of a tar, which Clair will not be able to process properly.

What error are you see

[2016-04-01 04:43] westlifezs commented on #128
@josephschorr Thanks for your attention.
Could you please give me a source/justification regarding your following statement :
"Any Docker V1-compliant registry will return tar or compressed-tar data from that endpoint".
Because I've heard people told me differently. Also I could not find any information online to support this statement.

If I use "https://REGISTRY_URL:8080/v1/images/LAYER_ID/layer

[2016-04-01 04:50] westlifezs commented on #128
we are also planing to use clair to scan our VMs/images. shall I use it the same way as I am using it for individual layers? I can post archived VM/Snapshot/images then get the results, right? If it does not support img/iso for now. any plan for the future? I think this can be a very helpful feature.

[2016-04-01 04:59] josephschorr commented on #128
@westlifezs: https://docs.docker.com/v1.6/reference/api/registry_api/ is the spec for the V1 registry API. As you can see in the `/layer` call, the response contains the layer binary data. Docker's layer format is almost universally a compressed-tar (there are a few cases where it is not compressed, but I cannot recall any version after 0.6 where that has been the case) See: https://github.com/doc

[2016-04-01 05:17] westlifezs commented on #128
@josephschorr  thanks for the info. However, even if "https://REGISTRY_URL:8080/v1/images/LAYER_ID/layer" is serving a tar it still does not work for clair if the URL is set to path. I tried for a couple of different images under our environment and this is also confirmed by @mattlorimor in his earlier post. Unfortunately we have to accept the fact that Clair cannot pull layers directly from v1 of

[2016-04-01 05:50] josephschorr commented on #128
@westlifezs: Unless your V1 endpoint is returning data differently than all standard registries, I guarantee it is not a V1 vs V2 difference; the layer data served by both is exactly the same: a compressed tar of the root file system. Quay itself serves both V1 and V2, with the same layer data, and sends it directly to Clair, so I know it is not a V1 issue.

Your best approach is to enable debug l

[2016-04-01 06:05] westlifezs commented on #128
@josephschorr if that is the case, then the problem should come from the data rather than the URL itself. This is because if I change the URL to something else, then clair will raise an error saying "{"Error":{"Message":"could not find layer"}}".

The content of the layers should be the same no matter each of them is obtained through "wget -O layer.tar https://REGISTRY_URL:8080/v1/images/LAYER_ID/

[2016-04-01 06:11] westlifezs commented on #128
If it hit "{"Error":{"Message":"utils: could not extract the archive"}}", then I assume clair is able to retrieve data from the endpoint. The error suggests data under the URL is not acceptable from clair's perspective, right?

[2016-04-01 06:38] josephschorr commented on #128
[code]

`docker save` generates a tar with a **different format** that the raw image data found in a layer.  `/layer` returns a **single** layer, while `docker save` returns **all** layers in an image, including its JSON metadata (which Clair does not use). If you want to compare, the command corresponding to `/layer` would be `docker export`.

[code]

Then it is definitely returning tar layer dat

[2016-04-01 06:45] westlifezs commented on #128
actually I was talking about the difference between data returned by "/layer" and "LAYER_ID/layer.tar" (untarred from "docker save"). The reason I use "docker save" for comparison is because after I untar the  saved image into a list of tars, they can be successfully accepted by clair. I assume if "/layer" returns same content as one of the layers in the list, then its data should still be conside

[2016-04-01 17:32] westlifezs opened #130 "aggregating layer vulnerability report into image level"
It appears to me that vulnerabilities per layer within each image are grouped directly in "analyze-local-images": https://github.com/coreos/clair/blob/master/contrib/analyze-local-images/main.go#L194

However, what if a vulnerability detected at a lower layer has been patched at an higher level (e.g. higher layer is created through "apt-get update")? will the vulnerabilities detected at a lower la

[2016-04-01 17:46] Quentin-M commented on #130
Hi,

[`GET /v1/layers/:name`](https://github.com/coreos/clair/tree/master/api/v1#get-layersname) correctly returns all the features and vulnerabilities that may affect the specified layer, taking into account every parent layers in the right order. Thus, every additions, deletions or updates in any layers of an image are properly accounted for. This is why `ParentName` must be specified in [`POST

[2016-04-01 17:52] westlifezs commented on #130
thanks for your clarification. so if I need to obtain a vulnerability report for a target image, I only need to "GET /v1/layers/TARGET_IMAGE_ID" after I posted all of its ancestors in the right order, right?

[2016-04-01 18:08] westlifezs commented on #128
all of the information above are super helpful.
I am leaving the following two questions for people to confirm because based on previous discussion they are still debatable. At least based on my experiments the answers to both of the them are No. I am still working on them. Hopefully they can be cleared soon.
1. Does Clair support pulling tars directly through docker registry v1 (path assigned to

[2016-04-01 18:09] westlifezs commented on #130
confirmed based on my test. thanks

[2016-04-01 18:09] #130 closed, assigned to nobody

[2016-04-01 20:37] candita commented on #13
Quentin, have you removed the ability to use bolt in the latest? It was great for testing/evaluation purposes.

[2016-04-01 21:14] Quentin-M commented on #13
@candita Hi. The Bolt backend was powered by Cayley and Clair doesn't use Cayley anymore for performance reasons. It is however possible to re-implement the Bolt backend using the [Datastore](https://github.com/coreos/clair/blob/f0642bb/database/database.go#L37) interface.

[2016-04-05 08:19] JessCL opened #132 "How can I set a proxy?"
I have to set proxy in my office network environment.
How can I do this to run clair successfully?

[2016-04-05 08:21] JessCL opened #133 "How can I set a proxy?"
I have to set proxy in my office network environment.
How can I do this to run clair successfully?

[2016-04-05 10:48] #133 closed, assigned to nobody

[2016-04-05 10:52] JessCL opened #134 "Connection refused between docker container of clair and pgsql"
When I try to run the docker container of clair, there is something wrong with the connection to my pgsql. The docker logs are quoted as follows.

[code]

I have tried several ways and on different machines and the issue still exists.

[2016-04-05 11:45] liangchenye commented on #134
Did you fill the pgsql setting in your config.yaml file and started with it?

[code]

[2016-04-05 11:49] JessCL commented on #134
yes,like this
`source: postgresql://mypgsql:1234@localhost:5432/myDB?sslmode=disable`

and I run the postgresql container with

[code]

[2016-04-05 11:54] JessCL commented on #132
I just fixed this problem by
export http_proxy=myproxy
to  /etc/profile

[2016-04-05 11:54] #132 closed, assigned to nobody

[2016-04-05 12:34] liangchenye commented on #128
1. If you can get a valid tar file by using "wget -O aa.tar http://yourhost:8080/v1/images/:id/layer" without any authentication, it should also work in Clair.
   In my test, the answer is 'NO', because it always fails and prints logs like '401 UNAUTHORIZED'. So the downloaded image is quite different with which comes from 'docker save' since the downloaded one will be `zero`.
   I checked with `d

[2016-04-05 12:43] liangchenye commented on #134
`source: postgresql://mypgsql:1234@localhost:5432/myDB?sslmode=disable`
I think the `IP` should not be `localhost`

[2016-04-05 12:49] JessCL commented on #134
I run the two container on the same host machine.

[2016-04-05 13:24] candita commented on #134
I run both successfully on the same machine with DockerCompose and changed source to
postgresql://postgres:password@postgres:5432?sslmode=disable.

Try not specifying a database name.

[2016-04-05 13:30] JessCL commented on #134
I use the following to run the Clair container, referring to clair/README.md [https://github.com/coreos/clair/blob/master/README.md](url)

[code]

And I also tried to run postgresql directly on the host machine, but get the same err as mentioned above.

[2016-04-05 13:39] candita commented on #134
It is more important how the postgres container is running.  Instead of localhost, use the alias "postgres".  If you run "docker inspect" on your postgres container, you should see the alias "postgres", and that port 5432 is open for tcp.  If you don't see alias "postgres" or port 5432 open for tcp, then you need to use the host or alias and port that is open for you to connect.

[2016-04-05 13:46] JessCL commented on #134
And now the logs change to

[code]

[2016-04-05 14:05] candita commented on #134
"docker inspect" the postgres container.  If you don't see alias "postgres" or port 5432 open for tcp, then you need to use the host or alias and port that is open for connection.  The error shows dns can't find the alias.  The DockerCompose instructions in the README.md will set up a postgres container for you with the right alias, I recommend it for testing.

[2016-04-05 14:33] Quentin-M commented on #132
Hi,

You can also specify it right before the clair command (without export). If you need Clair to use a proxy when communicating over HTTPs too, you should also define `HTTPS_PROXY`.

[2016-04-06 02:35] JessCL commented on #134
Thanks for answering my questions and helping me.

If I check the netstat, I can see the following result.

[code]

I will try DockerCompose, but I still wonder if  there is any solution for the docker method?

[2016-04-07 20:46] mattlorimor commented on #128
@Quentin-M, @westlifezs, @josephschorr

I'm thinking I was mistaken about Clair not being able to pull data from a Docker Registry v1 server. I've been working on something and am able to have Clair complete a scan even when the path points to our v1 Docker Registry:

[code]

Kicks back a response:

[code]

In the case above, there is nothing to report back.

[2016-04-07 20:51] mattlorimor opened #135 "Basic auth support?"
I've been working on adding basic auth support so that Clair can pull images directly from Docker Registry servers that require basic auth.

Would you want to see this as a pull request to Clair so that others can benefit from this feature. If you are not interested in supporting basic auth at all, I'll simply fork the code for our own internal use.

Let me know!

[2016-04-07 21:11] jzelinskie commented on #135
When you POST to `/v1/layers` with `https://user:password@yourregistry.com/path/to/layer` does it not simply work? This would be ideally how we support this if we don't already.

[2016-04-07 21:17] mattlorimor commented on #135
Dammit. Good question. Trying...

[2016-04-07 21:18] mattlorimor commented on #135
Yep. Works fine. Disregard my silliness. It's been a long day. :)

[2016-04-07 21:18] #135 closed, assigned to nobody

[2016-04-07 22:31] westlifezs opened #136 "analyze-local-images tool reports the second latest layer report rather than the current image layer?"
It seems like "analyze-local-images" evaluate all "Layers" one by one within "manifest.json" while assessing the target image, right? However, the topmost layer is not included in the "Layers" within "manifest.json". It is actually the value of "Config". It appears to me that the tool returns the most-recent-history layer assessment result rather than the assessment result for the target image (to

[2016-04-08 01:30] liangchenye commented on #136
The 'Config' is not used and the topmost layer is included:
https://github.com/coreos/clair/blob/master/contrib/analyze-local-images/main.go#L310

[2016-04-08 14:56] westlifezs commented on #136
makes sense. thx

[2016-04-08 14:56] #136 closed, assigned to nobody

[2016-04-08 17:42] westlifezs commented on #128
weird, I actually can do "wget https://[REGISTRY_URL]/v1/images/[IMAGE_ID]/layer" with a file called "layer" downloaded. It is actually a tar file with the container file system included. However, if I put the same url it either complains "could not extract the archive" or "could not find layer" (I tested docker at two environments, one is on our private cloud VM another is on my local VM, they ga

[2016-04-08 18:01] westlifezs commented on #128
the only difference I think of the two locations (URLs) is one with non-default port (8080) and the other one uses default port (80 or 443). The one with 8080 seems unreachable by clair but reachable through wget. does clair put any restrictions regarding which port I should use in the path url? I could not find any other reasons why this is happening.

[2016-04-11 14:52] Quentin-M commented on #128
It doesn't make much sense, to be honest. You're probably looking at the wrong place.

No it doesn't. See [data.go#L76](https://github.com/coreos/clair/blob/f0642bb47f4ebe23194b3ea736a20dc8661c1d7a/worker/detectors/data.go#L76).

[2016-04-11 15:37] Quentin-M commented on #134
Hi,

I started PostgreSQL using the command you shared above. Note that I am using `docker-machine`.
Now, either with a local Clair binary or using the Docker container, I use the following database source in the config:

[code]

Host may vary depending on your Docker setup.

[2016-04-11 19:21] #113 closed, assigned to philips

[2016-04-12 05:07] philips commented on #113
@knepperjm  this issues has been closed because kubernetes v1.2 is now available via coreos-kubernetes. You can find the docs for vagrant here: https://coreos.com/kubernetes/docs/latest/kubernetes-on-vagrant-single.html

[2016-04-12 06:37] Jerem28 opened #138 "Issues using analyze-local-images tool"
When I'm trying to run the analyze-local-images tool with Clair deployed locally, I always encounter this problem :

[code]

Concerning the logs produced by my Clair instance running, I have this :

`worker: layer d8bd0657b25f17eef81a3d52b53da5bda4de0cf5cca3dcafec277634ae4b38fb: failed to extract data from http://127.0.0.1:9279/d8bd0657b25f17eef81a3d52b53da5bda4de0cf5cca3dcafec277634ae4b38fb/layer

[2016-04-12 17:16] Quentin-M commented on #138
Hi,

It looks like that Clair runs on a remote host and that you've specified the `-endpoint` parameter correctly (`clairsvc-clair.kmt-dev1.orange-labs.fr`). However, it looks to me that Clair, on the remote host, tries to download the layer from `127.0.0.1` (ie. locally). This means that you probably have set `-my-address` to `127.0.0.1`. You must set this to the public IP address of the host tha

[2016-04-14 18:31] westlifezs commented on #128
i think this is probably caused by of our local setup. anyway, thanks all for the great answers.

[2016-04-14 18:31] #128 closed, assigned to nobody

[2016-04-15 05:30] jgsqware commented on #134
Same here,  even with the fully decoupled config proposed by @Quentin-M. Works with Clair RC1

[2016-04-15 05:34] Quentin-M commented on #134
Actually, could you show me your entire config file please? You must have a clair root key now in your config: https://github.com/coreos/clair/blob/master/config.example.yaml#L16

[2016-04-15 05:57] jgsqware commented on #134
@Quentin-M for that's the problem. Fixed with the root key.

Wrong config loading should output something isn't it?

[2016-04-15 06:48] jgsqware commented on #134
I've opened a #140 to return an understandable error when config is not loaded properly.

[2016-04-15 13:17] Quentin-M commented on #134
@GabrielleLC See my answer above, I believe that it's going to fix your issue.

[2016-04-18 10:15] Jerem28 commented on #138
My mistake, I mixed up some of my logs and accidently paste the wrong ones, it seems to work locally now, but I have to work on finding a way to expose HTTP Server through a public IP with our company environment. Thanks for your help :)

[2016-04-18 10:15] #138 closed, assigned to nobody

[2016-04-18 17:11] #134 closed, assigned to nobody

[2016-04-18 17:12] Quentin-M commented on #134
Closed by the merge above. Feel free to re-open if necessary.

[2016-04-19 04:48] jgsqware opened #141 "Heatlh api call return 0 as status code"
Strange behavior,

when I curl /health, I received a Status Code 0.

[code]

Work well in 1.1.0-RC1

[2016-04-19 04:51] jgsqware commented on #112
Hello, you could have a look at github.com/wemanity-belgium/hyperclair.

It try to address that problem, with an easier cli to interact with clair

[2016-04-19 05:17] jgsqware commented on #141
In the logs, I get: `api: 192.168.99.1:32569 'GET /health' 200`

[2016-04-19 10:06] liangchenye commented on #40
Working on this.

Using git command to download the vulnerability data in Synk/vulndb/data/npm

[2016-04-19 14:29] Quentin-M commented on #40
Is there any better (automated) database than that?
It looks that they based their work on https://nodesecurity.io, https://retirejs.github.io/retire.js/ and https://blog.osvdb.org/ (which is now shutdown)

[2016-04-19 16:07] Quentin-M commented on #141
https://github.com/coreos/clair/blob/83b19b6/api/router.go#L65 appears to be incomplete, it never writes the status code in the response.

[2016-04-19 16:22] #141 closed, assigned to nobody

[2016-04-19 19:04] westlifezs opened #144 "proxy issue encountered while deploying clair through docker"
Hello,

I hit a proxy error while deploying clair through docker.
I've already setup postgres and configured clair (config.yaml) with the db.
Also I manually tested our proxy env variables and they work correctly.
I put the same url as proxy value in config.yaml and restart docker service and re-run the container.
However, when I check clair container log I see the following:

2016-04-19 18:53:43.

[2016-04-19 20:10] Quentin-M opened #145 "Standardize component registration and their config"
One example is that v1.0.0 doesn't support specifying database-implementation specific configuration blocks. More generally, we should improve and standardize the registration story.

[2016-04-19 20:29] Quentin-M commented on #97
Closed by 51e4086

[2016-04-19 20:29] #97 closed, assigned to nobody

[2016-04-19 20:30] Quentin-M opened #146 "Replace worker engine version with list of capabilities"
Currently, the worker engine version is stored as a [constant](https://github.com/coreos/clair/blob/8fd0aa1/worker/worker.go#L29), that isn't optimal as people can register and upgrade their custom components. The capabilities could potentially be versioned.

[2016-04-19 20:36] Quentin-M opened #147 "Evaluate usage of an ORM"
With the recent improvements of https://github.com/jinzhu/gorm, it might become valuable to use it for the within the PostgreSQL database implementation - simplying the code. This would also give us to opportunity to maintain MySQL support more easily for instance.

[2016-04-19 20:41] Quentin-M opened #148 "Address client UX"
When developing Clair, we focused on making Clair integrable by developers and container registries. It appears that the community uses Clair as it is a lot, analyzing images that could be either local or hosted by some registries. This issue is about integrating a solid command-line tool, for instance (and removing the whole `contrib/analyze-local-images` tool).

[2016-04-19 20:53] Quentin-M commented on #112
Related to #148.

`Data detectors` are used to detect the filesystem of container layers. Therefore, there's a bit of a container spec dependency there. However, this logic currently applies to single layers and can't be used to detect multiple layers / organize them. I don't want to add extra spec dependencies (i.e. reading a manifest) in another subsystem of Clair. Thus, we might want to extend

[2016-04-20 02:54] liangchenye commented on #40
Oh, yes. nodesecurity.io keeps updating. Synk is slower than it.
We can get all the advisories from https://api.nodesecurity.io/advisories.

[2016-04-20 07:36] reiz commented on #10
I wouldn't call it `package.json` because that's the default for NPM. In my opinion it should have a different name to avoid conflicts with NPM.

[2016-04-20 09:40] borzamircea commented on #12
+1

[2016-04-20 09:49] liangchenye opened #150 "detect multiply namespaces in a layer"
I met this issue when I work on https://github.com/coreos/clair/issues/40.

The current concept of 'namespace' is inherited from 'operating system', so the `debian/redhat/ubuntu` data source which will never coexist with each other in a layer. But if we count npm/python in, we will have multiple namespaces in a layer.
 I think we need to modify currently scanning process a bit like this:
1. detect

[2016-04-20 13:02] Quentin-M commented on #12
Please say +1 on the mailing-list thread linked above. There's little we can do until Alpine decides to maintain a proper vulnerability database.

[2016-04-20 13:27] Quentin-M commented on #10
Absolutely. Note that Clair doesn't mention the term `packages` anymore since v1.0.0 as its capabilities could be extended to virtually anything.

[2016-04-20 13:31] Quentin-M commented on #40
@liangchenye That souds better to me! It's mentioned on https://nodejs.org/en/security/.

[2016-04-20 16:29] josephschorr commented on #10
`clair.json`?

[2016-04-20 17:15] andyshinn commented on #12
Would we care if the database was actually maintained by the Alpine Linux organization or could it be a 3rd party database?

When I originally saw this issue I envisioned something like a GitHub project that housed a mapping of CVE to Alpine packages that could be maintained by users through pull requests (and initially seeded http://wiki.alpinelinux.org/wiki/Cvechecker). New CVE would be pull req

[2016-04-20 17:19] Quentin-M commented on #150
Well, we anticipated this issue - which is I believe a big leap we need to solve.

For the records, the reason we detect and store namespaces for each layer is because we might not find this information in a particular layer - but only in a previous layer. For example, a layer that simply does `apt-get install` won't modify the files that tell us that this command actually installs `debian:8` pack

[2016-04-20 17:26] mattlorimor commented on #12
I think this method would be a strain (and misuse) of GitHub/GitHub's API if all the Clair servers in the wild have to go to GitHub for the CVE information. Would it not?

[2016-04-20 19:43] Quentin-M commented on #144
Hi,

My understanding is that you're using the [notifier/http/proxy](https://github.com/coreos/clair/blob/2fb815d/config.example.yaml#L77) configuration item, right? Because it is defined under the `notifier/http` configuration block, it is only being used for the HTTP notifier and nothing else.

You should still use the `HTTP_PROXY` environment variable to make the updater use your proxy.

[2016-04-20 20:45] Quentin-M commented on #58
Updating this question. As Clair v1.0+ is built as a framework, anyone can implement and integrate custom detectors and vulnerability databases that they may need. There is no dependency on packages, our defaults just happen to use them.

[2016-04-21 08:04] ghost opened #151 "Question: Finding CVEs given a pkg name"
1. Does clair expose an api to get all CVEs for a certain CPE? I think it did this earlier but not anymore with 1.0 release.
2. In case, a well formed CPE is not present does clair try to do approximate search/match give vulnerabilities? Is there a fuzz factor here?

[2016-04-21 08:06] ghost commented on #151
E.g. I want to know if pkg "ant-apache-bsf.jar" is vulnerabilities.

[2016-04-21 09:20] liangchenye commented on #150
[code]

A feature detector (rpm/dpkg) will support multiple `namespaces` (debian:6/ubuntu:14.04),
I add a new field 'Format' to the Namespace struct. Currently, we only have two formats: dpkg and rpm. The progress so far is good, but the pgsql operation is not finish yet.
https://github.com/liangchenye/clair/tree/multiple-detector

[2016-04-21 18:03] jzelinskie commented on #150
Is there any advantage to having a hierarchy like you've shown?

[2016-04-21 18:31] jzelinskie commented on #151
Packages are an example of what Clair calls _Features_ which are anything that when present could indicate a vulnerability.  Our [current API](https://github.com/coreos/clair/tree/master/api/v1) doesn't yet expose interactions directly with Features, rather Feature data is exposed in other contexts such as Vulnerabilities.

This sounds like a pretty straightforward way to extend our API going forw

[2016-04-21 18:37] rmartinez3 opened #152 "Only get vulnerabilities from a particular namespace"
I only need to be looking at RHEL based vulnerabilites. I'm seeing now how i can change either the datastore or the updaters to only handle RHEL based vulnerabilities. What interfaces can i change to get this option.

[2016-04-21 18:42] jzelinskie commented on #152
Recompiling clair without the imports of the components you don't want will do the trick.

https://github.com/coreos/clair/blob/4246c5244bbcffb9d278617a80bbe184bb8e935d/cmd/clair/main.go#L28-L45

[2016-04-21 18:43] rmartinez3 commented on #152
thanks for the quick response!

[2016-04-21 18:44] #152 closed, assigned to nobody

[2016-04-21 18:47] ghost commented on #151
I think this is a very useful addition. Is it possible to take it up with higher priority since this a tiny change too? I would have loved to do this but I am just starting to learn go.

[2016-04-21 19:00] Quentin-M commented on #151
Hi.

@jzelinskie: That looks good to me. We'd need pagination and maybe a similar query parameter as we have to get layers `?withVulnerabilities`.
@sunny137: Clair doesn't currently use CPEs. However, Clair doesn't do approximated matching either. It simply uses the names that are referenced by vulnerability trackers and detected on the systems.

[2016-04-21 19:59] jzelinskie commented on #151
@Quentin-M: The example I previously posted doesn't handle different versions.

We'd have to change the URL to be `/v1/namespaces/:ns/features/:feature/versions/:version/vulnerabilities` and maybe add some routes that make things more discoverable i.e. `/v1/namespaces/:ns/features` would list all of the features and `/v1/namespaces/:ns/features/:feature/versions` would list all the versions

[2016-04-21 20:48] westlifezs commented on #144
thanks for your clarification!
I think I should not specify proxy under notifier for this use case.
However, I could not find where to specify http env within the same config file.
I specified proxy under "updater" section but it did not work.
I also specified the "http_proxy" in /etc/default/docker but I am still seeing the same errors while launching clair.
Moreover, I specified "http_proxy" in

[2016-04-22 00:48] liangchenye commented on #150
@jzelinskie  I just want to explain why adding a new field 'Format' to Namespace and why it is sufficient.

[2016-04-22 03:43] dsampath commented on #12
+1

[2016-04-22 16:49] sbehrens opened #153 "Temp file location/filling up?"
Hello,

I've noticed when running the 'analyze-local-images' tool a few times that I start running out of disk space (until I reboot the system, restarting the Docker machine or removing the images doesn't help).  Where are the temp files located and are they being removed after the analyzer completes?

[2016-04-22 16:51] rmartinez3 commented on #153
The temp files should be located in your /tmp folder. it was for mine. it  should be a folder called analyze-lcoal-images or something like that. I had to remove it since it was filling my computer up

[2016-04-22 16:53] sbehrens commented on #153
Thanks, I just confirmed it's not cleaning up temp files correctly.

[code]

[2016-04-22 18:44] Quentin-M commented on #150
I see you want to add a `Format` field to `Namespace` but it looks like it may introduce some limitations and I don't really see the value of such field.

I think what we want is:
- Let `Layer` have multiple namespaces, detected by `NamespacesDetector`
- Make `FeaturesDetector` takes a list of namespaces and let each individual detector decide which `Namespace` they want to assign to their detecte

[2016-04-22 18:55] Quentin-M commented on #144
I'm sorry, I think there may be a misunderstanding around the notion of environment variable.

This should do the trick: https://docs.docker.com/engine/reference/commandline/run/#set-environment-variables-e-env-env-file

[2016-04-22 19:02] Quentin-M commented on #153
Hi,

Thanks for the report.

Which version of the `analyze-local-images` tool are you using? This issue should have been fixed by 1040dbbff9ea395700d1232b4906b73e0de32a8f. I will investigate that if you are running the latest version.

[2016-04-22 20:27] rmartinez3 opened #154 "Clair 1.1.0 not able to connect to postgres 9.5"
running clair go binary
Trying to run clair as I did in the previous 1.0 version.

However, clair is not able to start up

`2016-04-22 16:15:44.948652 I | pgsql: running database migrations
2016-04-22 16:15:44.949427 E | pgsql: no valid version found
2016-04-22 16:15:44.949471 C | main: database: could not open database`

I  use to run postgres on a container to test out clair as

`docker run --ne

[2016-04-22 20:38] Quentin-M commented on #154
Looks related to https://github.com/coreos/clair/issues/134
Could you show us your config from the beginning please?

[2016-04-22 21:13] rmartinez3 commented on #154
for <hostname> i have my host name seen in /etc/hosts

[code]

[2016-04-22 22:56] westlifezs commented on #144
thanks for your answer. this solved my issue.

[2016-04-22 22:56] #144 closed, assigned to nobody

[2016-04-22 23:39] westlifezs opened #155 "fetched NVD data not parsable"
Hello,

this is a continuing discussion of issue #144 .
I believe clair is able to reach the data source provider's website.
However, I hit the following errors while inspecting the container log.
It appears to me that data retrieved from NVD by clair is not parsable.
Could anyone provide some suggestions regarding how to work this issue around?

Here is the detailed log:

root@container-image-sca

[2016-04-23 12:08] liangchenye commented on #150
Thanks, most codes were done. Still debugging on the sql operation.

[2016-04-25 13:17] JonathanRosado commented on #12
+1

[2016-04-25 13:26] sylus commented on #12
This would be a pretty big win for container security in alpine. ^_^

[2016-04-25 17:45] Quentin-M commented on #12
@andyshinn That's a plausible solution, however, this is definitely not the greatest solution nor the one we aim for. I believe that security and thorough vulnerability tracking shall be treated as a first-class citizen and handled as close as possible to the source. Therefore, it should be handled upstream, by both the maintainers, the developers and the community. Additionally, Alpine already ha

[2016-04-25 18:24] Quentin-M commented on #154
Hi,

I just ran Clair with the following command and configuration:
- `docker run -d -p 6060-6061:6060-6061 -v $HOME/:/config quay.io/coreos/clair -config=/config/issue_154.yml`
- `source: postgresql://postgres:password@192.168.99.100:5432?sslmode=disable`

And with both these PostgreSQL versions:
- `docker run --net host -e POSTGRES_PASSWORD=password postgres:9.5`
- `docker run --net host -e POST

[2016-04-25 18:33] Quentin-M commented on #155
Hi,

Not only NVD metadata can't be downloaded but Ubuntu's updates either.
This is still in relation with the fact that you're behind a firewall and must use a proxy.
- bzr probably didn't use a proxy and thus, its connection timed-out
- making the assumption `100.80.142.39:8080` is your proxy, it appears that it broken the connection for some reasons.

[2016-04-25 19:37] sbehrens commented on #153
Fixed in the later build, thanks.

[2016-04-25 19:37] #153 closed, assigned to nobody

[2016-04-25 19:38] Quentin-M commented on #153
Awesome! I was actually looking at it and I just noticed that in some cases (i.e. SIGINT), it does not clean properly. Linking #158.

To answer the initial question, this contrib tool uses the `TMPDIR` environment variable (or `/tmp` if there's none) and then creates a folder named `analyze-local-images-XXX` where XXX is a random generated number.

[2016-04-25 19:57] rmartinez3 commented on #154
Yea i recompiled the go source and clair starts up now.

[2016-04-25 20:02] Quentin-M commented on #154
Shouldn't do any difference. The `quay.io/coreos/clair` Docker image is automatically built using the latest source code available on `master`. There's also the `v1.1.0` tag available.

So, did you figure out the issue? Should we close this?

[2016-04-25 20:03] rmartinez3 commented on #154
Yea we can close this issue. I'm no longer having any issues connecting to postgres

[2016-04-25 20:07] #154 closed, assigned to nobody

[2016-04-25 21:50] westlifezs commented on #155
thank you for your response.
May I know how ubuntu updates is retrieved by clair?
Is there a way that I can verify if any data has been retrieved via the proxy or not?
I want to use this information to infer firewall policy in order to work around this issue.

Thanks,

[2016-04-25 21:54] Quentin-M commented on #155
As shown in your logs, `bzr is used. Look at [500fc4e/updater/fetchers/ubuntu/ubuntu.go](https://github.com/coreos/clair/blob/500fc4e/updater/fetchers/ubuntu/ubuntu.go) to learn more.

Unfortunately, this is absolutely out-of-scope of Clair.

[2016-04-25 22:07] westlifezs commented on #155
thanks. I am guessing that some of the data like NVD are XML files, right? do you by any chance know where clair stores these files? I guess that I can use the XML data to verify if the proxy has been ever accessible at all.

Thanks,

[2016-04-26 16:40] amouat opened #159 "Add wait/backoff for postgres"
It would be great if Clair waited for Postgres to become available rather than crashing out. IMO, this should be done in the Go code itself. See https://medium.com/@kelseyhightower/12-fractured-apps-1080c73d481c#.b9pu0hu5u for more details.

In the meantime, I hacked together: https://github.com/amouat/clair-with-wait in case anyone finds it useful.

[2016-04-26 17:06] ghost commented on #151
I think not doing approximate matching and not relying on CPE is fine, answers my question. I see that this is marked as a design change, is this going to be a major effort from design and implementation point of view?

[2016-04-26 20:25] jzelinskie commented on #151
@sunny137 It's not that much of a change in the codebase, but the design tag is used to reference that there needs to be a design about how we'll extend the REST API.

[2016-04-27 14:26] Quentin-M commented on #159
Hi,

Sounds fair!
I'll make sure this is implemented.

Thanks for your input.

[2016-04-27 16:11] jzelinskie commented on #159
@amouat If you want to open a PR, I think we'd be fine with upstreaming this

[2016-04-28 14:27] chattr opened #161 "Docker host mount point set to anything other than /tmp results in HTTP 400 in Clair container"
This results in scan completing:

`volumes:
      - /tmp:/tmp`

This results in HTTP 400 as the container doesn't appear to be able to see data populated in /something/else:

`volumes:
      - /something/else:/tmp`

[2016-04-28 15:07] Quentin-M commented on #161
Hi,

I am afraid that I didn't exactly understand your issue. Could you please attach some logs?

[2016-04-28 15:47] chattr commented on #161
Hi,

No problem, thanks for getting back to me.

Here's what I see on the host when I mount /var/cache:/tmp and try to scan:

`# analyze-local-images -minimum-severity Medium 108fe768fd3b
2016-04-28 16:44:55.362145 I | Saving 108fe768fd3b to local disk (this may take some time)
2016-04-28 16:45:15.511345 I | Retrieving image history
2016-04-28 16:45:15.541229 I | Analyzing 16 layers...
2016-04-28

[2016-04-28 15:52] rmartinez3 commented on #161
Analyze image is sending the image layer path to be local. So Clair will expect to find the images locally. Analyze image stores the layer tar in tmp directory and when it sends info to clair.  A path is send where to find the layer. That is why in the instructions, it says to mount tmp directory to your docker container.

[2016-04-28 15:59] chattr commented on #161
Thank you for your answer -- I suspected that was the case. Is there a way it might be possible to mount elsewhere on the host? Or is it currently hard-coded in the Clair app to expect /tmp only?

[2016-04-28 16:12] rmartinez3 commented on #161
This is not hard codes in Clair.  I'm not sure if you can change where analyze-image stores the layers. Clair will look for the layers depending on the path you tell it to look for it.

[2016-04-28 17:11] Quentin-M commented on #161
Thanks for your participation rmartinez3.

@chattr Yeah, this is why this contrib tool is called `analyze-LOCAL-images`. However, note that you can override in which folder this tool stores the images using the `TMPDIR` environment variable. This means that you should be able to mount like this:

[code]

When using `TMPDIR=/something/else analyze-local-images [...]`

[2016-04-29 17:56] ghost opened #162 "Using clair on a private IP"
I have set up clair on an AWS VM and I can use it to analyze local images using the contrib tool. I run into issues when I try to use it from my dev machine i.e. laptop which obviously doesnt have public IP. I think this happens since analyze-local-images tool start a HTTP server on local machine but the AWS VM which host clair can't see this IP at all.
1. How should I solve this? I am willing to

[2016-05-02 13:57] rqc opened #163 "Support picking up vulnerability databases from local sources (files)"
Hello,

First of all, thanks for the wonderful work on Clair. We are using it to provide security scanning as part of a microservice-oriented system. In our development / test workflow, we run the Clair and Postgres containers to provide integration with our system. We are currently having issues since the downloads for  the database sources take a long time. I understand that this might be improv

[2016-05-02 15:43] Quentin-M commented on #162
Hi,

This happens because `analyze-local-images` is intended to let you analyze your _local_ Docker images, to let you discover Clair.
1. You should consider creating a tool for your use-case that would use the [API](https://github.com/coreos/clair/tree/68250f3/api/v1) or using [Hyperclair]https://github.com/wemanity-belgium/hyperclair) if it fits.
2. Correct. This is somewhat related to #112. Pus

[2016-05-02 15:47] #161 closed, assigned to nobody

[2016-05-02 17:45] ghost commented on #162
Hyperclair or custom tool which I write will still have to open a port and let clair pull tarballs, right? If this is the case then I will hold on till #112 is fixed. Writing a custom tool atop POST would make more sense.

About TLS, this is great. Good to know that communication between analyze-local-images running on host 1 and clair running on host 2 can be encrypted.

[2016-05-02 20:15] jgsqware commented on #162
Hyperclair use also a local server and need to allow connection from clair to hyperclair host.

another way is to deploy a registry on your AWS instance and push your image there. Then, you can use hyperclair to analyse those images

[2016-05-03 11:55] liangchenye commented on #163
It can not be done right now. How about commit the Postgres container with updated vulnerability data and reuse that?

[2016-05-04 23:14] westlifezs commented on #155
I think I figured out the root cause. proxy needs to allow ssh in order to make clair to work. Could someone in clair please explicitly mention this in the README file?

[2016-05-04 23:14] #155 closed, assigned to nobody

[2016-05-04 23:52] jzelinskie commented on #155
@westlifezs why not open a PR?

[2016-05-05 17:42] westlifezs opened #168 "configuring alternative solutions for ssh connection requirement"
Hello,

It appears to me that clair needs not only http connection but ssh to the internet.
However, it is difficult to meet this requirement (ssh internet connection) under many production environments. Is there a way to config clair to only require http proxy to work?

The reason that I am saying clair needs ssh because it uses bzr to create reps which will trigger ssh connection. details can be

[2016-05-05 20:37] rqc commented on #163
Thanks @liangchenye for the workaround. That might work for some of our scenarios, but sometimes, we run a CI pipeline for staging / dev purposes and we like re-creating an entire environment from scratch, including the Postgres container.

Would it be something useful to you to have this functionality? I might give it a try to make a contribution if there is interest.

Thanks :smile:

[2016-05-05 22:19] jgsqware commented on #163
You can also mount a docker volume for your postgres container and reuse
that volume later on in your ci pipeline

Le jeu. 5 mai 2016 22:38, Ricardo Quintana notifications@github.com a
écrit :

[2016-05-06 13:08] ghost opened #169 "Unable to download ubuntu bzr updates on clair 1.0"
2016-05-06 13:07:12.421066 E | updater/fetchers/ubuntu: could not branch Ubuntu repository: exit status 3. output: You have not informed bzr of your Launchpad ID, and you must do this to
write to Launchpad or access private data.  See "bzr help launchpad-login".
bzr: ERROR: http://bazaar.launchpad.net/~ubuntu-security/ubuntu-cve-tracker/master/.bzr/repository/packs/2e9c085340ade7642e29c378525be05e

[2016-05-10 03:39] ehsanmostajeran opened #170 "Could not analyze layer: Got response 400 with message"
Hi there, Thanks for this useful repo.
I am getting error 400 upon running analyze-local-images command.

2016-05-10 11:28:26.278833 I | Saving 14b59d36bae0 to local disk (this may take some time)
2016-05-10 11:28:29.372208 I | Retrieving image history
2016-05-10 11:28:29.372353 I | Analyzing 4 layers...
2016-05-10 11:28:29.372373 I | Analyzing 63e9eb8285fe5e7212932f3eb78d85bfc41685cf1d7aefdf5afbd

[2016-05-11 10:57] nlamirault opened #171 "Unable to download Debian and Redhat vulnerabilities"
I try to use Clair using this docker-compose file :

[code]

The output logs :

[code]

[2016-05-11 12:04] jgsqware commented on #171
Could you ping/curl trackers urls from inside your container?

[2016-05-11 14:16] nlamirault commented on #171
Yes.

[code]

[code]

[2016-05-11 23:03] #162 closed, assigned to nobody

[2016-05-11 23:51] Quentin-M commented on #171
Hi,

It looks related to https://github.com/golang/go/issues/11070. Could you give https://github.com/golang/go/commit/9010c2c569addeec49dcc07b2625a22c77940af5 a try?

[2016-05-12 00:49] Quentin-M commented on #170
Hi,

Could you please provide the result of `docker version`?

[2016-05-12 00:51] Quentin-M commented on #169
Hi,

Can you confirm that you can run `bzr branch lp:ubuntu-cve-tracker` in your environment?

[2016-05-12 01:22] Quentin-M commented on #168
Hi,

[exec.go#L24](https://github.com/coreos/clair/blob/f0642bb47f4ebe23194b3ea736a20dc8661c1d7a/utils/exec.go#L24) passes the environment variables (i.e. `HTTP_PROXY` and `HTTPS_PROXY`) that are provided to Clair, to the child processes (i.e. `bzr`). See [golang.org/os/exec/exec.go](https://golang.org/src/os/exec/exec.go?#L56).

I believe that replacing `lp:ubuntu-cve-tracker` by `https://launchp

[2016-05-12 05:00] xueshanf commented on #170
Same issue here.

[code]

Here is how I start the clair container:

[code]

Since I have limited space on /tmp,  I mounted /opt/data/tmp to container's /tmp. The mode for /opt/data/tmp is 1777, that should allow container to write to it.

Error message:

[code]

[2016-05-12 05:02] jgsqware commented on #170
which command are you running for analyze-local-images?

Le jeu. 12 mai 2016 07:00, Xueshan Feng notifications@github.com a écrit :

[2016-05-12 05:29] xueshanf commented on #170
@jgsqware The binary I download per Clair documentation https://github.com/coreos/clair/tree/master/contrib/analyze-local-images:

[code]

I was able to scan another image, but the one failed is the official "jenkins:latest" image from dockerhub.

[code]

[2016-05-12 05:43] jgsqware commented on #170
ok it's an official image. I got the same things with the tool Hyperclair.
I need to investigate more on that part.

@Quentin-M have you tried the analyze tool with official images?

Le jeu. 12 mai 2016 07:29, Xueshan Feng notifications@github.com a écrit :

[2016-05-12 06:19] Quentin-M commented on #170
Hi,

Alright. I think your issue is related to the fact that:
- analyze-local-images stores layers locally in `$TMPDIR` (or `/tmp`)
- analyze-local-images asks Clair to get the layers from `$TMPDIR` (or `/tmp`)
- Clair tries to get them from `$TMPDIR` (or `/tmp`), but except if `$TMPDIR=/opt/data/tmp`, nothing will be there.

In other words, the layers are probably in `/tmp` locally, but Clair's `

[2016-05-12 06:53] xueshanf commented on #170
@Quentin-M I see.  Now I can scan the image with the follow wrapper:

[code]

I was wonder why I was able to scan the other image - might be I had a successful ran before I changed the tmp, the result was cached?

[2016-05-12 07:00] Quentin-M commented on #170
I am glad you figured it out.

Yes, Clair caches analysis data. Re-analyzing multiple times a same layer doesn't do anything (as long as the worker's version hasn't been bumped).

Reference: https://github.com/coreos/clair/blob/53e6257/worker/worker.go#L96

[2016-05-12 08:51] philips opened #172 "fetchers: fetch and record package hashes"
In some cases a user may remove package metadata. We should be able to handle this use case. This will require two things.

1) Download package metadata for each of the indexes and correlating that to the version. There might be databases that have this already?

[code]

2) Host this database somewhere on our coreos.net mirror infrastructure so everyone could use it without downloading and extract

[2016-05-12 09:05] philips commented on #163
@jgsqware I think we need to consider packaging up and shipping a pre-built index for clair. Having every user scrap everything themselves is OK but it can be rather time consuming, particularly if [we add file hash](https://github.com/coreos/clair/issues/172) features.

[2016-05-12 09:07] philips commented on #78
@pipseed would you be interested in helping out with this?

[2016-05-12 20:45] Djelibeybi commented on #78
@Quentin-M Oracle Linux has it's own OVAL database and prefixes, so I'm not sure if the existing `rhel` fetcher would work.

I've been meaning to take a look at Clair for a while, so I might do that and take a look at this at the same time.

(FYI: I'm the Product Manager for Oracle Linux)

[2016-05-13 00:52] philips opened #173 "README: add external projects"
[Like etcd does](https://github.com/coreos/etcd/blob/master/Documentation/libraries-and-tools.md) we should have a doc that explains some of the different tools using and building on Clair.

Things we know of:
- https://github.com/zalando/clair-sqs
- https://github.com/wemanity-belgium/hyperclair
- https://github.com/containerops/dockyard
- https://quay.io

Can someone start this doc and link it f

[2016-05-13 01:30] ehsanmostajeran commented on #170
Thanks for useful comments.
But still I am not able to analyze image.
Below is my docker version.

Client:
 Version:      1.11.0-dev
 API version:  1.24
 Go version:   go1.5.3
 Git commit:   bb9b173
 Built:        Wed Apr  6 10:08:20 2016
 OS/Arch:      linux/amd64
 Experimental: true

Server:
 Version:      1.11.0-dev
 API version:  1.24
 Go version:   go1.5.3
 Git commit:   bb9b173
 Built:

[2016-05-13 02:14] Quentin-M commented on #170
@ehsanmostajeran This log message is unrelated to the 400 you're getting when analyzing images. However, Ubuntu Xenial is definitely supported since 3ecb8b69cb6823f2672fd5f5e59c9bdb30537894. Which Clair version are you using? Your 400 response could be related to the fact that you're using an old Clair version with the latest `analyze-local-images` contrib tool.

[2016-05-13 04:21] ehsanmostajeran commented on #170
@Quentin-M I actually pulled latest Clair image. I will double check Clair version and get back to you.

[2016-05-13 08:30] ehsanmostajeran commented on #170
Well I have pulled the latest Clair image again, and run container on another machine.
This is the log from Clair container:
`2016-05-13 08:17:07.249884 I | api: %!s(int=404) %!d(string=GET) / 10.1.23.19:53463
2016-05-13 08:20:24.336679 W | detectors: could not download layer: Get http://http://10.1.81.12:9279/c94ee45783f53a4124d06ef85229530ce653f2cdcf4ee72991c6d76fe57e61
25/layer.tar: dial tcp: l

[2016-05-14 13:23] ehsanmostajeran commented on #170
@Quentin-M I run Clair container and pulled latest analyzer binary on different machine. It is working now. Thanks

[2016-05-15 15:50] paulmcgoldrick commented on #12
+1

[2016-05-16 14:40] #170 closed, assigned to nobody

[2016-05-16 15:38] lukasz-bielinski opened #176 "no namespaces in response"
hi, i deployed clair on k8s cluster using documentation https://github.com/coreos/clair/tree/release-v1.2
but in response  from  http://_._._._:30060/v1/namespaces i see
i see
{
  "Namespaces": null
}
any hints what should i check?

[2016-05-16 15:51] Quentin-M commented on #176
Hi,

You simply have to wait for the initial update to complete. Look for `update finished` in the logs.

[2016-05-17 08:19] lukasz-bielinski commented on #176
hi, indeed i see now some response

[code]

but i do not have such namespaces.

another thing is, that i see in logs from clair

[code]

i have working connection to internet

[2016-05-17 15:49] Quentin-M commented on #176
Looks like you have a stall bzr lock (and/or process).

[2016-05-17 22:23] lukasz-bielinski commented on #176
but why?

[2016-05-19 14:10] #173 closed, assigned to nobody

[2016-05-19 16:02] jzelinskie opened #181 "Docs Directory vs Docs in Packages"
[etcd](https://github.com/coreos/etcd) organizes its documentation into one documentation directory, while clair has so far tried to keep docs as closed to the relevant source code as possible. We should evaluate the pros and cons of these two solutions.

For example, not everyone who wants to read docs is going to be familiar enough with Go to track down the correct places to find our current REA

[2016-05-19 23:58] jlk commented on #169
I'm running into similar - this is with v1.1.0 of the clair container from docker hub:

[code]

The updater then loops about once a minute.  I am able to run bzr branch manually in the container:

[code]

[2016-05-20 17:20] #145 closed, assigned to nobody

[2016-05-20 17:32] Quentin-M commented on #176
Duplicated with #176. Closing.

[2016-05-20 17:32] #176 closed, assigned to nobody

[2016-05-20 17:32] Quentin-M commented on #169
Hi,

Thanks for the report. I'll take a look. I will look into it, it really looks like a `bzr` bug to me.

However, you mentioned using the Clair container image from the Docker Hub. We do not maintain an image on this registry. Could you please tell me which image exactly are you using from there?

Linking #176.

[2016-05-20 17:40] jlk commented on #169
Whoops my bad - I pull it from Quay sorry :)

I'll do further testing over the weekend as well...I had (have?) this setup working in prod...just noticed the issue when I was spinning up a new service in dev w/ Docker for Mac.

[2016-05-20 23:55] philips commented on #12
@paulmcgoldrick @sylus @JonathanRosado @dsampath @borzamircea @jeremyd @stepanstipl @lian All of the +1's on this issue to add Alpine support to Clair are great but it would be better if you lobbied upstream on the alpine-dev mailing list and could pitch in helping them figure out how the Alpine project is going to solve this: http://lists.alpinelinux.org/alpine-devel/5228.html

[2016-05-23 20:53] sbehrens opened #183 "detectors: could not download layer: got status code 403, expected 2XX Error"
Hello,

I am getting a 403 when running analyze-local-images.  The following error is from the Clair API:

[code]

I can netcat fine between those hosts, and I can also run curl in a loop and I see the 403 when the http listener starts on the analyze-local-images client.

Any ideas?

[2016-05-23 21:16] Quentin-M commented on #183
Hi,

Given the IP address that I can read from these logs, it looks like Clair and analyze-local-images don't run on the same host. Thus, you need to specify both the `-endpoint` and `my-address` parameters as documented in [contrib/analyze-local-images/README.md](https://github.com/coreos/clair/blob/ff3c6ec/contrib/analyze-local-images/README.md).

Relevant: https://github.com/coreos/clair/blob/f

[2016-05-23 21:25] sbehrens commented on #183
I have specified both of those flags and the issue persists.  It should be
noted that communication  between the two houses over that port has been
confirmed using nc

On Monday, May 23, 2016, Quentin Machu notifications@github.com wrote:

[2016-05-23 23:36] sbehrens commented on #183
From client system:

[code]

Server docker log:

[code]

IP configuration/firewall is fine between hosts I can netcat between them fine, the 403 forbidden message seems to indicate it's something in the client http server that is returning a 403 when requested.

[2016-05-24 15:32] sbehrens commented on #183
The Main.go file seems to ber trying to filter based on the supplied IP address:

[code]

This seems like a decent security control for non-complex IP environments, however the actual Clair server IP is fronted by an amazon ELB so the IP it will be requesting images from (on the client) won't match.  I suggest you add an option to specify that additional ip address for environments like this.

[2016-05-24 17:27] Quentin-M opened #185 "Map Source Packages => Binary Packages"
In some cases, the Feature names we need to extract to match vulnerabilities isn't the most meaningful for end-users. For instance, when `libssl-dev` is installed, we currently stores `openssl` (the source name), that's how we are able to match its vulnerabilities. However, when it comes to fix the potential issues, reading `libssl-dev` is much more valuable. Thus, it would be nice to have a new f

[2016-05-24 19:38] Quentin-M commented on #183
Absolutely. The scope of `contrib/analyze-local-images` is limited to analyzing local images for discovery purposes. The proposer way to use Clair is to use it though its [API](https://github.com/coreos/clair/tree/ad11393/api/v1). You might also be interested in [wemanity-belgium/hyperclair](https://github.com/wemanity-belgium/hyperclair).

[2016-05-25 08:12] databus23 commented on #168
I also ran into this problem. Our whole corporate network only allows access via http/https/ftp via proxy servers.
@Quentin-M I tried your suggestion and it indeed fixes the problem:

[code]

So 👍  from my side for switching to https for the ubuntu CVE tracker.

[2016-05-25 17:35] westlifezs commented on #168
@Quentin-M @databus23 thanks for both of you for the information. I am currently using "docker" way to spin up clair as suggested in the main documentation. If I use the docker way, then I will not be able to change the source code and test it out on my end, right? Shall I have to use build from source to work this particular issue around?

[2016-05-25 20:49] philips opened #187 "Add fuzzy support for Alpine based containers"
Issue #12 is about adding full support for Alpine based images. This would require Alpine to add CVE metadata to their package management.

Instead, as a stop gap we can do "fuzzy support" of Alpine by looking through the `apk` database and fuzzy regex match it to the known CVE database. Explicitly this may create false positives:
- Backports won't be matched (does alpine do backports?)
- Releases

[2016-05-25 20:51] philips commented on #12
Anyone want to take a swing at "fuzzy" alpine support for Clair: https://github.com/coreos/clair/issues/187?

[2016-05-25 20:53] Quentin-M commented on #187
I feel that @eedevops should be added to the conversation.

[2016-05-25 21:01] Quentin-M commented on #168
Awesome, thanks @databus23 for the feedback on that. Your snippet doesn't show it but I assume that using `ubuntu-cve-tracker` doesn't work. I'll make the change, except if you want to do it?
@westlifezs: You don't need to do anything, we'll patch it.

[2016-05-25 23:56] sbehrens commented on #183
Thanks.

[2016-05-25 23:56] #183 closed, assigned to nobody

[2016-05-25 23:57] sbehrens opened #189 "getsockopt: connection timed out"
When running analyze-local-images sometimes I see this message in the Clair API logs, which results in a failure:

[code]

In this example, it worked through most of the layers then timed out.  Any ideas?

[2016-05-26 00:25] #168 closed, assigned to nobody

[2016-05-26 00:33] Quentin-M commented on #168
Clair 1.2.2 created to include this patch : https://github.com/coreos/clair/releases/tag/v1.2.2

[2016-05-26 12:53] ghost commented on #151
When do you think this will make in to release? Would love to see this happen sooner.

[2016-05-26 14:49] deejanu opened #190 "Could not analyze layer: Got response 400 with message. Error Message: Could not find layer"
I setup Clair and running Analyze Local Images. It works on some local images without any issues but on others I get:

2016-05-20 09:25:57.938749 I | Saving sha256:f9f99 to local disk (this may take some time)
2016-05-20 09:26:04.761874 I | Retrieving image history
2016-05-20 09:26:04.762038 I | Setting up HTTP server (allowing: 192.168.99.100)
2016-05-20 09:26:04.865555 I | Analyzing 11 layers...

[2016-05-26 16:02] sbehrens commented on #190
Sounds similar to what I was seeing, may be related to timeouts with `getsockopt: connection timed out`.  Try to look at your Clair API log, I just opened an issue on this.

`docker logs clair_container_name | less`

[2016-05-26 18:23] Quentin-M commented on #189
Hi,

I think that is caused by your network and isn't related to Clair. The error is too low-level and concerns sockets manipulation.

[2016-05-26 18:26] deejanu commented on #190
Yep, looks like time out:

2016-05-26 18:18:01.264586 W | detectors: could not download layer: Get http://192.168.99.1:9279/cb16cb853eb2c53caf2cd95f3f93ab462953b97ae6f48c935b31e49571b40c8e/layer.tar: dial tcp 192.168.99.1:9279: i/o timeout
2016-05-26 18:18:01.264609 E | worker: layer cb16cb853eb2c53caf2cd95f3f93ab462953b97ae6f48c935b31e49571b40c8e: failed to extract data from http://192.168.99.1:9

[2016-05-26 18:30] sbehrens commented on #189
The errors went away as soon as I rebooted the container, and the scanner works 'some' of the time.   Seems to work better if I cycle the API more frequently.  Am I hitting an unrecoverable error state that requires a reboot?

I'm deployed in AWS VPC with M3 large instances, network performance shouldn't be a problem (Same infrastructure that runs netflix.com).

[2016-05-26 18:59] Quentin-M commented on #189
What do you mean by `some of the time`? What kind of errors are you seeing? Socket timeouts?

I am aware that Clair works fine on AWS with m3.medium instances. I never tried under a VPC though.

[2016-05-26 19:09] sbehrens commented on #189
It only times out sometimes.  Works best with small images < 200 megs.  The 201's are telling me it's able to do some of the layers, but eventually I start getting 400's.  Bigger containers seem to result in less success, log below:

[code]

Similar behavior as the user in this issue: [190](https://github.com/coreos/clair/issues/190)

[2016-05-26 19:10] sbehrens commented on #189
Client messages are here:

[code]

[2016-05-26 19:28] westlifezs opened #191 ""docker" deploy support of postgres 9.3.12"
It looks like clair now only supports postgres 9.4+, right?
A couple of weeks ago I was able to use postgres 9.3.12 to server clair and see the db can be connected successfully. However, when I upgraded to the latest version of clair image with the same config file. I see an error in the container log saying:

2016-05-26 18:44:13.033496 C | main: pgsql: no database connection string specified

Is

[2016-05-26 19:40] jgsqware commented on #191
Could you check your configuration, since 1.2.2 the config has changed:
Have a look to the type and options tag:

[code]

[2016-05-26 19:43] Quentin-M commented on #191
Hi,

The PostgreSQL backend for Clair uses Recursive Queries, which has been introduced in **8.4**. The documentation states that Clair requires **9.4+**, which is, I believe, a mistake. I never tried with an older version though.

If you are using Clair on `master`, the database configuration changed (e7b960c05b19d3bca0e1027071cacbbcf131c1a5). You have see the new example at https://github.com/co

[2016-05-26 19:51] jgsqware commented on #191
My mistake: I got the same issue with the quay.io/coreos/clair:latest

[2016-05-26 20:18] westlifezs commented on #191
@jgsqware thanks for your confirmation.
@Quentin-M I strictly followed clair main doc under "docker" session of usecase.
Could you let me know which part/cmd I need to change to work this issue around?
Or I will need to build from source to resolve this issue?

thanks,

[2016-05-26 20:45] westlifezs commented on #191
It looks like v1.2.2 has not been pushed into repo yet.
what will be the most convenient way of working this issue around through docker deployment?

docker pull quay.io/coreos/clair:v1.2.2
Pulling repository quay.io/coreos/clair
Tag v1.2.2 not found in repository quay.io/coreos/clair

[2016-05-27 00:07] westlifezs commented on #191
I believe the documentation needs to be revised somewhat. but I manually changed my config file to be compatible to the one currently in master branch and my postgres can be connected now.

[2016-05-27 00:07] #191 closed, assigned to nobody

[2016-05-27 18:14] westlifezs commented on #168
I think my error still remains even with the latest image. I can still see the same error as last time. Could you please let me know how can I verify if I am running the correct code?

Here is the error snippet:
updater/fetchers/ubuntu: could not branch Ubuntu repository: exit status 3. output: bzr: ERROR: Connection error: while sending POST /ubuntu-cve-tracker/.bzr/smart: [Errno 110] Connection

[2016-05-27 19:37] Quentin-M commented on #168
Hi,

I just pushed v1.2.2 on Quay.io. Sorry for the delay.
I also have another upcoming PR to improve the error management within the Ubuntu fetcher.

[2016-05-27 23:25] westlifezs opened #192 "Alternate connection requirement for TCP: "could not decode NVD data feed""
Hello,

As indicated in #168 , I've used v1.2.2 to deploy clair.
Even though the ubuntu fetch issue goes away, I still see the following error:

2016-05-27 23:06:39.211061 E | updater/fetchers/metadata_fetchers: could not decode NVD data feed '2015': read tcp 172.17.0.2:56183->100.73.1.11:8080: read: connection reset by peer
2016-05-27 23:06:39.211103 E | updater: an error occured when loading met

[2016-05-27 23:27] westlifezs commented on #168
thanks. It seems like the ubuntu fetcher issue goes way but another error shows up as mentioned in #192. also just as a reminder you updated https://raw.githubusercontent.com/coreos/clair/master/config.example.yaml but it is not compatible with v1.2.2

[2016-05-27 23:30] westlifezs commented on #192
this is the full log. It seems like other update has been completed except the meta data of nvd 2015. will this still be good enough for me to run clair? Here is my full log:

root@container-image-scanner-63b7:/home/su_zhang# docker logs 224ddee833dd
2016-05-27 23:03:56.576926 I | pgsql: running database migrations
goose: no migrations to run. current version: 20151222113213
2016-05-27 23:03:56.58

[2016-05-30 19:46] sbehrens commented on #189
Any thoughts or ideas on what the issue may be? Any way to increase timeouts for the http libraries possibly (wondering if with large layers it's hitting a timeout).

[2016-06-02 13:57] rqc commented on #189
Not sure if this is related, but overall running `clair` within my employer's intranet gave me many issues when using `golang`'s native dns resolver. I had to inject `GODEBUG=netdns=cgo`into the clair container so that the callbacks to download layers from the file server could be resolved correctly. Here is more info on this topic: https://golang.org/pkg/net/#hdr-Name_Resolution

[2016-06-07 21:23] Quentin-M commented on #93
^ As discussed before, go-bindata is not applicable. It wouldn't help running .go migrations without a go env.

[2016-06-09 10:04] Quentin-M commented on #171
Try to inject `GODEBUG=netdns=cgo` in the Dockerfile, before build time.

[2016-06-09 10:10] Quentin-M commented on #189
@sbehrens You may increase the timeouts but I don't believe that is going to solve anything. [30 seconds](https://golang.org/src/net/http/transport.go#L28) should be far enough to establish a TCP connection. I would try to tcpdump on both sides.

[2016-06-09 11:59] Quentin-M commented on #192
Hi,

It looks like a network error or a connection drop by a middleware (i.e. proxy).

NVD feeds are downloaded [using HTTP](https://github.com/coreos/clair/blob/5fdd9d1/updater/metadata_fetchers/nvd/nvd.go#L174).

Furthermore, as far as I know, Clair only use HTTP as of v1.2.2.

[2016-06-09 11:59] #192 closed, assigned to nobody

[2016-06-09 16:42] Quentin-M commented on #112
As @jgsqware mentioned, what about at least posting the content of individual layers? That would remove the need of having an HTTP server able to serve layer, and thus, simplify Clair's integration and security management. In that case, Hyperclair/clairctl would still ease of proper image posting.

It should be an easy change and non-breaking in regard to the API.

[2016-06-09 16:50] Quentin-M commented on #112
I still think that we may definitely accept images as well, maybe through another API call. To do so, we might extend the [worker.DataDetector](https://github.com/coreos/clair/blob/efa0d85/worker/detectors/data.go#L33) interface and wrap [worker.Process](https://github.com/coreos/clair/blob/efa0d85/worker/worker.go#L49).

[2016-06-09 16:57] jgsqware commented on #112
Agree with @Quentin-M, it should be 2 different way to upload. The advantage i can see of pushing image than layer tarball, is to avoid to push so layer already pushed to clair.

[2016-06-09 17:00] jgsqware commented on #112
However, the work of metadata extraction from images/manifests is already done in clairctl, so we can move it quite easily to a process in clair

[2016-06-09 17:14] Quentin-M commented on #112
True. While accepting posted layers would ease usage (as [explained above](https://github.com/coreos/clair/issues/112#issuecomment-224954369)), accepting posted images would ease usage even further, to the point where no client side logic would be required anymore, however, users might end up pushing data that have already been analyzed (which may or may not be a drawback for some use cases). In m

[2016-06-09 17:27] #169 closed, assigned to nobody

[2016-06-09 20:31] Quentin-M opened #200 "Kernel* packages should be ignored by FeatureDetectors"
Unless evidence to the contrary, code provided by kernel\* packages is never executed by containers.

[2016-06-11 00:35] jzelinskie commented on #200
I'm not sure if this is the ideal behavior.

If you're shipping a container with a vulnerable kernel, you should still be informed of this. Hiding specific packages should probably be implemented by whatever frontend (hyperclair, Quay, etc...) to the clair API people are using.

[2016-06-11 00:40] jzelinskie opened #201 "Remove mutation of Vulnerabilities & Fixes via API"
Any changes made here will be removed when Clair runs its next update and re-synchronizes with its upstream data source.

Unless an argument can be made otherwise, I don't see the value in supporting this behavior.
Correcting this would mean removing the `PUT` methods for vulnerabilities and fixes.

[2016-06-14 18:26] zfletcher opened #204 "config.example.yaml has data source in the wrong keyspace."
It fails to run unless it is in the database keyspace:

[code]

My patch fixes clair config and now it runs as expected.

https://github.com/zfletcher/clair/commit/c9a2272a94994e7f2bd5b3d16c6f7ff0f9ea3384

[code]

Please advise if this is a real issue, and if so, do you need me to PR it... ??

[2016-06-14 18:43] jgsqware commented on #204
As said in #203, the config.example.yml refer to the master branch, where the configuration is correct. Your patch refer to the release.

@jzelinskie @Quentin-M, we should address this point, we receive a lot of question around that. Any idea?

[2016-06-14 18:46] zfletcher commented on #204
Sorry!!  I am using the official image on quay.io/coreos, but was following the Master Readme.. My apologies for the erroneous question.

[2016-06-14 18:48] jgsqware commented on #204
It's a known mistake and we should address that to avoid confusion

[2016-06-14 18:53] Quentin-M commented on #204
As far as I know, the README matches with `quay.io/coreos/clair:latest`, right?

[2016-06-14 19:03] zfletcher commented on #204
@Quentin-M Only release-1.2's readme, not master (which now uses options), which hasn't yet been cut into a new release.
So the readmes are right, it is just that folks downloading from docker hub are getting release-1.2 not master, which is intended, but perhaps not well known/realized by consumers.

[2016-06-14 19:36] Quentin-M commented on #204
@zfletcher thanks for the heads-up. We did change the way our images are stored on Quay.io. The `latest` tag points to v1.2.2. To get the image built on the `master` branch of this repository, `quay.io/repository/coreos/clair-git` should be pulled instead.

The issue is that in the Quick start guide from the README, the `latest` tag is pulled (currently Clair v1.2.2) but `config.example.yaml` is c

[2016-06-15 06:00] jgsqware commented on #112
for POST layer: what do you prefer:
- POST v1/layers (with multipart) (need to evaluate if it breaks current POST method)
- POST /v1/layers/sha256:123587453 (with multipart to send needed info like parent...)

[2016-06-15 10:29] ghost commented on #10
Is this feature in? Can I specify the pkgs in a json/yaml file and figure out what clair thinks about it?

[2016-06-15 17:21] brianwcook opened #207 "RHEL namespaces are not getting created, RHEL fetcher says no updates"
I am seeing on multiple test instances of clair that there are no RHEL namespaces.  The fetcher is reporting there are no updates for RHEL.

clair[32415]: 2016-06-15 13:16:55.005371 I | updater/fetchers/rhel: fetching Red Hat vulnerabilities
clair[32415]: 2016-06-15 13:16:57.090650 D | updater/fetchers/debian: no Debian update
clair[32415]: 2016-06-15 13:16:59.168916 D | updater/fetchers/rhel: no

[2016-06-15 19:09] bartockbat commented on #207
Note:

[code]

However, when I look at the particular namespace:

[code]

But:

[code]

[2016-06-15 19:16] Quentin-M commented on #207
Hi,

Red Hat vulnerabilities are currently listed under the CentOS namespaces [[1](https://github.com/coreos/clair/blob/0733cd9/updater/fetchers/rhel/rhel.go#L294)].
Could you try the following?

[code]

[2016-06-15 19:25] bartockbat commented on #207
That works - however, we want to be 100% certain that it is picking up the RHEL7.x vulnerabilities.
How can we be certain?
What bugs me is that if I scan a RHEL based Docker image, I never see any vulnerabilities.
I can't believe that I am creating perfect Docker images.
G

[2016-06-15 19:27] brianwcook commented on #207
When we scan rhel images with vulnerabilities that show up in openscap,
Clair returns 'no vulnerabilities'
On Jun 15, 2016 2:25 PM, "One Whose Name We Cannot Speak" <
notifications@github.com> wrote:

[2016-06-15 19:32] Quentin-M commented on #207
Are you sure you are [analyzing](https://github.com/coreos/clair/tree/master/api/v1#post-layers) all the layers of your image, with the proper parents?

You can request the last layer of your image with https://github.com/coreos/clair/tree/ad11393/api/v1#get-layersname and verify that:
- the NamespaceName is set to centos:X (the OS is properly detected),
- the ParentName is present (the layer tree

[2016-06-15 19:37] bartockbat commented on #207
Quentin - I'm simply using the compiled analyze-local-images:

./analyze-local-images 012345689abcdef

2016-06-15 15:35:42.580693 I | Saving a17f0446090e to local disk (this may take some time)
2016-06-15 15:36:50.881041 I | Retrieving image history
2016-06-15 15:36:51.601475 I | Analyzing 11 layers...
2016-06-15 15:36:51.601496 I | Analyzing c453594215e4370541ba0a2a238c9429026de1d1deedf5e5b744277

[2016-06-15 20:09] Quentin-M commented on #207
Got it. If you are sure that you ran analyze-local-images after the initial update had ran (`update finished`), then could you please give us the result of the following command to get the raw response, telling us what Clair thinks to know about your image?

[code]

[2016-06-16 12:19] rqc opened #208 "Cleanup downloaded assets in `/tmp` directory"
Hello,

We've been running Clair in our staging environment for a couple of months with an update frequency of 2 hours. Right now, our `/tmp` directory is over 20 gigabytes. As a workaround we will reduce the frequency of updates as well as create a cron job to clean it periodically.

However, I think Clair could do this cleanup after itself. There is no need to have those files in the `/tmp` afte

[2016-06-16 12:39] rqc commented on #187
Hello! We are actually working towards adding Alpine support for Clair. We already have a fetcher module and a detector module, both a  WIP: https://github.com/eedevops/clair/tree/eedevops/feature/alpine_support

It would be great to get your feedback asap, but we will eventually submit a pull request to you for review.

The major difference in our approach, is that we de-coupled the _collection_

[2016-06-16 12:47] rqc commented on #12
@philips we are working towards this. It would be great to get your feedback. Thanks!

[2016-06-16 12:56] bartockbat commented on #207
Quentin - I have a copy of the output below.
It looks like the proper name space is there - "NamespaceName": "rhel:7.2",

Perhaps you can elaborate on what we did?
Thanks - Glen

[Results.tar.gz](https://github.com/coreos/clair/files/318408/Results.tar.gz)

[2016-06-16 13:37] soninob commented on #208
+1

[2016-06-16 13:40] Quentin-M commented on #208
Hi,

Which version of Clair are you running?
Could you please describe which folders/files (and their sizes) do you have in the `/tmp` so we can identify which fetcher(s) are problematic? I believe that `du -h --max-depth=1 /tmp` will do the trick.

[2016-06-16 13:42] Quentin-M commented on #12
Referencing https://github.com/coreos/clair/issues/187#issuecomment-226472946.

[2016-06-16 14:35] rqc commented on #208
Hello @Quentin-M

Thanks for the quick reply. We are using the following docker image tag `quay.io/coreos/clair:v1.1.0`.

Here is the list of the `/tmp` directory.

[code]

Thanks!

[2016-06-16 14:56] brianwcook commented on #207
it looks like the namespace is detected as rhel 7.2, and that namespace contains no vulnerability metadata.  Is it supposed to be detected as RHEL or Centos?  Either way it doesn't detect any vulnerabilities in the layers.

[2016-06-16 15:10] Quentin-M commented on #207
Hi,

Thanks for the report. I now understand the issue. As discussed on IRC, the confusion came from the fact that you actually analyze RHEL images and not CentOS images. As it is right now, Clair only supports CentOS images.

I see few ways it can be done:
- Modify the `rhel` fetcher to write vulnerabilities' namespace as `rhel` instead of `centos` (one line change) and update the `redhatrelease`

[2016-06-17 02:29] brianwcook commented on #207
okay, I implemented option 2 just to get things working locally.  I hardcoded the detector so anything that it finds it names centos:something and now scanning is working.  I compared the new output with oscap-docker and the results match.

I am not particularly skilled at golang but I may give option 1 a try.  If I do get it working I might need some assistance getting it in shape to be pulled.

[2016-06-20 12:13] Quentin-M commented on #187
Hi,

We are pretty excited, that is a feature that we desire since the very beginning. Thanks for your work!

I would say that, generally speaking, our main concerns are:
- **accuracy**: vulnerabilities should be up-to-date, as specific and documented as possible,
- **integrity**: it shouldn't be possible to any non-trusted person to alter the data (malicious behavior, non-informed behavior).

How

[2016-06-20 12:18] Quentin-M commented on #207
Sure! That would really really be awesome! Thanks!

[2016-06-20 13:06] rqc commented on #187
@Quentin-M We are excited to be able to contribute back to Clair, since it has been very useful to us.

As far as the points that you raise above, those are concerns that we also have and we are doing our best to incorporate that into our design.
- To ensure **integrity** we are hosting the list of vulnerabilities that we have collected and matched in this github repo that is open source. We have

[2016-06-20 13:21] esatterwhite opened #209 "Clair Support for Arch Linux"
Would love to see support for Arch Linux. It is increasing in popularity / prevalence.

[2016-06-20 14:24] jzelinskie commented on #209
linking to #60

[2016-06-21 12:15] Quentin-M commented on #187
Thanks for the explanation.

For the vulnerability fetchers that Clair currently supports, I intentionally avoided to use the NVD database directly and instead, decided to use distribution-specific databases as they are far more accurate (knowledge about which source code is used / not used, backports, etc). Later, we agreed on [using NVD](https://github.com/coreos/clair/tree/34f62ef/updater/metad

[2016-06-24 17:49] steve-jansen commented on #172
+1, this is especially helpful for minimal Docker images

[2016-06-27 02:39] steve-jansen opened #211 "pgsql: pq: relation "goose_db_version" already exists"
We can deploy Clair successfully a first time, but, subsequent container restarts raise a DB migration error with Goose.

[code]

This seems to be related to [goose issue #1](https://bitbucket.org/liamstask/goose/issues/1/postgres-error-relation-goose_db_version) about the proper way to create metadata tables.

We are using a AWS RDS Postgres instance for the DB.

Any ideas on how to fix this?

[2016-06-27 02:40] steve-jansen commented on #211
/cc @stevehorsfield

[2016-07-07 07:49] dharmit opened #213 "Permission Denied for clair_clair container"
I'm following the Docker Compose section to get started with Clair but it's failing for me with below error in docker logs:

[code]

When I try to create a container from the image, it fails with below message:

[code]

An issue with the image maybe? But it's a 5 weeks old image so I doubt if that's the issue.

Let me know if I need to provide additional info.

[2016-07-07 10:26] Quentin-M commented on #213
Hi.

I could not reproduce with the latest version of the README (which uses Clair v1.2.2).

Docker Compose mounts your local folder `./clair_config` into the container at `/config`. Could you please make sure that this local folder exists and that it has proper permissions?

[2016-07-07 12:59] dharmit commented on #213
Do these permissions suffice?

[code]

[2016-07-12 14:44] jakedt opened #214 "Python vulnerability scanning"
Find a vulnerability source for python, potentially using https://requires.io, which in turn uses mitre: https://cve.mitre.org/

[2016-07-14 09:44] liangchenye commented on #214
I just found https://github.com/requires/monitoring/blob/master/requirements.txt which maybe useful.
But it seems incomplete, there are more python related CVE issues in cve.mitre.org than that mentioned in 'requirements.txt'

[2016-07-14 12:50] ScalockScanner opened #215 "Failing to detect CentOS 5 packages"
Clair wont find any vulnerabilities in Cenots 5.
This version is part of the supported systems

[2016-07-14 14:31] Quentin-M commented on #215
Hi,

Have you waited for the initial update to occur? You can try to debug what Clair knows about your image/layers using the API. There are few other related issues out there, you can probably dig in and see examples on how to figure out what's going on.

[2016-07-14 15:59] ScalockScanner commented on #215
Hi Quentin,
I know about the update time issue, and its not that. I tested many images
centos 6 and centos 7 on several deployments configurations.
Centos 5 returns always clean

just to make sure I checked in my DB that the update process had ended when
the vulnerability table stops going up ~90,000 vulns..

So all the the DB is defiantly updated.

Were there any positive tests with Centos 5?

Th

[2016-07-15 11:22] Quentin-M commented on #215
Hi,

Here is why CentOS 5 returns clean as you pointed it out:
- [updater/fetchers/rhel/rhel.go#36](https://github.com/coreos/clair/blob/c1a71441139046b7ab2a9ded7317c35cebd86dbc/updater/fetchers/rhel/rhel.go#L36)
- [updater/fetchers/rhel/rhel.go#293](https://github.com/coreos/clair/blob/c1a71441139046b7ab2a9ded7317c35cebd86dbc/updater/fetchers/rhel/rhel.go#L293)

The RHEL updater currently ignores

[2016-07-15 15:54] #215 closed, assigned to nobody

[2016-07-18 22:11] Quentin-M commented on #215
@ScalockScanner Clair v1.2.3 contains the fix to your issue.

[2016-07-21 19:39] Djelibeybi opened #221 "Disable fetcher(s)?"
Is there a way to disable one/more fetchers when Clair runs?

I'd like to disable the Debian/Ubuntu fetchers as they take a very long time to run and I'm not intending on scanning any images based on Debian or Ubuntu.

[2016-07-21 19:51] jzelinskie commented on #221
You cannot at runtime, but you can at compile time. If you strip the imports from main.go (i.e. remove [this line](https://github.com/coreos/clair/blob/master/cmd/clair/main.go#L31))

[2016-07-21 19:53] Djelibeybi commented on #221
True. I guess I was hoping for something I wouldn't have to keep reverting to make sure I don't check it into my git repo by mistake. :)

Can I turn this into a config enhancement request?

[2016-07-21 21:24] Djelibeybi opened #222 "Version comparison incorrect"
Clair seems to think that our `oraclelinux:6` has a vulnerability:

[code]

However, if we check the RPM version inside the image:

[code]

The version is actually greater in the image and thus not vulnerable.

The false positive is possibly due to the weirdness of the `nss-softoken` release versioning, as the increment in the release is `el6_7` to `el6_8`. However, the installed release is still

[2016-07-25 11:25] ScalockScanner commented on #215
Hi,
Thanks I saw the fix. Sorry for the late response. looks good.

Eli

On Tue, Jul 19, 2016 at 1:11 AM, Quentin Machu notifications@github.com
wrote:

[2016-07-25 15:54] brianwcook commented on #207
@Quentin-M, can you just clarify for me - You are expecting the change the vulnerabilities so they are written as rhel namespace instead of centos, but then how will centos vulnerabilities map to the rhel namespace?  Seems like you would then have the same problem in reverse plus needing to modify both the vulnerabilities table and the layers table data in the db.

What if I added another regexp t

[2016-08-01 16:09] deejanu opened #223 "Scanning Options"
We have downloaded and setup Clair, then pulled an image from public docker hub, how can we scan the image? Or do we need to build something that leverages Clair to perform the scan?

[2016-08-01 17:15] jzelinskie commented on #223
Our current recommendations are to use [hyperclair](https://github.com/wemanity-belgium/hyperclair) or [our PoC tool](https://github.com/coreos/clair/tree/master/contrib/analyze-local-images) for human driven analysis. If you want to have automated scanning (maybe as a part of your CI pipeline), you'll have to write your own integration with the [API](https://github.com/coreos/clair/tree/master/ap

[2016-08-01 19:02] deejanu commented on #223
Thank you. We tried to use PoC tool, and it was able to scan a test image, but it didn't find any issues, however when we used Quay there were many vulnerabilities found. Our understanding Quay is using Clair scan engine. Any thoughts why results are inconsistent between PoC (analyze-local-images) and Quay?

[2016-08-01 19:46] jgsqware commented on #223
are you sure that clair as finished to updating its database? you can find
it in the logs

Le lun. 1 août 2016 21:02, deejanu notifications@github.com a écrit :

[2016-08-02 13:30] ScalockScanner commented on #215
Hi Quentin,
Having some more issues with centos 5 scanning after the fix. getting an
error when updating the db with cves, ERROR:

2016-08-02 13:13:51.875583 E | pgsql: insertVulnerabilityFixedInFeature:
pq: duplicate key value violates unique constraint
"vulnerability_fixedin_feature_vulnerability_id_feature_id_key"
database.Vulnerability{Model:database.Model{ID:0}, Name:"RHSA-2009:0382",
Namespa

[2016-08-02 19:20] aurcioli-handy opened #224 "Clair and Amazon ECR"
I've been looking into how to integrate Clair with the use of Amazon's container registry. I haven't had much luck so far as it seems Clair requires a URL to a specific layer which I'm not able to get from ECR. Is there any support or documentation for this?

[2016-08-04 13:26] Quentin-M commented on #224
Hi,

Maybe you would be interested in https://github.com/zalando/clair-sqs ?

[2016-08-04 14:22] brianwcook commented on #207
@Quentin-M could you respond to previous comment?  I am blocked not sure how to proceed.

[2016-08-05 16:28] Quentin-M commented on #207
@brianwcook My apologies for the late answer. Your suggestion sounds fine to me 👍. Looks like you already have a patch then as suggested in https://github.com/coreos/clair/issues/207#issuecomment-226665572 then?

[2016-08-05 16:34] Quentin-M commented on #223
Hi,

Could you please provide more details? Such as the image used, commands used, logs, etc.

[2016-08-06 01:24] aurcioli-handy commented on #224
Ah, thankyou!

[2016-08-06 01:24] #224 closed, assigned to nobody

[2016-08-08 13:35] deejanu commented on #223
It looked like it was a proxy config issue, but we were able to get over that issue, the database updated and it is working as designed.

Thanks for your help!

[2016-08-08 13:35] #223 closed, assigned to nobody

[2016-08-09 11:42] noahwhite opened #225 "Clair container fails to start"
I'm attempting to start Clair v1.2.3 on CoreOS 1068.8.0 Stable and it dies on start. The logs show:

[code]

My docker run command looks like:

`/usr/bin/docker run --name quay-clair -d -p 6060-6061:6060-6061 -v /home/core/clair_config:/config quay.io/coreos/clair:v1.2.3 -config=/config/config.yaml`

Seems that its failing on the config, however, my config looks good. Is there a validator (like th

[2016-08-09 12:53] jgsqware commented on #225
hello,
could you provide your config.yaml?

[2016-08-09 12:56] noahwhite commented on #225
I had pulled it down with curl per the instructions. I ended up copying and pasting the one from the v1.2.2 branch and that worked. Thnx

[2016-08-09 12:56] #225 closed, assigned to nobody

[2016-08-10 15:49] elicode1 opened #226 "Clair scanner project structure (question)"
Was wondering why Clair is not structured the "Go way":

[code]

This is the main convention for using golang as far as the official doc claim:
[https://golang.org/doc/code.html](url)

So am I missing something? and if not are you open to pullresquests for refactoring the project to look more like the official doc advise?

Thanks
Eli

[2016-08-10 17:31] jzelinskie commented on #226
Clair is structured properly. If you follow the [instructions in the README](https://github.com/coreos/clair#source), it should install it properly into your GOPATH. If you don't want to use `go get` you will have to `git clone` the source code into the properly place in your GOPATH like so:

[code]

[2016-08-10 19:01] Quentin-M commented on #226
You simply mix up workspace and repository.

[2016-08-11 02:20] cuteydarling opened #227 "Could not save images even I get to see Docker Images"
Hello,

Sorry that I'm very new to Docker as well as CoreOS.

I'm currently facing this problem where i cant scan images locally where Clair is being deploy in local.

Below is my error popup.
![image](https://cloud.githubusercontent.com/assets/17915580/17577150/6a8d4e82-5f72-11e6-9ea3-2dca3a8de962.png)

Any idea why is this happening? Appreciate if anyone could help me out on this.

Thank You!

[2016-08-11 06:17] videns opened #228 "feature request: vulners.com fetcher"
Hello.

Suggest to add this database as a vulnerability source for you project:
https://vulners.com

Short description about it:

http://avleonov.com/2016/07/23/vulners-google-for-hacker-how-the-best-vulnerability-search-engine-works-and-how-to-use-it/

Its possible to download all collections at once and implement parsing it on your side:

https://blog.vulners.com/vulners-api-update-download-data

[2016-08-11 07:29] elicode1 commented on #226
Ok got it, so the only thing is missing for me in the README is package management.
Whats the right way to add packages?
`go get` will not install to `vendor/` so how would you advise to do it?

Thanks

[2016-08-11 15:24] jzelinskie commented on #226
`go get` does download the `vendor` directory. If you attempt to build Clair, it will use the packages in vendor.

[2016-08-13 06:53] hlysecpro opened #230 "main: failed to load configuration: yaml: line 23: did not find expected key"
Hi all,

when I run the container with :
docker run -d  -v $HOME/clair_config:/config quay.io/coreos/clair:v1.2.2 -config=/config/config.yaml

It failed with saying that:
2016-08-13 06:16:16.987993 C | main: failed to load configuration: yaml: line 23: did not find expected key

Any advice and suggestions will be greatly appreciated. The config.yaml is as follow:

![image](https://cloud.githubuser

[2016-08-13 09:33] Quentin-M commented on #230
Hi,

You may compare it to: https://github.com/coreos/clair/blob/master/config.example.yaml

[code]

[2016-08-13 18:02] jzelinskie commented on #230
@Quentin-M was actually confused. There's actually a breaking change in the config in master that has not seen a stable release. As long as you're using Clair v1.x.x you shouldn't encounter this issue.

The Postgres documentation linked above the comment actually mentions this format before URIs:

[code]

[2016-08-15 05:13] hlysecpro commented on #230
@Quentin-M @jzelinskie  Thanks for your advice. I have resolved the issue. Thare is a mistake in the config.example.yaml, it should be as follow:

[code]

[2016-08-15 05:14] #230 closed, assigned to nobody

[2016-08-15 15:33] vbatts opened #231 "NPE when postgres db disappears"
At some point local network had a hiccup and the postgresql db disappeared.
clair daemon died with a nil pointer exception.

[code]

Versions:
postgresql-server-9.5.3-1.fc24.x86_64
clair commit 4bc6416132dd5d3586d08a17d358adeeb760269e

[2016-08-17 12:02] Quentin-M commented on #211
Hi,

My apologies the delayed answer, I am not sure why I never noticed that issue before.

_goose_ ensures that the table doesn't exist before trying to create it [[1](https://github.com/coreos/clair/blob/28fbfc72e7a77f15fffc3848ecbb44943dd15a70/vendor/bitbucket.org/liamstask/goose/lib/goose/migrate.go#L199)]. However, by looking at how it is done, we notice that _goose_ executes a `SELECT` query

[2016-08-18 23:27] brianwcook commented on #207
Hi Quentin, please see - https://github.com/coreos/clair/pull/229

[2016-08-23 00:05] jzelinskie opened #234 "Create setup documentation"
Many people are confused that master and stable are not compatible and are frequently struggling with the setup process as a result. We should definitely add a setup doc for running the latest stable version.

[2016-08-24 18:03] jzelinskie opened #237 "Failure to scan layers over 200MB"
Due to [this line](https://github.com/coreos/clair/blob/28fbfc72e7a77f15fffc3848ecbb44943dd15a70/worker/worker.go#L34), we cannot scan layers larger than 200MB. This value should probably be configurable and not hard-coded.

[2016-08-24 18:59] Quentin-M commented on #237
To be accurate, it prevents analysis of layers that contain files that match the extraction pattern AND are over 200MB.

[2016-08-29 13:43] rqc commented on #187
Hello, we are renewing our efforts to contribute our work back to Clair. We need to make some changes to cleanup and make sure that we are following your contribution guidelines. Let us know if you have any questions or remarks. Thanks!

[2016-08-30 12:18] jonaz opened #238 "insertVulnerabilityFixedInFeature: pq: duplicate key value violates unique constraint"
Just tested clair for the first time. Followed the instructions in README.md running with docker-compose so the image is: quay.io/coreos/clair

After a few hours running i get duplicate key error when updateing.

[code]

[2016-08-30 23:37] #204 closed, assigned to nobody

[2016-08-30 23:39] Quentin-M commented on #222
Hi,

Thanks for the report.
Just encountered the issue too with `3.10.0-327.28.3.el7 < 3.10.0-327.el7`.

[2016-08-31 20:07] seanlutner opened #239 "Can't scan Docker images"
Hello,
I'm working on setting up a docker image build a test pipeline (Jenkins 2.x) and one stage is to scan the docker image via Clair. I have both Clair and Postgres containers running and they appear healthy. I'm then trying to use either Klar or Hyperclair in the scan stage to test the just built image. I'm using Clair 1.2.2 and Postgres 9.5. When I run the scan via Klar this is what I get:

[

[2016-09-01 18:08] seanlutner opened #240 "Clair and private registry with internally signed SSL certificate"
Hello,
I've setup an instance of Clair in my environment and am integrating it into my CI pipeline via the Klar project. My registry is SSL enabled with a certificate from an internal CA. When I try to initiate a scan of an image, I see the following from the Clair container. So I'm wondering how to get Clair to recognize my CA. I attached to the container and appended the CA cert to /etc/ssl/cert

[2016-09-01 19:23] jzelinskie commented on #240
You probably need to extend the Dockerfile to add your cert, execute `update-ca-certificates`, and then start Clair.

[2016-09-01 19:38] seanlutner commented on #240
I tested that out and it works so I'll go that route. Thanks!

[2016-09-01 19:38] #240 closed, assigned to nobody

[2016-09-01 20:06] seanlutner commented on #239
This was an issue with Klar and a fix has been provided.

[2016-09-01 20:06] #239 closed, assigned to nobody

[2016-09-02 13:12] seanlutner opened #241 "Not all layers are scanned"
I am initiating scans via the Klar (https://github.com/optiopay/klar) tool to integrate into my CI system. As I'm testing this, I'm seeing an issue where f4 of 10 layers of an image are scanned by Clair. The image is a `FROM scratch` Centos7 image. I built the image by downloading the same archive CentOS uses to build it's official containers. For a number of reasons, I have to build my own images

[2016-09-06 16:44] seanlutner opened #242 "Issue building from source"
I'm trying to build/install Clair from source in a Docker image and I'm seeing an error during the docker build. The error I get is

[code]

My Dockerfile is as follows and is based on our internal CentOS 7 image

[code]

As far as I can tell, this should work without issue and it does on non container systems, so I'm wondering what I'm missing or doing wrong?

[2016-09-06 17:39] Quentin-M commented on #242
Hi,

I did it just fine using `centos:6`. Which version of Go does your `yum -y install golang` install?
With Go <1.5, you'll have to install the dependencies manually (the vendor/ isn't supported).
With Go 1.5, you'll need to add `ENV GO15VENDOREXPERIMENT 1`.
With Go 1.6, nothing special to do.

[2016-09-06 17:46] seanlutner commented on #242
I've narrowed it down to the `go install github.com/coreos/clair/cmd/clair` being the problematic command, that's throwing the errror. It's pulling down the packages

[code]

So it looks like my version of golang is the problem

[code]

I'll install a newer version of golang.

[2016-09-06 19:00] #242 closed, assigned to nobody

[2016-09-07 17:54] jzelinskie opened #243 "oops"
ignore this

[2016-09-07 17:55] #243 closed, assigned to nobody

[2016-09-07 23:52] jzelinskie commented on #222
I think we're going to have to introduce version parsing for different data sources because while Debian's standard is _super_ flexible, it clearly isn't handling everything.

[2016-09-08 05:50] zyfdegh opened #244 "Broken url link: coreos clair document page 404"
README.md
# Documentation

The latest stable documentation can be found [on the CoreOS website](https://coreos.com/clair/docs/latest/). Documentation for the current branch can be found inside the Documentation directory at the root of the project's source code.

**returns 404**

[2016-09-08 14:28] alekssaul commented on #244
Thanks, I believe the correct address is; https://tectonic.com/quay-enterprise/docs/latest/clair.html

[2016-09-08 14:30] jzelinskie commented on #244
This link will be fixed the next time that CoreOS.com synchronizes its documentation with the Clair repository. Until then, use the link posted by @alekssaul

[2016-09-20 18:39] drobakowski opened #245 "Wrong version number determined on quay.io for an installed package"
On quay.io we are seeing a wrong version number determined for the installed package `gnupg` in our image `quay.io/synlay/docker-erlang:19.0`. On `quay.io` the version `1.4.20-1ubuntu3` is shown, while the image has the version `1.4.20-1ubuntu3.1` installed. Version `1.4.20-1ubuntu3` does have a vulnerability which is fixed with `1.4.20-1ubuntu3.1`.

I've verified the installed version through:

[

[2016-09-20 19:14] bartockbat opened #246 "Error reading my config.yaml file with complied version of clair"
The following command : /clair -config=/home/ec2-user/clair_config/config.yaml
Shows this - 2016-09-20 14:06:43.627102 C | main: pgsql: no database connection string specified

For testing purposes, I've disabled SELinux.
When I run the Docker version, I do not have any issues:

sudo docker run -d -p 6060-6061:6060-6061 -v /tmp:/tmp -v $HOME/clair_config:/config quay.io/coreos/clair:v1.2.2 -config

[2016-09-22 21:25] jzelinskie commented on #246
can you try using v1.2.4?

[2016-09-22 21:26] #226 closed, assigned to nobody

[2016-09-23 12:19] bartockbat commented on #246
I'll do that - however:
go get github.com/coreos/clair
go install github.com/coreos/clair/cmd/clair

Is the recommended commands used to build/install the clair binary.
How would you I go about making sure that I am using the correct branch and tag for the install?
Excuse my lack of knowledge - I really don't know!

Thanks - Glen

[2016-09-23 14:18] jzelinskie commented on #246
If you're using docker, just run the exact command that you used before, but change the version number:

[code]

If you're compiling from source you need to cd into `$GOPATH/src/github.com/coreos/clair` and run `git checkout v1.2.4` to checkout the correct version then execute `go install github.com/coreos/clair/cmd/clair`.

[2016-09-26 12:39] bartockbat commented on #246
@jzelinskie - thanks much! That did the trick!

I was able run it successfully.

Glen

[2016-09-26 14:54] #246 closed, assigned to nobody

[2016-09-28 06:11] ScorpioCPH commented on #241
@seanlutner, I got the same error as you, do you fix it now? thanks!

[2016-09-28 06:39] ScorpioCPH opened #249 "How to enable debug log in clair?"
I want to enable debug log in clair (which is `log.Debugf`), but there is no config in `config.yaml` for this feature, thanks.

[2016-09-28 15:47] tailhook opened #250 "Any way to run clair against a directory"
Is there any way to run clair against an already unpacked container in directory? (it looks like even command-line tools like klar and hyperclair use docker API, right?

It may be useful with containers alternative to docker and rkt. For example: systemd-nspawn, lxc,  and bare virtual machines.

At a glance, it looks like it's easy to do because clair unpacks containers anyway and check the folder

[2016-09-28 15:50] jgsqware commented on #250
hyperclair use in fact docker api but for lac image, it extract it as a
tarball into a folder that will be pulled later on by Clair, so we could
adapt the get directly the tarball from your layers

On Wed, Sep 28, 2016, 17:47 Paul Colomiets notifications@github.com wrote:

[2016-09-28 16:05] tailhook commented on #250
@jgsqware that sounds promising. Is there a command-line flag for that? Or should I open an issue in hyperclair?

[2016-09-28 16:12] jgsqware commented on #250
hyperclair will be integrated in clqir project so we can keep this issue.
need to think how to implement it.

On Wed, Sep 28, 2016, 18:05 Paul Colomiets notifications@github.com wrote:

[2016-09-29 03:37] supereagle opened #251 "x509 certificate error when detect content through docker registry blob api"
I use docker registry blob api to let Clair to get layer content from the docker registry, but it has x509 certificate error. The docker registry is configured with TLS, docker client can skip TLS check by supporting "--insecure-registry" option. The TLS check of detecting data can be skipped?

**Error log**
2016-09-29 03:22:09.276447 I | notifier: notifier service is disabled
2016-09-29 03:23:22.

[2016-09-29 13:04] Quentin-M commented on #249
Hi,

You can use the following command-line parameter: `--log-level=debug`

[2016-09-29 13:24] ScorpioCPH commented on #249
@Quentin-M, thanks for answering my question, but where to add this parameter, in docker-compose.yaml? I use `docker-compose` to deploy clair.

[2016-09-29 13:36] Quentin-M commented on #249
Right there: https://github.com/coreos/clair/blob/93f7f10/docker-compose.yml#L21

[2016-09-29 13:45] ScorpioCPH commented on #249
@Quentin-M, good, thank you so much!

[2016-09-29 13:45] #249 closed, assigned to nobody

[2016-10-04 05:48] ejholmes commented on #93
@Quentin-M we extracted https://github.com/remind101/migrate from https://github.com/remind101/empire. Fairly simple, and designed for embedding.

[2016-10-04 10:54] Quentin-M commented on #93
@ejholmes That's awesome. Thank you for the tip!

[2016-10-06 23:52] dmwoods38 commented on #238
Same thing here, has anyone resolved this issue?

[2016-10-06 23:54] Quentin-M commented on #238
Hi,

This issue looks repeatable and pretty critical, I'll free some time next week to take a look!

[2016-10-10 10:24] Windfarer commented on #238
the same issue

[2016-10-11 18:13] hkparker opened #254 "Clair is not reporting notifications for base images"
Using self-hosted quay and clair (via docker, version 1.2.4), two images are pushed, A and B.

Image A builds from the public dockerhub ubuntu image, and installs a few packages.  Image B builds off image A and installs a small web application.

After pushing to quay, image B is quickly scanned by clair, and vulnerabilities are reported in quay.  Image A is never scanned when pushed however, and r

[2016-10-11 18:15] hkparker commented on #241
I had this problem using self-hosted quay and was able to run the following statement on my quay database to resolve this:

`UPDATE image SET security_indexed = false, security_indexed_engine = -1;`

This seemed to cause quay to re-send every layer to clair, which led to no more unknown layers.  Sorry, I know nothing about klar, but hopefully there is a mechanism to similarly "forget" that some la

[2016-10-14 08:42] ghost commented on #3
Has this integration been done? If yes how? Would love to know the current status on this one. We took a different approach i.e. just wrote a wrapper for dependency check + retirejs to scan container images layer by layer and now planning to integrate Clair as well. This is different from what was asked by OP from integration point of view but relevant hence thought of mentioning it here.

Take a

[2016-10-18 18:36] pennacook opened #255 "analyze-local-images 500 error"
have clair and postgres installed locally (not containerized).

receiving:
Could not analyze layer: Got response 500 with message {"Error":{"Message":"database: an error occured when querying the backend"}}

I have verified postgres has data in it.

[2016-10-18 19:09] Quentin-M commented on #255
Hi,

Could you check Clair's logs? All database errors are systematically printed there. PostgreSQL logs may contain some information too.

[2016-10-19 13:00] pennacook commented on #255
where would Clair log? Not seeing it dump anywhere. I checked PostgreSQL logs and nothing.

[2016-10-19 14:59] Quentin-M commented on #255
Clair logs to standard outputs. When containerized, you can simply look at
the container’s logs.

From: Todd W. notifications@github.com notifications@github.com
Reply: coreos/clair
reply@reply.github.com
reply@reply.github.com
Date: October 19, 2016 at 3:00:23 PM
To: coreos/clair clair@noreply.github.com clair@noreply.github.com
Cc: Quentin Machu quentin.machu@coreos.com quentin.machu@coreos.com,

[2016-10-19 15:42] pennacook commented on #255
2016-10-19 11:42:04.421335 E | pgsql: searchVulnerabilityFixedInFeature.Scan(): sql: Scan error on column index 2: could not scan a Version from a non-string input

[2016-10-20 13:49] supereagle commented on #227
The analyze tool will run docker save command to pull image, so you should provide the full image name.

[2016-10-21 14:46] jason-odess commented on #238
We're also getting this error. Using the same instructions in the README with docker-compose. Any updates on this issue?

[2016-10-21 16:53] hkparker commented on #254
Seems like this was caused by a massive backlog of layers that needed scanning.  Clair never delivered the notifications at the end for the base containers presumably due to some expiry.  But not that everything is caught up, everything is scanning.

[2016-10-21 16:53] #254 closed, assigned to nobody

[2016-10-24 13:00] davyboyhayes commented on #213
@dharmit ... I had similar... I altered docker-compose.yml to change the volume:

./clair_config:/config

to

~/clair_config:/config

and recomposing the app, and it started nicely

[2016-10-26 05:06] ruqqq commented on #238
Are there any workarounds for this yet?

[2016-10-27 15:25] jzelinskie commented on #244
This is no longer broken.

[2016-10-27 15:25] #244 closed, assigned to nobody

[2016-11-01 00:03] LongLiveCHIEF commented on #234
I'm going to run through setting up the latest stable tonight, and will take a crack at this

[2016-11-02 02:45] phaseshift42 commented on #238
Red Hat's OVAL files [com.redhat.rhsa-20090382.xml](https://www.redhat.com/security/data/oval/com.redhat.rhsa-20090382.xml) and [com.redhat.rhsa-20090045.xml](https://www.redhat.com/security/data/oval/com.redhat.rhsa-20090045.xml) describe RHSA-2009:0382-01 and RHSA-2009:0382-02 respectively; these are two releases of the same RHSA with only minor differences. Clair 1.2.x disregards the '-xx' revi

[2016-11-03 15:21] arasheedu opened #258 "Clair + Quay question"
I am getting the below error:

level=fatal msg="Error publishing key" activeKey=<nil> error="Unexpected response code when publishing key: 400 " pendingKey=6WtQzKnVST

Below are the relevant config sections:

jwtproxy:
  signer_proxy:
    enabled: true
    listen_addr: :6063
    ca_key_file: /certificates/mitm.key
    ca_crt_file: /certificates/mitm.crt
    signer:
      issuer: security_scanner

[2016-11-03 15:25] Quentin-M commented on #258
Hi,

The key registry returns `400 Bad Request`, I'd start by looking at its logs. The registry URL might be invalid. However, this issue would belong to https://github.com/coreos/jwtproxy rather than Clair but, because in your case, the issue is related to the key registry and it seems to me that you are setting up Clair for Quay Enterprise, I would contact _support@quay.io_ instead.

Thanks.

[2016-11-03 15:30] #258 closed, assigned to nobody

[2016-11-03 19:10] noahwhite commented on #187
That's great news and would be a big contribution to the community.

[2016-11-03 19:14] Quentin-M commented on #187
Absolutely, it is the Top1 needed feature and we are really looking forward to it!

[2016-11-04 04:01] mattmoor commented on #187
Have you guys considered using: http://git.alpinelinux.org/cgit/alpine-secdb/ ?

You can fetch a .tar.bz of the repo at HEAD via:
   http://git.alpinelinux.org/cgit/alpine-secdb/snapshot/alpine-secdb-master.tar.bz2

[2016-11-04 21:27] jzelinskie commented on #187
Nice find @mattmoor! This looks like a good starting place, even though it doesn't look like it's being updated regularly; the last commit was 4 weeks ago.

[2016-11-05 11:03] Windfarer commented on #238
@Quentin-M Do you have any plan to fix this?

[2016-11-09 20:44] el-liberator opened #259 "Notifications"
How works notifications ?
I define an endpoint in the configuration file like this :
endpoint: http://name.domain.com/event
but no json file is sent to this url

[2016-11-09 21:31] Quentin-M commented on #259
Hi,

Each time the Clair's updaters run, new vulnerabilities or updates to known vulnerabilities may arise. When it is the case, notifications IDs are sent to the specified URL in JSON format with the POST verb. You'll then be able to retrieve this notification and browse its pages using the API. Once received, the notification has to be deleted explicitly to acknowledge that you properly dealt wi