[2021-11-24 11:52] JagadeeshRam opened #1446 "clairctl 401 error"
### Description of Problem / Feature Request
I was getting 401 error for this latest issues please tell how to avoid it

### Expected Outcome
Vulnerability report

### Actual Outcome
![image](https://user-images.githubusercontent.com/55401565/143233337-be46680b-ffcd-465f-87df-6229e9d5b4a3.png)

### Environment

- Clair version/image:4.3.5

[2021-11-24 15:19] crozzy commented on #1446
The latest version of `local-dev` by default has PSK authentication https://github.com/quay/clair/blob/main/local-dev/clair/config.yaml#L13. I suspect that you are coming across this. You can pass the config to `clairctl` and it should use the same PSK to authenticate calls:
[code]

[2021-11-27 12:30] JagadeeshRam commented on #1446
Thank You It was worked

[2021-11-27 12:30] #1446 closed, assigned to nobody

[2021-11-28 01:47] #1429 closed, assigned to nobody

[2021-11-30 03:50] bluefriday commented on #1433
I found this url in claircore source. (https://github.com/quay/claircore/issues/525)
@hdonnay  Can I check the usage of Repo2CPEMappingFile in offline environment?

[2021-12-08 00:15] mouradxmt opened #1454 "Clair 2.x does not parse xml.bz2 files from rhel"
### Description of Problem / Feature Request

### Expected Outcome
Download the XML files. parse them, build the database with the new updater

### Actual Outcome
`
{"Event":"could not decode RHEL's XML","Level":"error","Location":"rhel.go:158","Time":"2021-12-07 12:01:54.628764","error":"XML syntax error on line 1: invalid character entity \u0026SY\ufffd\ufffd˶ (no semicolon)"}
`
and it fails to

[2021-12-08 01:33] hdonnay commented on #1454
Patches welcome.

[2021-12-08 22:53] #1441 closed, assigned to nobody

[2021-12-13 17:29] mmahkamov commented on #1454
The RedHat server appears to be redirecting a request to https://www.redhat.com/security/data/oval/com.redhat.rhsa-RHEL%d.xml to https://www.redhat.com/security/data/oval/com.redhat.rhsa-RHEL%d.xml.bz2

where %d is 4,5,6,7 or 8.

rhel.go needs to be patched to handle this.

[2021-12-17 13:28] klr8 opened #1460 "Support ecosystem configuration"
### Description of Problem / Feature Request

Clair does not pass any ecosystem configuration to LibIndex:
https://github.com/quay/clair/blob/main/initialize/services.go#L117
https://github.com/quay/clair/blob/main/initialize/services.go#L172

Consequently LibIndex will use its default set of ecosystems:
https://github.com/quay/claircore/blob/main/libindex/opts.go#L77

As you can see the "java" ec

[2021-12-22 11:48] klr8 commented on #1179
We are also facing this issue as our PostgreSQL database, which is managed by a central team, puts severe constraints on the maximum number of connections.

[2021-12-23 14:00] Kilz78 commented on #1454
Hello @hdonnay and @mmahkamov,

We got exactly the same situation with clair-scanner. It seems that the file rhel.go has been deleted ?

do you know when you will release with this fix?

[2021-12-23 14:17] mouradxmt commented on #1454
Hi @Kilz78 ,
as per https://github.com/quay/clair/pull/1459#issuecomment-997068450 it seems that the release will happen in a week or two.

[2022-01-06 23:23] ajcald commented on #1433
We are experiencing the same issue, is there any fix for it?
Airgap mode is on errors are
[code]

EDIT:

 After doing some testing with airgap mode, it looks like clair is missing some scanners on initial setup of the database, so it will error out when it sees a layer that requires that scanner.

 clairctl export/import-updaters does not seem to solve this problem, the only fix is to let clair ta

[2022-01-10 20:07] mieliespoor opened #1468 "notifier unable to reach matcher endpoint, returning 404."
### Description of Problem / Feature Request

Notifier calls the matcher on the wrong endpoint when deployed in a HA scenario.

Because we don't run clair in combo mode, the matcher won't run on the same process as the notifier, so need to use the matcher_addr as defined in the config.

### Expected Outcome

Instead of calling the matcher on the relative path, it should call it on the absolute pat

[2022-01-10 20:37] mieliespoor commented on #1468
cancelling as I found the issue with my load balancer config. This is now working as expected.

[2022-01-10 20:37] #1468 closed, assigned to nobody

[2022-01-11 15:20] ajcald commented on #1433
We have tried this route and it still fails. Unable to find the entire contents of the file that you point to in the db and still seems to want to go out to the internet to retrieve information.

@hdonnay - any assistance on this would be greatly appreciated.

[2022-01-12 05:44] bluefriday commented on #1433
@hdonnay - Please look this PR (https://github.com/quay/claircore/pull/548)

I think this enable to prevent going out to the internet in airgap mode.

[2022-01-21 01:37] mouradxmt commented on #1454
Hi @hdonnay ,
Can you trigger the release for 2.1.8, the tag is already there.

[2022-01-21 17:28] hdonnay commented on #1454
I don't know what you mean, the container has been built: `quay.io/coreos/clair:v2.1.8`

[2022-01-21 17:28] #1454 closed, assigned to nobody

[2022-01-26 18:49] shpatel2 opened #1480 "Clair Scanning doesn't appear to catch CVE-2021-44228"
### Description of Problem / Feature Request

Hello, I've just created a fresh postgre database, and tested with both Claire v4.3.6 and v2.1.8.  I've waited 1+hr for the database to get populated, and I see no errors aside from the existing Ubuntu update failure. (server failure)

When I scan an image which I know has the log4j2 CVE issue (CVE-2021-44228),  it does NOT appear to be detected when s

[2022-01-26 19:44] crozzy commented on #1480
It's hard to debug this with an example container/manifest. The Java matching is currently done via the CRDA remote matcher which is a rate-limited API call that returns matching vulnerabilities (it doesn't look up vulnerabilities from the DB). It is possible that you are being rate-limited, to confirm, look for `remote api call failure` in the matcher logs.

[2022-01-26 20:19] shpatel2 commented on #1480
Thanks @crozzy.

I checked the logs (I'm running this as a container, so I'm not sure what you meant by "matcher logs"....as far as I'm aware the Clair container only has 1 log output stream)

I didn't get any output related to "remote api call failure"

[2022-01-26 21:20] hdonnay commented on #1480
Can you attach the full vulnerability report output (i.e. the output of `clairctl report -o=json <tag>`)?

[2022-02-04 07:16] ohauer opened #1485 "Number of connects / disconnects of clair during 24h to postgresql"
### Description of Problem / Feature Request
after installing quay.io/coreos/clair:v4.3.5 and connected to postgresql we saw in our monitoring a high increase of connects/disconnects rate from clair to postgres.

add the following lines to file postgresql.conf

[code]
we count 410.586.268 connects/disconnects during 24h from clair in idle state (no scans done during this time)

### Expected Outcom

[2022-02-04 16:54] Devy99 opened #1486 "Cannot analyze images derived by docker commit"
### Description of Problem / Feature Request

I am trying to analyze local images obtained through 'docker commit' command.
Suppose we have a local image called 'test'. I want to update this image and save the result through docker commit command, obtaining a second image called test2.

Now, if I try to scan the first image with the command 'docker-compose exec clairctl clairctl analyze -l test' i

[2022-02-04 22:55] hdonnay commented on #1485
How often are updaters run? How many Clair instances? How many concurrent connections are made per instance?

[2022-02-04 23:18] hdonnay commented on #1179
This should be possible via the connection string as of e86c1fbfe45b7b6898ba09ca567e814e5022698e.

The first release to include this should be v4.4.0, and it's currently in the nightly builds.

[2022-02-04 23:18] #1179 closed, assigned to nobody

[2022-02-09 06:53] Kinjal05 opened #1487 "clair server (v4.3.6) did not start when we do "docker-compose up -d""
### Description of Problem / Feature Request
When I do "docker-compose up -d" from clair directory, clair server keeps on restarting mode. It doesn't come up.`

### Expected Outcome
`$ docker-compose ps`
     ` Name                    Command                 State              Ports`
`---------------------------------------------------------------------------------------`
`clair_clair_1      /usr/

[2022-02-09 16:08] hdonnay commented on #1487
Please post log output from the clair container.

[2022-02-09 16:17] Kinjal05 commented on #1487
Hello @hdonnay,

Thanks for your help. I have attached log output below, please take a look.

`$ docker-compose ps`
    `Name                    Command                 State              Ports`
---------------------------------------------------------------------------------------
clair_clair_1      /usr/local/bin/catatonit - ...   Restarting
clair_clairctl_1   /usr/sbin/crond -f               Up

[2022-02-09 16:41] hdonnay commented on #1487
The docker-compose file in the v4.3.6 release needs to be used via the Makefile.

[2022-02-09 16:51] Kinjal05 commented on #1487
@hdonnay, Can you please share the detailed steps of it. I am little new to clair and its architecture.

Thanks,
Kinjal

[2022-02-09 18:36] hdonnay commented on #1487
You can run `make local-dev-up` in a 4.3.6 release checkout, although if you're doing development I'd recommend just using the `main` branch, which will start correctly just using `docker-compose`.

If you're looking to deploy clair as a service, I'd recommend looking at the [deployment] doc and tailoring that to your environment.

[deployment]: https://quay.github.io/clair/howto/deployment.html

[2022-02-10 06:44] Kinjal05 commented on #1487
I tried the 4.3.6 release but that too clair server is not coming up, it keeps on restarting, meaning it will never come in Up state.

if possible can you please provide docker-compose.yaml file which is running because the file which is there in repo, I think it is not working.

[2022-02-10 07:02] iainduncani opened #1488 "startupProbe and readinessProbe should use the readyz endpoint"
### Description of Problem / Feature Request

Since the `/readyz` endpoint was [introduced](https://github.com/quay/clair/pull/1211) I would expect any checks on startup and readiness to use them but the openshift manifest does not.

### Expected Outcome

The `readinessProbe` and `startupProbe` to use the `/readyz` health endpoint.

### Actual Outcome

They use the `healthz` endpoint.

### Environ

[2022-02-10 07:55] iainduncani commented on #1270
I've just come back to this issues as we've been seeing it in a few more of our test images.  Looking at the [Debian security FAQs](https://www.debian.org/security/faq) they say:

[code]

I realise this is talking about the mailing list in particular but I would image it holds true for any security feed from Debian that they apply to the source package and not the binary package and therefore as @

[2022-02-10 15:33] crozzy commented on #1270
We recently merged this: https://github.com/quay/claircore/pull/550 into claircore. It builds the source->binary relationship when saving vulnerabilities and expands them so Debian vulnerabilities are now saved in the DB at binary level with their binary package names.

[2022-02-10 16:24] hdonnay commented on #1487
On `main`, `docker-compose up` works.

[2022-02-11 12:40] websolut opened #1490 "Unable to scan RockyLinux"
Building a docker container using the following image as a base:

rockylinux/rockylinux:8.5

### Description of Problem / Feature Request
Clair throws the following error:
[code]

### Expected Outcome

image should be recognised as RHEL or Centos and scanned.

### Environment
- Clair version/image:
- Clair client name/version:
- Host OS:
- Kernel (e.g. `uname -a`):
- Kubernetes version (use `kubec

[2022-02-11 14:12] iainduncani commented on #1270
@crozzy this is great news!  I can confirm that this does indeed work for _most_ of our test images.  Sadly, the image reported in this issue still has a problem.  I can see that we are now getting a `vuln` entry for `DSA 4387-1` as expected but the fixed in version is wrong.

The fixed in version in the `vuln` table is set to `0:1:7.4p1-10+deb9u5`, i.e. it has added an extra epoch of `0:` on the

[2022-02-11 14:38] cathyyoung commented on #1270
It appears that this bug in the Debian Oval feed output is likely due to [this section in the generation script](https://salsa.debian.org/webmaster-team/webwml/-/blob/36ad46455534cedf0fa7200df329508e31a99feb/english/security/oval/oval/definition/generator.py#L167):

[code]

and `value` should be checked for an existing epoch value before prepending `0:` in the `evr` element.

[2022-02-15 11:03] Kinjal05 commented on #1487
Hi @hdonnay,

Still clair server is not coming up.

bash-4.2$ docker-compose ps
      Name                    Command                 State              Ports
---------------------------------------------------------------------------------------
clair_clair_1      /usr/local/bin/catatonit - ...   Restarting
clair_clairctl_1   /usr/sbin/crond -f               Up           44480/tcp
clair_postgres_

[2022-02-15 15:53] hdonnay commented on #1487
You can run `make local-dev-up` in a 4.3.6 release checkout. On `main`, you can just use `docker-compose` directly.

I can't be any more help without knowing what you're doing, as the output you're pasting doesn't seem like it's from any `docker-compose.yaml` from this project. Neither the version in `main` nor the version in v4.3.6 have a `clairctl` container, use a container that has `catatonit`

[2022-02-15 17:17] Kinjal05 commented on #1487
Hello @hdonnay

As per your suggestion, I have tried just `docker-compose up -d` after cloning the repo locally, facing below issue.

bash-4.2$ docker-compose ps
     Name                   Command                  State                                  Ports
-----------------------------------------------------------------------------------------------------------------------------
clair-database

[2022-02-15 17:37] hdonnay commented on #1487
Run `go mod vendor` to populate the vendor directory.

[2022-02-15 17:46] Kinjal05 commented on #1487
I have tried `go mod vendor` but still facing same issue.

2022-02-15T17:44:48.050902027Z  golang.org/x/net@v0.0.0-20210805182204-aaa1db679c0d: is explicitly required in go.mod, but not marked as explicit in vendor/modules.txt
2022-02-15T17:44:48.050908089Z  golang.org/x/sync@v0.0.0-20210220032951-036812b2e83c: is explicitly required in go.mod, but not marked as explicit in vendor/modules.txt
2022

[2022-02-15 19:41] hdonnay commented on #1487
You need to run `go mod vendor` before `docker-compose`. If you've already created containers, they need to be recreated.

[2022-02-19 01:49] #1486 closed, assigned to nobody

[2022-02-24 09:03] xwb1993 opened #1499 "how can run the project"
I haved download the clair-release-4.3,but when run clair\cmd\clair\main.go,shows
must provide a -conf flag or set "CLAIR_CONF" in the environment.
How can I solve it？ Thanks!

[2022-02-24 15:11] hdonnay commented on #1499
You must provide a -conf flag or set "CLAIR_CONF" in the environment, the value of either being the path to clair's config file.

[2022-02-25 01:48] xwb1993 commented on #1499
![github](https://user-images.githubusercontent.com/18282502/155637632-592975dd-a094-4d93-a508-b38ef8cb5b7b.png)

Thank you for your reply！ But i'm not sure which one is clair's config file  inneed,like this?

[2022-02-25 02:05] hdonnay commented on #1499
Yes, that's the format that's needed. You'll have to customize it to your environment, as described [here](https://quay.github.io/clair/howto/getting_started.html). You can also find short explanations for the configuration keys [here](https://quay.github.io/clair/reference/config.html).

[2022-02-25 02:10] xwb1993 commented on #1499
Thank you very much!
![Uploading 1.png…]()

[2022-02-27 01:53] #1490 closed, assigned to nobody

[2022-02-28 07:43] bluefriday opened #1502 "Clair does not detect CVE for centos images"
### Description of Problem / Feature Request

I scanned for using clairctl and clair latest version about centos image
But clair returned no CVEs result.
The results were the same even when using a different version of Claire, and no vulnerability was found even if the Centos version was changed.

### Expected Outcome

Clair detect CVEs about centos image.

### Actual Outcome

Clair does not detec

[2022-02-28 08:48] chengjun0124 opened #1503 "Python package vulnerability"
Hi
I have built an image from this Dockerfile:
[code]

Then I used clair scan to scan it. It reports some vulnerabilities, one of which is
`my-image:my-tag found pip     9.0.3  pyup.io-38765 (CVE-2019-20916)`

And here is its whole debug info:
[clair.txt](https://github.com/quay/clair/files/8151814/clair.txt)

I can see that the vulnerability is from `"package_db": "python:usr/lib/python3.6/site-p

[2022-02-28 16:23] hdonnay commented on #1502
CentOS does not publish any sort of security database, so these are the expected results.

[2022-02-28 16:23] #1502 closed, assigned to nobody

[2022-02-28 16:38] hdonnay commented on #1503
I don't have any insight into this package or vulnerability. My generic suggestions are to upgrade the package to whatever version fixes the issue, and double-checking that the vulnerability is present in the Red Hat package. The RHEL packaging sometimes backports fixes without changing the version.

[2022-02-28 16:38] #1503 closed, assigned to nobody

[2022-03-01 06:30] chengjun0124 commented on #1503
Hi @hdonnay
I have upgraded that package, and I have deleted folder /usr/lib/python3.6/site-packages, but clair still reports that vulnerability. I suffered this kind of issue in other os.

Actually, my question is not how fix this issue. I was wonder why clair reports a folder which I have deleted.

command `clairctl -D report -o json --host=http://my-clair-server:6060/ some-image` returned a jso

[2022-03-01 15:16] hdonnay commented on #1503
If you've deleted it in a later layer, it's still present in earlier layers.

[2022-03-01 16:20] #1499 closed, assigned to nobody

[2022-03-02 02:05] chengjun0124 commented on #1503
Hi @hdonnay

I have ever fixed some vulnerabilities. The most way to fix them was to upgrade packages via `yum update -y` in Dockerfile, like
[code]

It worked fine.

Does this mean that I fixed the vulnerabilities in a later layer? If yes, it should be present in earlier layer, but clair doesn't report the vulnerability. However, clair always reports python packages vulnerability whatever I delet

[2022-03-03 08:45] iainduncani commented on #1270
@SofyaTavrovskaya thanks for your help with this issue last year, I noticed that you are based in the Ukraine.  I really hope that you and your loved ones are safe at the moment 🇺🇦

[2022-03-03 08:52] annaparienti opened #1507 "Unsupported by Quay Security Scanner"
### Description of Problem / Feature Request

We scan our images via Quay Clair Security Scanner, since we bump the operator base image (see [this ](https://github.com/IBM/ibm-block-csi-operator/pull/243) change) we started getting an error message under Tags and SECURITY SCAN.
Could you assist with that?

### Expected Outcome

[code]

### Actual Outcome

[code]

### Environment

- Clair version/i

[2022-03-03 10:09] SofyaTavrovskaya commented on #1270
@iainduncani   I'm alive, but now I'm in Kharkiv and it's not the safest place in Ukraine. We are bombed by Russian aviation every day, and we don't know, when it stops. But it's dangerous to leave Kharkiv too. For now, we have hundreds deaths among civilian people, and I think, it's not the end.

[2022-03-03 15:06] hdonnay commented on #1507
If you're having problems with quay.io, please contact quay.io support.

[2022-03-03 15:06] #1507 closed, assigned to nobody

[2022-03-03 15:17] iainduncani commented on #1270
@SofyaTavrovskaya oh gosh I don't know what to say! It seems so unjust that two people on a GitHub issue can be living such different lives right now and I am so sorry for what you are going through.  The situation that we see in the news of Kharkiv in particular looks truly awful and although they just feel like insufficient words I really do hope that peace comes to your country soon and you can

[2022-03-03 16:09] crozzy commented on #1270
@SofyaTavrovskaya I am so sorry for what you must be going through, is there some way we can help (justgiving etc.)? Email me in private if needed: jcroslan@redhat.com, joseph.crosland@gmail.com :ukraine:

[2022-03-06 16:36] SofyaTavrovskaya commented on #1270
@crozzy @iainduncani Thanks for your support. I left Kharkiv two days ago, and now I am in Dnipro, where more calm situation.

[2022-03-09 08:23] safazenoune commented on #1152
Hello,
I wonder to know if there is any update about this issue !

[2022-03-10 09:51] joparram commented on #1487
Hello, i had the same problem and i solved it with the following steps:
- Make sure that you have installed go >= 1.16 in the host machine
- docker-compose down
- go mod tidy
- go mod vendor
- docker-compose up -d

[2022-03-14 14:20] #1487 closed, assigned to nobody

[2022-03-14 19:19] mieliespoor opened #1523 "[notifier] api/v1/notification returns contentType: text/plain when application/json is expected"
### Description of Problem / Feature Request

The api call `/notifier/api/v1/notification/{id}` returns with Content-Type: text/plain where application/json is expected. Even if we specify the application/json in the accept header, we still get a plain text response. Would be great if this could be fixed in the upcoming 4.4 release.

### Expected Outcome

Content-Type: application/json

### Actual

[2022-03-14 22:22] kaniini opened #1524 "Clair apparently ignores Alpine CVE rejections"
### Description of Problem / Feature Request

Alpine uses the special version `0` to represent CVE rejections in its security fixes feeds.  Clair does not recognize version `0` as a rejection, and asserts that the BusyBox package is vulnerable to CVE-2021-42377.  Because Alpine does not ship the BusyBox `hush` applet, Alpine rejected CVE-2021-42377 due to not being vulnerable to it.  This is resul

[2022-03-15 20:21] crozzy commented on #1524
Thanks for opening the issue! It'd be great to get some official confirmation from Alpine as to how `0` should be interpreted beyond that gitlab issue you linked to be able to add to the justification in the PR/code.

[2022-03-15 22:40] kaniini commented on #1524
A manual for the security fixes feed product is coming soon.

[2022-03-18 10:51] majewsky opened #1527 "crash on startup after upgrading from 4.3.6 to 4.4.0"
### Description of Problem / Feature Request

After upgrading from `quay.io/projectquay/clair:4.3.6` to `quay.io/projectquay/clair:4.4.0`, Clair crashes on startup. The error message indicates a configuration error, but the configuration file is the same that used to work fine with 4.3.6. The configuration file is <https://github.com/sapcc/helm-charts/blob/161e6637733f1d59a1e373b20fc1390d349e2a76/

[2022-03-18 10:54] majewsky commented on #1527
Comparing with the startup log from 4.3.6, I can see this line being new:
[code]
I really hope that's not the fatal error here, because I deliberately don't have any notification mechanisms enabled. I don't use the notifier stuff at all.

[2022-03-18 14:11] #1488 closed, assigned to nobody

[2022-03-18 14:20] hdonnay commented on #1527
Will look into this today. i think the changes with the config handling and the notifier didn't get matrix-tested with `combo` mode.

[2022-03-21 07:29] EvgenyB1001 opened #1528 "Clair v4 doesn't catch CVE-2022-0778"
### Description of Problem / Feature Request

We are using both Clair v4.3.6 (clairctl util is used for the scanning) and Clair v2.0.6 (arminc/clair-scanner with the related arminc database are used for the scanning)
While scanning our image it appeared that Clair v4 didn't detect CVE-2022-0778 vulnerability in openssl and openssl11 packages, while Clair v2 with arminc prefilled database actually

[2022-03-21 15:24] hdonnay commented on #1528
What steps did you take? Please attach `clair` logs and config, and `clairctl report`'s json output.

[2022-03-21 20:26] hdonnay commented on #1527
This should be fixed with #1531, and should be available to test in `nightly-2022-03-22` tomorrow. I'll double-check and backport this week.

[2022-03-21 21:13] majewsky commented on #1527
Thanks! I'll give that a try in our QA deployment tomorrow and let you know how it's looking.

[2022-03-22 09:46] majewsky commented on #1527
`nightly-2022-03-22` is looking good in our QA cluster. For reference, here's the startup part of the logs:

[code]

I don't know if you usually close issues on fix-committed or on fix-released, so I'll leave that part to you.

[2022-03-22 14:36] #1527 closed, assigned to nobody

[2022-03-24 11:55] Kieran-Muller opened #1540 "Alpine binary packages are not matched to source vulnerabilities"
### Description of Problem / Feature Request

I'm using a vulnerable version of Alpine ([3.10.2](https://hub.docker.com/layers/alpine/library/alpine/3.10.2/images/sha256-0489474da8ea22426ece86ace6c1c0026ab2fd3cdfbbd62b7e94650266c37d9a?context=explore))  which uses a vulnerable version of `lybcrypto1.1` as a subpackage of the [openssl package](https://gitlab.alpinelinux.org/alpine/aports/-/blob/v3.

[2022-03-29 15:39] EvgenyB1001 commented on #1528
Currently, could not be reproduced because of the base image has been updated and the specified vulenrability is not presented anymore. The issue coul be closed

[2022-03-29 19:20] #1528 closed, assigned to nobody

[2022-04-07 12:17] leofang94 commented on #208
https://github.com/goharbor/harbor/issues/8474#issuecomment-1091659082

[2022-04-10 19:17] mieliespoor opened #1546 "Allow all config specification via ENV"
### Description of Problem / Feature Request

Currently configuration for Clair should be provided through the config.yml. This works, but it would be great to be able to specify the config via the ENV as it would remove the need to create volumes only for the config.

This would make deployments in AWS ECS easier in that we won't need a volume only for the config which is somewhat of an overkill.

[2022-04-11 07:36] paulaldridge opened #1547 "Unable to trace requests though logs"
### Description of Problem / Feature Request

Trying to debug problems using the logs is hard as there is no way to connect logs to specific requests. It would be great to have the request id (and possibly more info such as the request URI) included in the logger context so that requests are traceable.

### Environment

- Clair version/image: v4.4.0

[2022-04-19 11:16] majewsky opened #1554 "official 4.4.1 image has vanished from Quay"
The 4.4.1 image is not available from the official Quay repository anymore:

[code]

Was an expiry date set accidentally, or is this an intentional yank?

### Environment

- Clair version/image: 4.4.1
- Clair client name/version: N/A
- Host OS:  N/A
- Kernel (e.g. `uname -a`):  N/A
- Kubernetes version (use `kubectl version`):  N/A
- Network/Firewall setup:  N/A

[2022-04-19 14:29] hdonnay commented on #1554
This was by mistake. The release script must have flagged it to expire -- I'll investigate.

[2022-04-19 14:29] #1554 closed, assigned to nobody

[2022-05-09 18:40] crozzy commented on #1270
It appears that the fix to the debian oval feed generation was merged and I can confirm that we're seeing vulnerabilities described above for this package:

[code]

[2022-05-09 22:40] crozzy commented on #1524
Closing this issue as it was addressed in the PR

[2022-05-09 22:40] #1524 closed, assigned to nobody

[2022-05-10 17:11] crozzy commented on #1540
[code]
The following are results for the container assuming the vulnerabilities reported in alpine feeds are all `source` vulnerabilities (and ingesting them accordingly). Still need to do some validation on how alpine is reporting these (@kaniini seems to have some insight into how the alpine feed is generated).

[2022-05-10 18:30] crozzy commented on #1540
[code]
This is how the hit-rate would potentially change with a fresh alpine:3.10.2 (with `jq` installed), this feels right so far.

[2022-05-10 19:02] crozzy commented on #1270
I'm going to close this as the original issue is solved, if there are further data issues with debian feel free to open a new ticket

[2022-05-10 19:02] #1270 closed, assigned to nobody

[2022-05-11 07:27] kaniini commented on #1540
@crozzy your assumptions are correct as usual, clair should match against the origin fields!

[2022-05-11 10:13] paulaldridge commented on #1540
Nice @crozzy, we were considering this as well - seems like the Alpine updater should store vulnerabilities as source packages, rather than binary as it currently does, and that would resolve this issue

[2022-05-11 11:52] esbeneickhardt opened #1564 "The Compose file './docker-compose.yaml' is invalid"
### Description of Problem / Feature Request
When following the guide in your [documentation ](https://quay.github.io/clair/howto/testing.html) to spin up a working local development environment, I get an error when calling **docker-compose up -d**.

### Expected Outcome

A working local development environment

### Actual Outcome

ERROR: The Compose file './docker-compose.yaml' is invalid because

[2022-05-11 15:13] hdonnay commented on #1564
It looks like your `docker-compose` is out-of-date. Profile support was added in v1.28

[2022-05-12 11:17] esbeneickhardt commented on #1564
Thanks for the suggestion, it seems apt-get only fetches docker-compose v1.25 on Ubuntu20.04.

I updated docker-compose using the following commands:
[code]

Now it works :)

[2022-05-12 11:34] #1564 closed, assigned to nobody

[2022-05-12 12:19] esbeneickhardt opened #1565 "Endless restarting of clair-indexer and clair-matcher"
### Description of Problem / Feature Request

When going through the **Getting Started With ClairV4** guide in [The book](https://quay.github.io/clair/howto/testing.html), and attempting to **Starting a Cluster** the two containers **clair-indexer** and **clair-matcher** go into a loop of endless restarts. Traefik is available at **localhost:8080**, but nothing else is.

### Expected Outcome

Clai

[2022-05-16 16:41] hdonnay commented on #1564
Opened #1566 to update the documentation.

[2022-05-16 16:53] hdonnay commented on #1546
I don't think this is a good idea.

Currently, there's precisely one way to configure Clair: via the configuration file. Respecting the `libpq` environment variables is a detail of the database driver, and if/when Clair gains other database support, that will still be subject to the configuration file.

I'll note that when using k8s, there's an easy built-in way to use [configmaps](https://kuberne

[2022-05-16 16:53] #1546 closed, assigned to nobody

[2022-05-17 18:35] hdonnay commented on #1565
You'll need to provide information on what's happening -- log output would be a good start.

[2022-05-17 18:52] #1480 closed, assigned to nobody

[2022-05-17 18:55] #1431 closed, assigned to nobody

[2022-05-17 18:58] #1411 closed, assigned to nobody

[2022-05-17 19:42] mieliespoor commented on #1546
I don't agree with you, but I suppose it's your product so you can do as you please. Not everyone uses Kubernetes so developing everything with tunnel vision around Kubernetes is limiting your product.

[2022-05-17 20:34] hdonnay commented on #1546
Requiring a configuration file has nothing to do with Kubernetes. It plays well with running on bare metal, any sandboxing scheme, a standalone `podman`/`docker` command, a derivative container, or a full container orchestration system.

As a concrete suggestion, if creating a volume is overkill I'd suggest creating a container tailored for your environment:
[code]

[2022-05-20 22:33] brenguy commented on #1565
you can fix this by installing the latest go on your linux os. Then you can run `go mod vendor` in the root of the project. I believe that is how I fixed the issue.

[2022-05-20 22:39] brenguy opened #1569 "Having issues with running clair report - receiving 401 not authorized from index api"
### Description of Problem / Feature Request

Receiving not authorized http responses when running clairctl. The docker-compose up for clair was used to install the services. Used from branch 4.4 release.

### Expected Outcome

should receive CVE report

### Actual Outcome

[code]

### Environment

- Clair version/image:  4.4
- Clair client name/version: version 0.2.0 (built from the same release

[2022-05-20 22:59] brenguy commented on #1569
I noticed that the traefik settings may need adjustment?

[code]

[2022-05-20 23:00] brenguy commented on #1569
[code]

[2022-05-20 23:03] brenguy commented on #1569
[code]

[2022-05-20 23:04] brenguy commented on #1569
It appears my requests are hitting the indexer service (so routing is working) but jwt tokens are missing. Not clear on how those are generated or configured and how to install them in the confines of the docker-compose file...

[2022-05-23 15:49] hdonnay commented on #1569
You'll need to use the same configuration file for `clairctl` when authentication is configured.

[2022-05-27 07:57] adnan-drina opened #1576 "Clair CRDA configuration"
### Description of Problem / Feature Request
Not able to configure Clair CRDA following documentation https://access.redhat.com/documentation/en-us/red_hat_quay/3.7/html-single/manage_red_hat_quay/index#clair-crda-configuration

### Expected Outcome

Java vulnerability scanning enabled

### Actual Outcome

Clair throws errors

[code]
---
[code]
---
[code]

### Environment

OpenShift 4.10.14
Quay O

[2022-05-27 11:59] DavidJuanes opened #1577 "Cannot generate report | UDP connection not yet initialized, an address has not been resolved"
### Description of Problem

I am having problems trying out the tool using the docker-compose default configuration.
I am able to start clair, and use clairctl to execute a report. The server seems to react to my request and the indexer index the image but at some point I get the following log line and the process gets stuck:

`clair-indexer   | 2022/05/27 11:52:27 UDP connection not yet initializ

[2022-05-27 14:14] crozzy commented on #1577
Seems like `http://127.0.01:6060` is the problem, also this should be redundant for a local default setup.

[2022-05-27 14:29] crozzy commented on #1576
I'm presuming the `A` is coming from the CRDA response body `Authentication failed`, this likely means that the `key` is incorrect, or for some reason there was a CRDA error when creating the key after filling out the form. Can you double check the key then we can discount that?

[2022-05-27 14:35] hdonnay commented on #1577
That log line is also not from Clair, I don't know if it's from the container engine or `docker-compose` or something else.

[2022-05-27 15:52] adnan-drina commented on #1576
I have double-checked my user_key, and with the curl command API returns a response. So, the user_key doesn't seem to be a problem. I think that the problem is rather the API request format coming from Clair.

[code]

[2022-05-27 15:56] adnan-drina commented on #1576
currently, my clair config is as follows:
[code]

   and the error message has changes slightly:
[code]

[2022-06-01 19:05] hdonnay commented on #1576
You can try rebuilding clair with `claircore@main` (i.e. including [c854b78](https://github.com/quay/claircore/commit/c854b78522352feb4b1f5a2281c53265598b4370)) to see why the CRDA API is complaining.

[2022-06-01 19:06] hdonnay commented on #1577
Will close shortly if there are no new updates.

[2022-06-01 19:08] hdonnay commented on #1569
Will close shortly if there are no new updates.

[2022-06-02 20:37] #1569 closed, assigned to nobody

[2022-06-02 20:50] hdonnay commented on #1577
Going to close this now. Please re-open if you have additional information to add, notably the status of all the containers. The fact it's not a log line from Clair and mentions "UDP" makes me think it might be something with a jaeger container or some networking weirdness with docker compose v2.

[2022-06-02 20:50] #1577 closed, assigned to nobody

[2022-06-07 19:23] hdonnay commented on #1576
Please run 4.4.3 and see what sort of errors are being reported.

[2022-06-07 19:24] #1565 closed, assigned to nobody

[2022-06-08 09:16] adnan-drina commented on #1576
after changing Clair version to 4.4.3 I'm getting indeed a new error message

[code]

[2022-06-08 14:42] hdonnay commented on #1576
I don't think there's much more we can do, here. I think you'll need to contact the CRDA team/operators for any additional troubleshooting.

We're using the correct method (see [here](https://github.com/quay/claircore/blob/de0aac89c58b7d9fafab577f003a811b97a7787e/crda/remotematcher.go#L260)) so I suspect the API is upset for some other reason and not reporting that correctly.

[2022-06-08 15:32] adnan-drina commented on #1576
Thanks a lot for pointing me to the correct method. After omitting URL and source values from my Clair config everything works as expected.
My final Clair config looks like this:

[code]

[2022-06-08 15:32] #1576 closed, assigned to nobody

[2022-06-09 13:12] #1153 closed, assigned to nobody

[2022-06-16 20:44] hdonnay commented on #1155
Closing because we're using as much data as possible from the upstream.

[2022-06-16 20:44] #1155 closed, assigned to nobody

[2022-06-16 20:46] hdonnay commented on #1336
Probably related to #1125?

[2022-06-16 20:48] hdonnay commented on #1361
Is this still happening on the latest release?

[2022-06-16 20:49] hdonnay commented on #1432
Is this happening on the latest version?

[2022-06-16 20:58] hdonnay commented on #1433
The configuration for the repository indexer is [here](https://pkg.go.dev/github.com/quay/claircore/rhel#RepoScannerConfig) -- setting the "file" key should workaround the 30 second timeout.

[2022-06-16 20:58] #1433 closed, assigned to nobody

[2022-06-16 21:03] hdonnay commented on #1485
Will close shortly if there's nothing more to report.

[2022-06-16 21:06] hdonnay commented on #1540
I think this is fixed with the linked PR.

[2022-06-16 21:06] #1540 closed, assigned to nobody

[2022-06-22 08:36] dkoci opened #1590 "clair-postgres pg_ctl: could not start server"
Hi.
I have some issue with clair-postgres pod. I am running quay in OKD 4.9. Everything was ok until yesterday. Clair-postgres pod stucked in terminating state. I am unable to start new pod.

Log output:
`waiting for server to start....2022-06-22 08:25:53.935 UTC [26] LOG:  listening on Unix socket "/var/run/postgresql/.s.PGSQL.5432"
2022-06-22 08:25:53.942 UTC [26] LOG:  listening on Unix socket

[2022-06-22 14:28] hdonnay commented on #1590
What do the logs in the `log` directory say?

[2022-06-22 18:57] crozzy commented on #1336
This seems to have been fixed with subsequent changes:
[code]
The severity here comes directly from the debian OVAL DB, this information can be synergized with the enrichment data (in the same report) to get the CVSS score/severity (as some consumers such as Quay do).

[2022-06-22 18:57] #1336 closed, assigned to crozzy

[2022-06-22 20:00] crozzy commented on #1125
It appears like the issue with debian vulnerabilities not appearing in the vulnerability reports was fixed with the [debian source/binary pr](https://github.com/quay/claircore/pull/550).
[code]
 As mentioned on previous issues the severity being reported is coming from the debian OVAL DB, Quay and Quay.io will use the enrichment data in the vulnerability report to override the `Unknown` severity,

[2022-06-22 20:00] #1125 closed, assigned to crozzy

[2022-06-23 14:15] dkoci commented on #1590
[postgresql-Wed.log](https://github.com/quay/clair/files/8968057/postgresql-Wed.log)

Please see the attached log file.

[2022-06-23 14:43] hdonnay commented on #1590
It looks like the database got corrupted. You should recreate the database.

[2022-06-23 14:43] #1590 closed, assigned to nobody

[2022-06-23 14:58] dkoci commented on #1590
Will be ok to disable clair, delete clair-postgres PVC and then enable clair again?

[2022-06-23 15:07] hdonnay commented on #1590
Yes, as long as migrations are enabled in clair's config.

[2022-06-28 07:58] kini commented on #1353
@katoto135 FWIW, yes it is a false positive, see https://github.com/oracle/weblogic-image-tool/issues/337#issuecomment-1000376915

[2022-07-03 05:01] ProductiveAsparagus56 opened #1596 "Unable to start with docker-compose on release-4.0"
### Description of Problem / Feature Request
I followed the documentation here: https://quay.github.io/clair/howto/testing.html
but get an error (later described) when it starts, now i switch to the branch release-4.0 for stability, but get the same error.

### Expected Outcome

Everything running with docker-compose

### Actual Outcome

clair-database and clair-traefik running fine, but here are

[2022-07-05 15:00] hdonnay commented on #1596
You need to run `go mod vendor` and then recreate the containers.

If you want to use the `release-4.0` branch for some reason, you'll need to use the documentation on that branch, as it's different from the current instructions on `main`.

[2022-07-06 18:51] #1432 closed, assigned to hdonnay

[2022-07-06 18:52] #1485 closed, assigned to hdonnay

[2022-07-07 08:53] toastbrotch opened #1598 "Unsupported scan results on Google Distroless images"
Hi

When I push Google Distroless Images to my Quay registry, I've got Unsupported security scan results.
(just tried with mcr.microsoft.com/azure-cognitive-services/vision/read:3.2-model-2022-04-30 )

Expected Outcome
Security findings based on CVE for Debian.

Actual Outcome
Unsupported

Environment
Clair version/image: clair-rhel8:v3.7.2

the same was reported on Clair V2 but it got simply clos

[2022-07-07 08:55] toastbrotch commented on #1598
[code]

[2022-07-07 20:36] hdonnay commented on #1598
"Distroless" containers don't use the standard dpkg database and so aren't supported by the `dpkg` package in claircore.

Support would have to be added there.

[2022-07-20 16:04] juanbrein opened #1602 "Why I'm not able to fix a vulnerability in debian based container"
### Description of Problem / Feature Request

The Dockerfile is based on jenkins/jenkins:2.346.2-lts-jdk11

3 Vulnerabilities found, and their fixes were applied:

[code]

The first one got fixed, but the last 2 still show even after installing the fixed versions.

Just for reference the last two packages where built and COPY from another image into this one.

This is happening on ECR

### Expecte

[2022-07-20 16:05] juanbrein commented on #1602
![image](https://user-images.githubusercontent.com/2943422/180029905-45e79064-9dc6-4831-83d1-de86beb09ca6.png)

[2022-07-20 16:24] hdonnay commented on #1602
This is not the ECR bug tracker, you should file issues with them.

Clair would flag the packages vulnerable because the Debian data says that every published version is vulnerable.

[2022-07-20 16:24] #1602 closed, assigned to nobody

[2022-07-21 10:52] iainduncani opened #1603 "It is not possible to set a health function"
A [default health handler func](https://github.com/quay/clair/blob/main/introspection/server.go#L72-L75) is used if the health function supplied to `introspection.New` is `nil`, however, if it is not `nil` then `i.health` is never set so you get a panic:

[code]

[2022-07-21 18:10] PipeItToDevNull opened #1605 ""must provide a -conf flag or set "CLAIR_CONF" in the environment" instead of "File not found""
### Description of Problem / Feature Request
In this example my config is actually `config.yml` so when `config.yaml` is called in the podman command the file will be "not found" but Clair says I am missing an env var or flag instead.

[code]

[2022-07-21 20:30] #1596 closed, assigned to nobody

[2022-07-21 20:37] #1603 closed, assigned to nobody

[2022-07-22 19:44] #1605 closed, assigned to nobody

[2022-07-22 19:53] #1523 closed, assigned to hdonnay

[2022-08-16 09:53] ProductiveAsparagus56 commented on #1596
Shouldn't this be documented? I followed this https://quay.github.io/clair/howto/testing.html#starting-a-cluster and i don't see it anywhere in there.

[2022-08-18 10:01] y4ney commented on #401
Hi Furuholm

The link is not working, could you please post again how did you modify to change the URLs of the vulnerability sourcdes?

Thank you so much

[2022-08-18 13:34] odidev opened #1614 "Clair fails to run in the combo mode"
### Description of Problem / Feature Request

Hi Team,

I am working with clair using the latest released version **v4.4.4**.

I ran clair in the distributed mode using “./local-dev/clair/config.yaml” and everything seemed to work fine. The vulnerability report is getting generated.

I used the same configuration file “./local-dev/clair/config.yaml” for the combo mode, but Clair fails to start.

B

[2022-08-18 21:16] hdonnay commented on #1614
The error being `hostname resolving error (lookup clair-database: Temporary failure in name resolution)` makes me think there's nothing wrong with clair or the config, but something with the container setup.

The `sudo docker-compose` command starts a database in a container network, then running `clair` in the host context means the networks aren't connected. I think this would have worked on 4.1

[2022-08-18 21:16] #1614 closed, assigned to nobody

[2022-08-18 21:28] hdonnay commented on #1596
Ah, this is misbehaving because of the `-mod=vendor` argument in the `docker-compose.yaml`. That shouldn't be needed anymore, I think I left it in accidentally while reworking the compose setup. Thanks for flagging that.

[2022-09-07 11:05] toastbrotch commented on #1598
as i see more and more distroless containers appear here, adding support would be great

[2022-09-07 12:21] uchi-mata commented on #1270
Hi all,
sorry to comment on this closed issue, but I wanted to verify my understanding before filing a new bug.
We are still seeing a lot of occurrences of `0:0` in our images on quay.io ([Example](https://quay.io/repository/astronomer/ap-airflow/manifest/sha256:21708c4c133b1cef82e2cb5b827cf212622c4cb5ef222c4c2084a75a0ee2eebc?tab=vulnerabilities)). Some of them are old findings (i.e. from before t

[2022-09-07 16:30] crozzy commented on #1270
Hi @uchi-mata, this seems like a different bug, I wrote up a description here: https://github.com/quay/claircore/issues/673, as you can see in the quay.io link that you added, Clair appears to be reporting both the unpatched and patched advisories.

[2022-09-07 17:03] uchi-mata commented on #1270
Thank you @crozzy!

[2022-09-09 12:20] odidev commented on #1527
Hi team, I am facing the same issue while deploying Clair in the distributed mode with Kubernetes (using minikube).
[code]

I used versions - “`nightly`, `nightly-2022-08-27`, `4.4.4`, `4.4.0`, `4.4.1`”, and all showed the same error.

[2022-09-09 13:30] majewsky commented on #1527
FWIW, I don't have this issue with 4.4.1 when running in combo mode. Is your crashing process in combo mode or notifier mode?

[2022-09-09 13:33] odidev commented on #1527
These are the logs from the notifier deployment in minikube.

[2022-09-09 13:34] majewsky commented on #1527
Then it's definitely not this issue. This issue was about the combo-mode Clair validating its config as though it were in notifier mode. I suggest you open a separate issue for your problem.

[2022-10-14 08:14] nichoio opened #1629 "Local installation of clairctl fails with "go get" as well as "go install""
### Description of Problem / Feature Request

I'm trying to install `clairctl` on my local machine (go1.19.2 linux/amd64).
I have tried doing so following [the docs](https://quay.github.io/clair/howto/getting_started.html?search=dashboard#submitting-a-manifest):

`GO111MODULE=on go get github.com/quay/clair/v4/cmd/clairctl@latest`

### Expected Outcome

I would expect a successful installation of

[2022-10-14 14:33] hdonnay commented on #1629
Currently one needs to use the `main` or `v4.5.0-rc.0` version specifiers.

The release container has `clairctl` on `PATH`; the development setup that docker-compose sets up has the source mounted at `/src/cmd/clairctl`.

[2022-10-14 14:33] #1629 closed, assigned to nobody

[2022-10-27 19:43] joaco-sy opened #1640 "clair server (v4.4.4) don't with "docker-compose up -d or make local-dev""
### Description of Problem / Feature Request

Hi, I hope you're having a grate day.

After I clone the repository, I tried docker compose up and make without any results.
the traefic is running but quay and clair doesn't. they gave me an 404 error when I tried to connect to the 6060 and 8443 ports
go version go1.19.2 linux/amd64
I did the go mod tidy and vendor and also rebuild the containers

###

[2022-10-27 20:13] hdonnay commented on #1640
Please post log output from running `docker-compose up` on the `main` branch.

[2022-11-09 10:44] majewsky opened #1645 "regression in v4.5.0: rpm: error parsing ndb db: ndb: package: slot 212: unexpected error: slot: nonsense block count (0)"
After upgrading from 4.4.4 to 4.5.0, I started getting a bunch of indexing errors on newly pushed customer images, for example:

[code]

All other indexing errors are identical except that sometimes the number in "slot 233" is different.

I downgraded to 4.4.4, deleted one of the broken index reports, and reindexed the image. That time, it came out clean, so this is definitely a regression introdu

[2022-11-09 16:39] hdonnay commented on #1645
This is because the newest version handles `ndb` databases, whereas the previous version does not.

My intuition is that the RPM database isn't being repacked to be contiguous, for some reason. I thought that was standard behavior, but my spelunking though the C could be wrong. I've got a patch that should fix this, but I don't have a database to test against.

[2022-11-09 19:38] SuperSandro2000 commented on #1645
Good to know that.

If you provide us with a branch or Dockerfile to test this, we may have time to test this but I don't want to promise anything.
If not what would be the steps for us to test this? Clone the clair repo, bump claircore to the feature branch and build a Dockerfile from that?

[2022-11-09 20:04] crozzy commented on #1645
Thanks @SuperSandro2000, we have identified a problematic Packages.DB and it is included as a regression test in the PR. When the PR is merged we can tag claircore and update Clair's dep. From there you can test on `main` or wait for a release.

We tend to deploy the latest code to the service and let it sit before tagging a Clair release in the hopes of assessing the stability and addressing erro

[2022-11-09 20:14] #1645 closed, assigned to nobody

[2022-11-09 20:40] hdonnay commented on #1645
The fix should be available in the next nightly.

[2022-11-14 07:15] leiqi96 opened #1649 "clairctl release version is “???”"
### Description of Problem / Feature Request
clairctl version is "???" when running command  _clairctl -h_  under a non git directory.
clairctl is downloaded from release page
https://github.com/quay/clair/releases/tag/v4.5.0

./clairctl-linux-amd64 -h
NAME:
   clairctl - interact with a clair API

USAGE:
   clairctl-linux-amd64 [global options] command [command options] [arguments...]

VERSION:

[2022-11-14 07:20] leiqi96 commented on #1649
I found out it was because of git workflow.
https://github.com/quay/clair/blob/main/.github/workflows/cut-release.yml#L130-L131

workflow can not set the value of cmd.Version.
https://github.com/quay/clair/blob/main/cmd/build.go#L23-L31.

Maybe someone can pass CLAIR_VERSION  like that https://github.com/leiqi96/clair/commit/f74073dbe41db397d59f989b6105f40b09889cde.

but I do not know how to fix i

[2022-11-18 07:27] lees07 opened #1650 "clairctl import-updaters error when vulnerabilities gz file is about 200MB"
### Description of Problem / Feature Request

There is an issue on "clairctl import-updaters" function at airgap environment when the vulnerabilities gz file about 200MB.
I tried to add -g for gz file and -z for zst file, the issue still occur.

e.g. command line:
podman run -it --rm --privileged=true -v /opt/clair4/config:/clair:Z -v /opt/clair4/updates:/updates:Z --entrypoint /bin/clairctl regis

[2022-11-18 08:00] lees07 commented on #1650
the gz file is tested by gzip.
gzip -v -t /opt/clair4/updates/updates.json.gz
/opt/clair4/updates/updates.json.gz:	 OK

[2022-11-23 01:34] leiqi96 commented on #1649
If changing [cut-release.yaml](https://github.com/quay/clair/blob/main/.github/workflows/cut-release.yml#L130-L131) like that
` go build -ldflags="-X github.com/quay/clair/v4/cmd.Version=${{ needs.config.outputs.version }}" -o "clairctl-${{matrix.goos}}-${{matrix.goarch}}" ./cmd/clairctl `, It maybe can solve this issue.

[2022-11-23 16:47] #1649 closed, assigned to nobody