[2019-12-11 03:34] ldelossa commented on #889
@rpnguyen
cool, I'll start taking a look.

[2019-12-12 16:46] ldelossa commented on #889
@rpnguyen
I confirmed that we are pulling in RHEL8 vulnerability data.
[code]
This is the namespace in my database.

Can you provide me with the json you `POST`'d to Clair - I'll use this with my own links to UBI8 image to test.

[2019-12-12 22:39] rpnguyen commented on #889
I'm sorry, I'm traveling right now and won't be able to share this information until late next week. The layers I `POST`'d are the two layers in the registry.redhat.io/ubi8 image. The namespace was detected by the `redhat-release` detector as `enterprise:8` - have you been able to reproduce this result?

[2019-12-13 17:50] #866 closed, assigned to nobody

[2019-12-16 15:21] ldelossa commented on #889
@rpnguyen from my stock instance of ClairV2 running, I do not see an enterprise:8 namespace. Let me check again.

[2019-12-19 08:12] tsterk opened #894 "Alpine Severity levels unknown"
### Description of Problem / Feature Request

Alpine Severity levels reports "Unknown"

### Expected Outcome

[code]

### Actual Outcome

[code]

### Environment

- Clair version/image: v2.1.0, v2.1.1 and v2.1.2
- Clair client name/version: curl and quay
- Host OS: N/A
- Kernel (e.g. `uname -a`): N/A
- Kubernetes version (use `kubectl version`): N/A
- Helm version (use `helm version`): N/A
- Netwo

[2019-12-19 23:04] #889 closed, assigned to nobody

[2020-01-07 12:15] Bonko opened #899 "go get not working since v2.1.1"
### Description of Problem / Feature Request

We are importing github.com/quay/clair as a library in one of our projects in order to handle notifications.
When updating the dependency from versoin 2.0.9 to v2.1.2, go get fails.
It looks like a problem with versioning inside the project.

### Expected Outcome

Updating dependency works fine

### Actual Outcome

[code]

### Environment

- Clair vers

[2020-01-07 13:11] ldelossa commented on #899
@Bonko
That release marks the change to go mod. If you are not familiar with go mod please see https://blog.golang.org/using-go-modules

You should remove Clair from your go path and try to build.

[2020-01-07 13:31] urvashipareta15 opened #900 "when clair report get generated in HTML and we try to publish it into Jenkins using publish HTML viewer plugin , the visualization is shifted and not readable"
Hi Team,

I am using your image  image: quay.io/coreos/clair:v2.0.6

 when it publish the report and when I see this report in jenkins HTML view using the plugin publishHTML . It gives me distorted view. all shifted  to the left and not at all readable.

When I download that HTML report and open it locally , I am able to see it in good format but this is not how it should respond, Is this becasue

[2020-01-07 13:53] Bonko commented on #899
I am new to go mod, but read the blog posts.
I even changed my project to use go mod because I was not able to update the clair library via dep caused by the recent changes.

The problem still exists when removing clair from the go path. Moving my project outside the go path does not help either.

When I remove the dependency to clair from my go.mod file and build the program with `go build ./...`

[2020-01-07 15:27] hdonnay commented on #899
The actual name of the module is `github.com/quay/clair/v2`, so the correct command is

[code]

This is a weird rub because of modules disallowing anything other than v1 or v0 as the "implicit version." In this case, we'd already cut v2.x.x tags and so needed to make the module end in `v2`.

[2020-01-07 22:37] aetomala opened #901 "Clair is unable to scan alpine:edge images"
### Description of Problem / Feature Request

Unable to scan docker image FROM alpine:edge

### Expected Outcome

Clair is able to scan all alpine images

### Actual Outcome

A message appear: the manifest for this tag could not be scanned for vulnerabilities
log entries
[code]

### Environment

- Clair version/image: quay.io/redhat/clair-jwt:v3.0.4
- Clair client name/version: quay.io/redhat/clai

[2020-01-07 22:40] ldelossa commented on #901
@aetomala

My initial impression is alpine does not publish sec info for edge. https://github.com/alpinelinux/alpine-secdb

@hdonnay lmk if you agree.

If no secbd info is available for these builds, it may make sense that no vulnerability data is returned.

[2020-01-08 07:46] Bonko commented on #899
Ah, my mistake. Sorry for this and thanks for your help. It works now.

[2020-01-08 07:46] #899 closed, assigned to nobody

[2020-01-08 10:34] Bonko commented on #878
I can confirm the problem in AWS ECS.
The problem still exists in 2.1.2

[2020-01-13 11:03] xuqiang76 commented on #240
docker run --net=host --name clair -d -p 6060-6061:6060-6061 -v $PWD/clair_config:/config quay.io/coreos/clair:v2.1.2 -config=/config/config.yaml -insecure-tls

[2020-01-13 11:05] xuqiang76 commented on #398
docker run --net=host --name clair -d -p 6060-6061:6060-6061 -v $PWD/clair_config:/config quay.io/coreos/clair:v2.1.2 -config=/config/config.yaml -insecure-tls

[2020-01-13 21:05] jeffrichie commented on #885
Seconding - would love to see this.

[2020-01-13 21:06] hdonnay commented on #901
It does look that way. It could probably be hacked to consider `edge` equal to the latest version, but I haven't thought through if that's a good idea or not.

[2020-01-14 14:15] aetomala commented on #901
Thanks.  I now understand the gab.

[2020-01-14 14:15] #901 closed, assigned to nobody

[2020-01-16 05:20] savujevi commented on #545
Hello developers,

as I can see the issue https://github.com/RedHatInsights/vmaas/issues/453https://github.com/RedHatInsights/vmaas/issues/453 has been closed.

Is there a possibility to solve this issue in clair ?

Thank you for your help.

Best regards.

[2020-01-16 13:43] Allda commented on #545
Hi @savujevi,
things have changed a bit since my last update and VMaaS API is not going to be used in Clair since it is missing a few other important things. We are going to use Oval v2 for getting Red Hat RHSA. Oval provides enough detail about vulnerable packages and its architecture, but unfortunately, the Clair data model is not aware of the package arch. Because of this issue, we will probabl

[2020-01-16 14:02] ldelossa commented on #545
@savujevi @Allda
ClairCore (the library which will back ClairV4) has initial support for architecture.
https://github.com/quay/claircore/blob/master/distribution.go#L31
https://github.com/quay/claircore/blob/master/vulnerability.go#L22

We haven't applied it's filtering yet, but it all the pieces are in place or this to work out of the box in ClairV4.

[2020-01-22 06:45] stayfrostnl commented on #852
I encountered this as well. Any way to fix this or just plain ignore it?

[2020-01-22 10:20] shashigokhale commented on #852
The whitelisting feature of clair comes handy here. We could add to the whitelist file, as this is a clear case of Bug in clair so that it doesn't show up in subsequent scans.

[2020-01-22 21:09] alex1989hu opened #910 "Support corporate proxy CA configuration for Updater"
### Description of Problem / Feature Request
If you deploy harbor by its [Helm chart](https://github.com/goharbor/harbor-helm) into corporate environment which is behind MITM HTTP/HTTPS proxy `clair` is not able to download vulnerabilities due to `x509: certificate signed by unknown authority`.

It is similar to #483.

A possible hack/workaround: mount `secret` as a volume under `/etc/ssl` as `cer

[2020-01-23 09:06] savujevi commented on #880
Hello developers,

can you please tell me if there is any progress on this topic ?

Thank you for your help.

Best regards.

[2020-01-23 10:09] stayfrostnl commented on #852
@shashigokhale Thats exactly what i did yesterday :)

[2020-01-24 14:23] bgoareguer commented on #566
I am having the same problem with Clair missing some CVEs in Alpine images. Is there any update on this?

[2020-02-05 13:21] bbakersc opened #914 "Following Local Development steps, Clair container still showing in Init state in minikube after many hours"
### Description of Problem / Feature Request

I'm following the steps at [Local Development](https://github.com/quay/clair/blob/master/Documentation/local-development.md) and everything seems to be being built correctly, but when I check the status of the running container, it's still showing in the `Init` status even after running overnight. I know the documentation says the initial startup can t

[2020-02-05 15:21] #880 closed, assigned to nobody

[2020-02-07 08:42] digglife commented on #815
I think it's already been fixed.

[2020-02-10 20:25] orlando-jamie opened #915 "Clair fails to pull from DockerHub"
### Description of Problem / Feature Request

Hello. I am trying to use Klar to feed Clair to scan all images running inside my Kubernetes cluster. This works with all containers in my private repository. However, Clair seems to be running into issues when downloading from docker hub (Kubernetes itself finds and runs the container with no issue).

[code]

[code]

### Expected Outcome

I would have

[2020-02-11 13:56] jkhalilkayak opened #916 "The NIST Urls that Clair is pulling are invalid"
### Description of Problem / Feature Request

Clair fails to pull CVEs.
When I run the docker logs <clair id> I get the following result:

{"Event":"could not get NVD data feed hash","Level":"warning","Location":"nvd.go:137","Time":"2020-02-11 13:19:19.059664","data feed name":"2019","error":"Get https://nvd.nist.gov/feeds/xml/cve/2.0/nvdcve-2.0-2019.meta: dial tcp 54.85.30.225:443: i/o timeout"}

[2020-02-11 15:14] mattjnewberry commented on #914
I'm having a similar issue, where the Init Container *pg-ready-wait* is not responding to the health check and therefore the container is stuck in a pending state.

[code]
Perhaps is the issue?

Running `kubectl logs ${YOUR_CLAIR_CONTAINER} -c pg-ready-wait` will give you the logs from the Init Container. Mine show no response from the db.

[2020-02-11 15:37] jkhalilkayak commented on #914
So far, I have no idea what the issue is.
I will keep looking trying to find out why is clair resolving to bad urls.

Will try to re-install it on a new machine and check results.

On Tue, Feb 11, 2020 at 10:14 AM Matt Newberry <notifications@github.com>
wrote:

[2020-02-11 16:16] jkhalilkayak commented on #914
So NIST retired their XML feed as of Feb 10, 2020 and they rolled out a new
API.
https://nvd.nist.gov/General/News/New-NVD-CVE-CPE-API-and-SOAP-Retirement

Clair queries the CVEs using the XML format, I guess we have to wait
until a new version comes out.

On Tue, Feb 11, 2020 at 10:37 AM Joseph Khalil <jkhalil@kayak.com> wrote:

[2020-02-11 16:19] jkhalilkayak commented on #916
https://nvd.nist.gov/General/News/New-NVD-CVE-CPE-API-and-SOAP-Retirement

So problem found, now waiting for a new clair release :(

[2020-02-12 12:53] ThunderSon commented on #815
@digglife it no longer exists, so to say? I wasn't keeping track, if they don't use `docker-compose` I believe this can be closed.

[2020-02-12 12:57] jkhalilkayak commented on #815
Thanks for the feedback.
I believe we found the issue, it was NIST retiring their XML feed and
replacing it with a JSON API.
I posted the link to the fix (by someone else) and now I am working on
fixing it.

Thanks again for your help.

On Wed, Feb 12, 2020 at 7:53 AM Elie Saad <notifications@github.com> wrote:

[2020-02-12 13:05] digglife commented on #815
@ThunderSon Yes, the guide about `docker-compose` was deleted. So, kind of fixed, I guess.

[2020-02-12 13:06] jkhalilkayak commented on #664
I had similar issue.
In the clair config yaml file, replacing the reference to localhost with my current IP address solved the issue.

[2020-02-13 06:39] patsevanton opened #917 "Add Clair scanner in harbor"
I installed harbor by rpm.
MrMEEE/harbor-rpm-ansible#4

build and run by instruction
https://github.com/quay/clair/blob/master/Documentation/running-clair.md
[code]

curl -XGET http://localhost:6060/status
``
{"status":{"detectors":[{"name":"dpkg","version":"1.0","dtype":"DETECTOR_D_TYPE_FEATURE"},{"name":"rpm","version":"1.1","dtype":"DETECTOR_D_TYPE_FEATURE"},{"name":"apk","version":"1.0","dtype

[2020-02-20 04:53] jasinner opened #920 "Add a Golang core library extension to Clair"
### Description Feature Request

Add a Golang core library extension to Clair. Because Golang binaries are statically compiled it can be hard to track and fix security vulnerabilities which are present in them. This feature aims to address the finding of security vulnerabilities in Golang binaries by detecting which Golang compiler version the binary was compiled with, and matching that to NIST NV

[2020-02-27 13:09] gorantornqvist opened #923 "error: failed to extract data from path when using openshift builder image"
### Description of Problem

Get this error in clair pod when a new tag is pushed to quay:
[code]
Its a openshift S2I build with registry.redhat.io/jboss-eap-7/eap72-openshift as build image

If (on my workstation with docker) I pull the image , retag and push it again to a different repo in quay it passes so not sure if its related to the openshift builder image (running openshift v4.3.1)

### Exp

[2020-02-28 11:27] tckb commented on #916
any plans on this? because of this issue I can not use Clair :-/

[2020-03-03 14:35] roccozanni commented on #852
We're having the same issue on Alpine Linux 3.10 reported by the AWS ECR scanner running Clair, but I don't believe we can set any whitelist in AWS ECR (at least I can't find it). Is there any chance this could be fixed?

[2020-03-05 16:09] bitsofinfo opened #928 "Helm chart?"
Where is the helm chart I can deploy this to a k8s cluster?

[2020-03-09 04:48] ragsonline commented on #878
Still facing same issue with v2.1.2
reaches 95% pod memory and gets restart eventually.

What you guys did atm?

[2020-03-14 20:32] danielpacak commented on #917
Hey @patsevanton I'm not familiar with the harbor-rpm-ansible installer but I know a thing or two about vulnerability scanners in Harbor.

In the **Add Scanner** dialog you're supposed to configure the URL endpoint of [Harbor Scanner Adapter for Clair](https://github.com/goharbor/harbor-scanner-clair) not the endpoint of Clair.

When you click Scan is Harbor UI, Harbor calls harbor-scanner-clair,

[2020-03-20 06:40] mowangdk opened #947 "release-2.0 cannot start in local environment"
### Description of Problem / Feature Request

ErrDatasourceNotLoaded in config.go does not be used in clair with git branch release-2.0

This problem leads to start clair project error locally.

fix by delete the variable

### Expected Outcome

Starts normally

### Actual Outcome

start clair project error locally.

### Environment

- Clair version/image: release-2.0
- Clair client name/version:
-

[2020-03-20 07:16] #947 closed, assigned to nobody

[2020-03-20 10:04] pipozzz opened #948 "Clair has still open connections to postgres"
Hi all,

is there any possibility to close db connection if not needed?  I would like to use aws serverless postgres and I want to pause DB if is not used, but clair is still keeping connections there.

Thanks

[2020-03-31 02:34] mluyun commented on #928
I was looking for the helm chart as well.

[2020-03-31 13:12] samuelmazilu2 opened #959 "Clair opensuse image scanning"
### Description of Problem / Feature Request
I'm trying to scan a docker image based on openSUSE Leap 15.1 and when running the scan I receive the following error:
 Could not fetch vulnerabilities. No features have been detected in the image. This usually means that the image isn't supported by Clair
In the logs I am seeing the following message: layer content has already been processed in the pas

[2020-04-02 22:13] hetpats opened #964 "Error 404 downloading RHEL3.xml on v2.1.2"
### Description of Problem / Feature Request

{"Event":"an error occured when fetching update","Level":"error","Location":"updater.go:246","Time":"2020-04-02 16:45:25.204396","error":"received 404 code downloading https://www.redhat.com/security/data/oval/com.redhat.rhsa-RHEL3.xml","updater name":"rhel"}

### Expected Outcome

### Actual Outcome

### Environment
Production

- Clair version/image:

[2020-04-02 22:17] hetpats opened #965 "an error occured when fetching update updater name :ubuntu"
### Description of Problem / Feature Request

{"Event":"an error occured when fetching update","Level":"error","Location":"updater.go:246","Time":"2020-04-02 16:45:24.282837","error":"could not download requested resource","updater name":"ubuntu"}
This Error Occurs on every update run

### Expected Outcome

### Actual Outcome

production

### Environment

- Clair version/image: v2.12
- Clair clien

[2020-04-07 12:52] namloc2001 commented on #964
Same here, using v2.1.2. I'm running this on OpenShift.

I tried this: https://www.redhat.com/security/data/oval/com.redhat.rhsa-RHEL3.xml in my browser on a separate machine and got a 404:
![image](https://user-images.githubusercontent.com/30868661/78671226-ea739800-78d6-11ea-9532-6d824b8f1916.png)

[2020-04-07 12:54] namloc2001 commented on #964
Also, if you look at what is available here: https://www.redhat.com/security/data/oval/

RHEL3.xml isn't present.

[2020-04-07 13:00] namloc2001 opened #966 "could not parse package version. skipping "0.27-1+deb7u1build0.12.04.1, 0.28-1+deb8u1""
### Description of Problem / Feature Request

Getting this message in logs:
`{"Event":"could not parse package version. skipping","Level":"warning","Location":"ubuntu.go:316","Time":"2020-04-07 12:54:31.826780","error":"invalid version","version":"0.27-1+deb7u1build0.12.04.1, 0.28-1+deb8u1"}`

### Expected Outcome

No error/warning event?

### Actual Outcome

`{"Event":"could not parse package ver

[2020-04-08 11:38] sdirbach commented on #964
Looks like this commit introduced the try to download this file (release branch for version 2.0)
https://github.com/quay/clair/commit/2ad2abc59b6b106ad474795a10f0167b86f98991#diff-ac1cd18df50532b1d209c439f4607811
Master looks good (at least better) btw.

[2020-04-08 16:51] namloc2001 commented on #966
*Disclaimer* - not an application developer by nature...!

Have been digging further into this. Looking at this branch: https://github.com/quay/clair/blob/4043c5fbcc1eb89bc2c5332a2227a84379c5fef9 based on a response to a previous issue (regarding RHEL 404 error).

Looking at: https://github.com/quay/clair/blob/4043c5fbcc1eb89bc2c5332a2227a84379c5fef9/ext/vulnsrc/ubuntu/ubuntu.go line 235

we see `

[2020-04-08 17:08] namloc2001 commented on #674
Hi, I've performed some investigatory work and written it up on an issue I raised for the same error. Might be of use? #966

[2020-04-09 06:25] subhamsps opened #969 "Can clair scan a layer which is present in the filesystem, that is when a post request to clair is sent ..can i put the 'Path' : as file system path instead of URL?"
I am trying to scan a docker image on my on my local system. I write a script to process the container images and keep the layes on my local file system. I have the following informations available :
Name = parent name (image name)
Command = layer command
Path = Filesystem
ShaID = blobsum.

What i would like to do is run a static analysis on this layer/layers present on my file system using my scr

[2020-04-09 07:55] Klemens-RIT opened #970 "Redhat UBI8 images - no vulnerabilities found by clair"
### Description of Problem / Feature Request

Clair doesn't find any vulnerabilities in Redhat UBI8 images. Others are still working (tested RHEL 7).

By investigation on the datasource, I found that our UBI8 images are linked with the enterprise:8 namespace.

 id |      name       | version_format
  1 | enterprise:8    | rpm

 id     | name    | enginever | parent_id | **namespace_id** | created_

[2020-04-09 15:32] ldelossa commented on #804
We recently merged your oval changes into ClairV3. Can you please backport those changes into ClairV2. ClairV2 development occurs on the `release-2.0` branch.

Also to note, we are currently working on ClairV4 - a rewrite. In ClairV4 all data sources are Oval - so this issue no longer exists.

[2020-04-10 09:05] #970 closed, assigned to nobody

[2020-04-11 11:28] alexmurray commented on #804
@ldelossa I assume you meant me not @alexlarsson in the ping above? Sure I can give that a go, I am not able to easily test the result however (as noted in PR  #853) so once I get something that appears to be working I will be relying on someone else in the clair project to actually verify it is still functioning as expected - as noted in https://github.com/quay/clair/pull/853#issuecomment-5403111

[2020-04-11 13:12] ldelossa commented on #804
@alexmurray  noted.

[2020-04-13 18:33] munntjlx commented on #852
This is definitely a problem. trivy happily ignores it.

[2020-04-13 21:07] vladdoster commented on #965
Same issue here as well :cry:

[2020-04-16 14:46] jfabdo opened #974 "Is it possible to use environmental variables for the connection string et al?"
I'm trying to deploy clair to AWS, and I'm able to build the container and copy in the config.yaml. The issue I'm facing is that my container needs to be in a public place, so no connection string and such in the YAML. I'd like to set it as an environmental variable and pass it in that way. Is there a way to indicate to clair that I'm trying to do that?

### Environment
NA

- Clair version/image:

[2020-04-17 15:15] fireba11 commented on #916
can't believe this is still open :-(

[2020-04-20 14:15] namloc2001 opened #978 "Clair v2.1.2 log warning Ubuntu eoan and Ubuntu snap not mapped to any version number"
### Description of Problem / Feature Request

Logs are stating ubuntu eoan (19.10) and ubuntu snap (???) are "not mapped to any version number (eg. trusty-\u003e14.04). Please update me."

(Not yet sure what it is referring to with ubuntu snap...)

### Expected Outcome

I thought mapping for Eoan had been added here: https://github.com/quay/clair/pull/867 (@jzelinskie )? Apologies if wrong...

###

[2020-04-20 16:42] namloc2001 opened #979 "Add name of associated file into log message - for updater"
### Description of Feature Request

It it please possible to include the name of the file (thinking here of ubuntu CVE files) in error logs so that when logs such as:

[code]

are received, we can understand where it happened if we wish to research it, and so that we can look to understand potential impact of it not having been added to database?

### Expected Outcome

### Actual Outcome

### Envi

[2020-04-24 03:32] ggilley commented on #878
Clair is using way too much memory. Is anyone looking at this?

[2020-04-24 08:43] ldelossa commented on #878
We are actively developing Clair V4 in the "development-4.0" branch. Our main focus at this. These memory issues are handled by buffering layers and security data to disk.

[2020-04-28 07:42] CloveXJ opened #989 "Does Clair support multi-client mode?"
I want to scan images in 3 different k8s nodes. My plan is:
1. install clairctl or analyze-local-image in every node;
2. install clair and clairdb in center node;
3. connect every client to the clair in center node;

if i start imagescan job in 3 nodes at the same time, will the cvedb in center node be locked or conflict?

[2020-04-29 10:35] quickparser opened #991 "Proxy error / Connection refused when connecting to Clair backend from Quay"
### Description of Problem / Feature Request

I'm trying to get the Clair image scanning to work with Quay but it seems that Quay is unable to reach the Clair backend. All my images are queued for scanning, but scanning never happens.

### Expected Outcome

I expect the connection to get established and layer sent for scanning to clair backend.

### Actual Outcome

Logs from Quay container (replac

[2020-04-29 15:45] quickparser commented on #882
You can try this out:
https://www.nearform.com/blog/static-analysis-of-docker-image-vulnerabilities-with-clair/

I haven't had much luck with it, however. Partly because, my clair installation is not working as it should :)

[2020-05-05 06:57] priyanka19-98 opened #994 "Unable to scan quay images"
I am deploying clair on kubernetes

### Description of Problem / Feature Request
The images on quay are not being scanned by clair. It says manifest cannot be indexed.

I am currently using clair v4-alpha 4 with quay 3.2.1. But I am not able to scan the images .
### Expected Outcome
The Images pushed on quay must be scanned and display vulnerabilities.

### Actual Outcome
Images are not beimg scan

[2020-05-05 14:49] alexgdmx opened #995 "Openshift operator error trying to get CVS definition that doesn't exists any more to RHEL version 3 error":"received 404 code downloading https://www.redhat.com/security/data/oval/com.redhat.rhsa-RHEL3.xml","updater name":"rhel"} this file don't exist on the URL, so clair can scan all images from oracle, debian, ubuntu but can't scan RHEL or Centos Images"
https://github.com/quay/clair/blob/ad6be9ce0191e70af9672d5aa4b69217c5606082/ext/vulnsrc/rhel/rhel.go#L53

[2020-05-05 15:14] ldelossa commented on #994
@16bce091
Have you configured Quay to utilize ClairV4? Right now you must explicitly tell Quay via configuration to use ClairV4.

Here's an instructional video: https://youtu.be/r40tKrJt3lg

[2020-05-05 15:47] ldelossa commented on #994
Sorry, I had actually missed the Quay version you are using. ClairV4 support is a recent Quay feature. Are you able to deploy Quay via the Master branch? Currently the master branch of Quay contains support for ClairV4

[2020-05-05 17:24] priyanka19-98 commented on #994
Thanks a lot. Working on it.

On Tue, 5 May 2020, 21:18 Louis DeLosSantos, <notifications@github.com>
wrote:

[2020-05-06 06:25] priyanka19-98 commented on #994
I have deployed Quay Master along with Clair V4. But still it seems that Quay is calling Clair V2 api endpoints in Clair V4 and returning 404 Not found.
![clair_v4_logs](https://user-images.githubusercontent.com/50020569/81143800-53126b00-8f90-11ea-9262-c1b3337662ac.png)
![quay_logs_clair_v2](https://user-images.githubusercontent.com/50020569/81143864-7e955580-8f90-11ea-896d-6834996361cf.png)
 Att

[2020-05-06 13:42] ldelossa commented on #994
Have you added the necessary configuration options to quay's config?

[2020-05-06 17:30] kmanalo commented on #991
I'm also seeing the same issues
"jwtproxy: unable to verify request: Could not parse JWT"

[2020-05-07 18:49] priyanka19-98 commented on #994
Using quay master (built using Docker file as stated in docs) I am not able to push any image to the quay running locally.
I am getting unexpected HTTP status: 502 Bad Gateway while pushing images.

But was able to push images using docker image quay.io/projectquay/quay:lando .

What could be the issue?

[2020-05-07 18:54] ldelossa commented on #994
@16bce091

If youre having an issue pushing to Quay when running locally, this issue should be brought up in the Quay repo.

Are you having issues pushing images to quay?

[2020-05-07 19:05] priyanka19-98 commented on #994
Yes images are not being pushed

[2020-05-07 20:35] priyanka19-98 commented on #994
I am running quay 3.2.1 with clair v2.1.3 . I am able to push the images for quay 3.2.1. It seems that quay is making calls to clair for vulnerability scanning but clair return error with response status 400.

Attaching the logs.
![clair_quay_logs](https://user-images.githubusercontent.com/50020569/81342096-4432d200-90d0-11ea-8acb-5b202ce86789.png)

[2020-05-07 20:54] ldelossa commented on #994
I would suggest posting on the Quay mailing lists. https://groups.google.com/forum/#!forum/quay-sig

I see you have already made a post. Your issue will be better addressed there.

[2020-05-07 20:54] #994 closed, assigned to nobody

[2020-05-10 10:27] pascalwacker commented on #346
@jzelinskie how about loading default values from the config file, but being able to override them with env variables? IMHO that should be the default of how software, especially deployed in a docker environment should operate.

[2020-05-10 15:04] namloc2001 commented on #440
I'm having this issue running: quay.io/coreos/clair:v2.1.2 on OpenShift, using PostgreSQL (image: docker.io/bitnami/postgresql:11.7.0-debian-10-r9)

[2020-05-11 09:17] namloc2001 opened #996 "ERROR: duplicate key value violates unique constraint "lock_name_key" Clair v2.1.2"
### Description of Problem / Feature Request

Hello, similar to #440, we are using Clair v2.1.2 (quay.io/coreos/clair:v2.1.2) with a PostgreSQL database (docker.io/bitnami/postgresql:11.7.0-debian-10-r9), running on IBM Cloud OpenShift.

I am running a single Clair instance (as a deployment) and single PostgreSQL instance (as a statefulset). The Clair pod is restarting itself numerous times throug

[2020-05-12 16:38] fxdgear commented on #543
I'm seeing this behavior on every version from 2.0.8-2.1.3

[2020-05-20 22:37] yocum137 commented on #821
Will this be resolved in Clairv4?

[2020-05-20 22:51] ldelossa commented on #821
@yocum137 v4 is a rewrite, so all signs point to yes.

[2020-05-22 17:37] eumel8 opened #1001 "Unsupported scan results on Google Distroless images"
# Description of Problem / Feature Request

When I push [Google Distroless Images](https://github.com/GoogleContainerTools/distroless) to my Quay registry, I've got Unsupported security scan results. I.e from [Debian Java Image](https://console.cloud.google.com/gcr/images/distroless/GLOBAL/java?gcrImageListsize=30)

### Expected Outcome

Security findings based on CVE for Debian.

### Actual Outco

[2020-05-22 17:48] ldelossa commented on #1001
@eumel8 ClairV2 is currently in maintenance and we will be not be doing feature requests there. Instead can you please open a feature request here: https://github.com/quay/claircore/

That library will back ClairV4, the newest version of Clair which is currently in Alpha.

[2020-05-22 17:48] #1001 closed, assigned to nobody

[2020-05-25 11:06] xguitian commented on #777
Any update on this one?

[2020-05-25 14:14] ldelossa commented on #777
AFAIK fedora devs do not maintain a security database for packages within the Fedora repositories. I do not believe the RHEL oval databases would provide accurate information for Fedora.

Ill do a bit of research to confirm and if this is not the case we will add this as feature to  ClairCore (https://github.com/quay/claircore) and ClairV4. ClairV2 is in maintenance and will not be getting new fea

[2020-05-25 14:14] #777 closed, assigned to nobody

[2020-05-27 19:47] ldelossa commented on #996
@namloc2001 your Clair instance died before cleaning up an application lock. You can manually clear out this table to fix the issue.

[2020-05-27 19:51] ldelossa commented on #991
@quickparser @kmanalo   please bringup support issues in the quay-sig:
https://groups.google.com/forum/#!forum/quay-sig

[2020-05-27 19:51] #991 closed, assigned to nobody

[2020-05-27 19:51] ldelossa commented on #989
@CloveXJ which Clair version are you referring to?

[2020-05-27 19:53] ldelossa commented on #974
@jfabdo ClairV2 does not support env variable configuration. This is by design and the config needs to have nested data structures.
This will most likely be the fact in newer versions of Clair as well.

[2020-05-27 19:53] #974 closed, assigned to nobody

[2020-05-27 19:54] ldelossa commented on #979
@namloc2001 ClairV2 is currently in maintenance. If you would like this please submit a pull request and we will merge in.

[2020-05-27 19:54] #979 closed, assigned to nobody

[2020-05-27 23:46] ldelossa commented on #185
Closing this as it's handled in ClairV4.

[2020-05-27 23:46] #185 closed, assigned to KeyboardNerd

[2020-05-30 14:41] ldelossa commented on #996
@namloc2001

Going to close this out. Unfortunately you bumped into a design flaw in previous versions of Clair where application locks do not have a timeout.

This is fixed in ClairV4 (being worked on in the development-4.0 branch). Feel free to patch ClairV2 and ClairV4 with a fix

[2020-05-30 14:41] #996 closed, assigned to nobody

[2020-05-30 14:42] ldelossa commented on #995
Thanks, fixed with
https://github.com/quay/clair/pull/988

[2020-05-30 14:42] #995 closed, assigned to nobody

[2020-05-30 14:43] ldelossa commented on #978
Thanks, fixed with
https://github.com/quay/clair/pull/987

[2020-05-30 14:43] #978 closed, assigned to nobody

[2020-06-01 11:47] prav10194 opened #1005 "Password authentication failed for postgres"
### Description of Problem / Feature Request

Modified the password for the postgres username from "clair" to a random alphanumeric string in kubernetes.

### Expected Outcome

The clair pod should have started without any error.

### Actual Outcome

Clair pod crashes with the following error -

`{"Event":"pgsql: could not open database: pq: password authentication failed for user \"postgres\"","L

[2020-06-01 12:14] ldelossa commented on #1005
How did you modify the password?

If you did you must modify it in both the Postgres deployment and your Clair config.

[2020-06-01 12:15] ldelossa commented on #964
Fixed with merge #988

[2020-06-01 12:15] #964 closed, assigned to nobody

[2020-06-01 15:57] ldelossa commented on #1005
@prav10194 I'm going to close this as it looks like a deployment support problem. Please defer this support request to the Clair SIG https://groups.google.com/forum/#!forum/clair-dev

[2020-06-01 15:57] #1005 closed, assigned to nobody

[2020-06-01 15:58] ldelossa commented on #989
@CloveXJ if you're still interested in this issue, re-open with a response to the above question.

[2020-06-01 15:58] #989 closed, assigned to nobody

[2020-06-04 13:47] fpytloun commented on #916
Any chance this gets fixed? How can anyone use Clair without NVD database?

[2020-06-04 15:43] fireba11 commented on #916
@fpytloun i stumbled over this evaluation harbor registry. those guys added trivy as a second scanner, maybe you want to have a look at that

[2020-06-05 14:28] hetpats commented on #965
ubuntu updater is still failing can some on please help?
{"Event":"an error occured when fetching update","Level":"error","Location":"updater.go:246","Time":"2020-06-05 10:25:42.688390","error":"could not download requested resource","updater name":"ubuntu"}

[2020-06-05 14:33] vladdoster commented on #965
From what I can tell this is normal. Just give it some time to update it's DB and things will work out fine.

[2020-06-05 15:52] ldelossa commented on #965
Can you please try with the latest version:
https://quay.io/repository/projectquay/clair-jwt?tag=latest&tab=tags v2.1.4

[2020-06-05 16:12] ldelossa commented on #928
Due to the different ways of deploying a service like Clair, we will not be supporting a Helm chart which pins the deployment in one direction.

[2020-06-05 16:12] #928 closed, assigned to nobody

[2020-06-05 16:14] ldelossa commented on #948
@pipozzz I'm not sure what you mean by close connections if not needed.
Most Go SQL libraries will use connection pooling which will maintain a set of open connections to the database.

[2020-06-05 16:14] #948 closed, assigned to nobody

[2020-06-05 16:16] ldelossa commented on #959
@samuelmazilu2 this will be supported in ClairV4, you can obtain our alpha builds here:
https://quay.io/repository/projectquay/clair?tag=latest&tab=tags

We need a Suse matcher to be implemented. If you are interested in implementing this right away open a ticket in https://github.com/quay/claircore/ which is the engine powering ClairV4.

[2020-06-05 16:16] #959 closed, assigned to nobody

[2020-06-05 16:17] ldelossa commented on #923
@gorantornqvist

It is typically okay to see an error like this, it means that layer may not be a tar blob and could be a config layer.

[2020-06-05 16:17] #923 closed, assigned to nobody

[2020-06-05 16:18] ldelossa commented on #920
@jasinner
going to close this out in favour the ClairCore ticket. Implementation will occur there.

[2020-06-05 16:18] #920 closed, assigned to nobody

[2020-06-05 16:19] ldelossa commented on #917
@patsevanton I'm kindly closing this ticket. Please bring this integration issue up in the Harbor git repository.

[2020-06-05 16:19] #917 closed, assigned to nobody

[2020-06-05 18:01] bitsofinfo commented on #928
huh? how does providing a helm chart pin clair into anything?

[2020-06-17 15:37] Surkovsv commented on #965
Hello, I am using the latest version - v2.1.4 but still have a problem with ubuntu cve tracker. It seems to me that Ubuntu changed address of the tracker from  http://people.ubuntu.com/~ubuntu-security/cve/* to **https**://people.canonical.com/~ubuntu-security/cve/*

{"Event":"finished fetching","Level":"info","Location":"updater.go:253","Time":"2020-06-17 13:11:30.874459","updater name":"rhel"}
{

[2020-06-17 16:47] vladdoster commented on #965
I do not think that is the issue.

Looking at `ubuntu.go`  that url is used. https://github.com/quay/clair/blob/dc8de7d31ef7196de5a273772f19de13f4f3cd4a/ext/vulnsrc/ubuntu/ubuntu.go#L41

I think it is trying to retrieve `artful` and it is not available. It seems to throw a SSL error which makes sense with the error you are seeing.

https://people.canonical.com/~ubuntu-security/oval/com.ubuntu.artf

[2020-06-27 23:42] dsalamancaMS opened #1013 "Feature Request - Support for Alpine 3.12"
### Description of Problem / Feature Request

Alpine 3.12 images are showing as not supported when scanned.

### Expected Outcome
Support Alpine 3.12

### Actual Outcome
Not Supported
### Environment

[2020-06-28 02:57] CloveXJ commented on #989
my version is V2.0.8

[2020-06-28 02:59] CloveXJ opened #1014 "Does Clair support multi-client mode?"
I want to scan images in 3 different k8s nodes. My plan is:

install clairctl or analyze-local-image in every node;
install clair and clairdb in center node;
connect every client to the clair in center node;
if i start imagescan job in 3 nodes at the same time, will the cvedb in center node be locked or conflict?

my clair version: V2.0.8

[2020-07-06 06:09] prashant-wipro commented on #372
This is a prevailing issue, please provide the steps to resolve this issue. We are getting the same issue with the current version of Clair.

[2020-07-06 06:15] prashant-wipro commented on #69
We have installed the latest version of Clair and still getting this issue. Do we still have to use Docker 1.9.1? Is this the conclusion of this issue?

[2020-07-07 08:49] yybgbname commented on #1013
maybe missing metadata.  https://github.com/alpinelinux/alpine-secdb

[2020-07-09 12:25] prashant-wipro commented on #372
Adding further details here:

Docker version used:
[code]

Here is the klar command output:

[code]

[2020-07-10 05:06] Shahriman89 opened #1016 "Vulnerabilities Scan is not showing full of package that impacted"
caning using anchore from images vulnerables/cve-2016-6515 given 3 package output but ecr aws only given 1.
May i know if we miss something.

CVE-2018-1000001
AWS Package
-glibc-2.23-0ubuntu9

anchore Package
-libc-bin-2.23-0ubuntu9
-libc6-2.23-0ubuntu9
-multiarch-support-2.23-0ubuntu9
Region: London
Repository Name:
Cluster Name:
Service Name:
Task Definition Name:
Task ID:

[2020-07-10 17:59] kbrwn commented on #885
Arch security team needs publish CVE data in format like rss/atom/xml/rest for this to be possible. The old atom feed has been disabled: https://bugs.archlinux.org/task/65596

[2020-07-15 06:42] chessmango commented on #1013
Repo is deprecated, source changed to https://secdb.alpinelinux.org/ - simple enough Nginx directory listing seemingly, same content

[2020-07-16 07:06] yybgbname commented on #1013
thanks

[2020-07-16 11:15] hakimkartik opened #1017 "Unable to scan image using claircli"
I wanted to scan my docker images using `Clair` , but I am getting the following error
[code]
logs are as follows

[code]
rest of the setup is as follows

[code]

[2020-07-16 16:55] tohch4 commented on #1013
So if I understand [the calling code that uses correctly `secdbGitUrl`](https://github.com/quay/clair/blob/c39101e9b8206401d8b9cb631f3aee47a24ab889/ext/vulnsrc/alpine/alpine.go#L65), simply changing the URL will not work.

The new endpoint, secdb.alpinelinux.org, is a simple HTTPS server with nginx, but the code in clair expects a [git HTTP server backend and/or a dumb HTTP backend with a properly

[2020-07-17 19:19] goidor commented on #802
Hello, I want to know If there is any workaround for this? since I still have that problem. Even with the latest version 2.1.4

[2020-07-22 03:17] booboothefool opened #1019 "Unable to scan - The manifest for this tag could not be scanned for vulnerabilities"
I was able to install Clair with the following guide: https://access.redhat.com/documentation/en-us/red_hat_quay/3/html-single/deploy_red_hat_quay_on_openshift/index#appendix_a_red_hat_quay_on_openshift_configuration_files

I am able to successfully push/pull images, but am unable to security scan any images:
![image](https://user-images.githubusercontent.com/13257645/88130112-ba12e980-cba7-11ea-8

[2020-07-22 11:17] ldelossa commented on #1019
@booboothefool

Please open a support issue at https://issues.redhat.com/projects/PROJQUAY/summary

Here you will get technical support on your deployment, if it winds up being a bug a GH issue will be appropriate.

[2020-07-22 11:17] #1019 closed, assigned to nobody

[2020-07-24 15:29] ggstalder commented on #852
@shashigokhale I can't find any documentation on that whitelisting feature you are talking about, if you have anything to point me to it would be wonderful, thanks!

[2020-07-24 21:31] #1013 closed, assigned to nobody

[2020-07-25 15:32] shashigokhale commented on #852
I invoke clair using clairctl and there is a way to whitelist as described here: https://github.com/jgsqware/clairctl/blob/master/README.md starting from line 106.

[2020-07-25 23:33] ggstalder commented on #852
Oh ok that's clearer, thanks @shashigokhale !

[2020-07-28 21:49] nycnewman commented on #966
If I read this correctly, the fix is applied to two independent versions so code needs to handle as it currently assumes only one version name returned from file.

[2020-07-28 23:50] nycnewman commented on #915
Try using "klar bitnami/postgresql:11.6.0-debian-10-r5". You had an extra docker.io in image name that was wrong. Also make sure you set CLAIR_ADDR, DOCKER_USERNAME and DOCKER_PASSWORD correctly.

[2020-07-29 00:04] nycnewman commented on #1016
What are the image IDs that you are testing?

[2020-07-29 10:06] wengc3 opened #1022 "Clair detects false positive in ubi-7 + logback.xml"
## Description
If I removed the `COPY` command from the Dockerfile there is no vulnerablity found.
But if i have this `COPY` command in my Dockerfile then I have a lot of false positives.
ex.
- RHSA-2020:2894: dbus 1:1.10.24-13.el7_6, dbus-libs 1:1.10.24-13.el7_6
- RHSA-2020:1509, RHSA-2020:2969: java-11-openjdk-headless 1:11.0.6.10-1.el7_7 , java-11-openjdk 1:11.0.6.10-1.el7_7

[code]

## How to

[2020-07-29 14:48] namloc2001 commented on #966
@nycnewman yes I believe so.

[2020-07-29 17:56] nycnewman commented on #966
I have a PR that might fix this. Probably more eyes on it to confirm edge cases of the format of patched releases.

[2020-08-03 22:14] iamnagu opened #1023 "Failed to analyze using API v1: push image https://docker.artifactory.entarch.prd.aws.xyz.net/v2/alpha/nonprod/graphql:ceb2e10ae1bc to Clair failed: can't push layer to Clair: Post https://abc.npr.aws.xyz.net:443/v1/layers: x509: certificate signed by unknown authority"
### Description of Problem / Feature Request

not to scan using clair/klar I get the below error , any help is greatly appreciated

Failed to analyze using API v1: push image https://docker.artifactory.entarch.prd.aws.xyz.net/v2/alpha/nonprod/graphql:ceb2e10ae1bc to Clair failed: can't push layer to Clair: Post https://abc.npr.aws.xyz.net:443/v1/layers: x509: certificate signed by unknown authorit

[2020-08-06 12:32] andershermansen opened #1025 "Unable to connect to postgresql instance in Azure because of @ in username"
### Description of Problem / Feature Request

Unable to connect to Postgresql which runs as an Azure service because username contains @

### Expected Outcome

Able to connect to Azure Postgresql

### Actual Outcome

#### Try with username@server
Config:
[code]
Output:
`{"Event":"pgsql: could not open database: pq: Invalid connection parameters specified. Check connection parameters, and try again

[2020-08-07 08:44] andershermansen commented on #1025
I was able to work around this issue by using URL syntax for the connection instead. Because then I could use escape character %40 instead of @ as described in https://github.com/MicrosoftDocs/azure-docs/issues/6371
This escaping did not work when not using url syntax.

[code]

So I still think this is a bug (or yaml encoding issue by me) since the username with @ can not be put in the config file

[2020-08-17 20:43] Fodoj opened #1027 "Clair V4 Client Tools"
I tried couple of existing client tools, like Klar and claircli, but they don't seem to work with Clair V4 and this API: https://github.com/quay/clair/blob/development-4.0/openapi.yaml.

With this issue I just want to get a confirmation (or links to other client tools may be) that currently only client tool is most likely Quay. Is that so?

[2020-08-17 20:49] ldelossa commented on #1027
Hello.

We use Clairctl often to process manifests, view index reports, and view vuln reports.

Are you experiencing an issue with Clairctl? Can you elaborate.

[2020-08-17 20:54] Fodoj commented on #1027
If you are talking about this tool https://github.com/jgsqware/clairctl - I didn’t try it. Do you use it with latest Clair V4 alpha release?

[2020-08-17 20:56] ldelossa commented on #1027
Nope.

ClairV4 has its own native CLI tool. https://github.com/quay/clair/tree/development-4.0/cmd/clairctl

[2020-08-17 21:07] Fodoj commented on #1027
Ah nice, I did not know it exists. Are there pre-compiled binaries as well?

[2020-08-17 21:09] ldelossa commented on #1027
As of right now no, but ClairV4 is slated for beta within the up coming
weeks. We will soon start compiling the cli tool in our release pages.

On Mon, Aug 17, 2020 at 5:07 PM Kirill Shirinkin <notifications@github.com>
wrote:

[2020-08-17 22:53] ldelossa commented on #1027
@Fodoj closing this. if you'd like any support on our cli tool don't hesitate to contact us @ issues.redhat.com/ or https://groups.google.com/forum/#!forum/clair-dev

[2020-08-17 22:53] #1027 closed, assigned to nobody

[2020-08-18 02:33] KrisJohnstone opened #1028 "Clair UBI8 Scanning"
### Description of Problem / Feature Request
We are utilising the quay operator, upon investigation clair seems to be missing vulnerabilities during scans and green lighting *all* ubi8 images.

Red Hat Security:
![redhat-security](https://user-images.githubusercontent.com/18162364/90463632-c6f70e80-e14e-11ea-9cdc-1fc1f400e677.PNG)

Clair Results:
![clair-results](https://user-images.githubusercont

[2020-08-18 07:25] Fodoj commented on #1027
Whoever finds this issue - atm clairctl is already included in the latest clair v4 images

[2020-08-18 20:02] xia0pin9 opened #1029 "Extract the vulnerable version info for a feature/pkg"
I want to utilize the clair vulnerability database to check the packages installed on my linux machines. But it seems I can't find the corresponding vulnerable version information of my package/feature in clair database. I am running the latest version of (locally built) clair docker image with an empty clair database on Ubuntu.

I thought the `affected_version` column in `vulnerability_affected_f

[2020-08-31 17:48] hdonnay commented on #3
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 17:48] #3 closed, assigned to nobody

[2020-08-31 17:49] hdonnay commented on #10
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 17:49] #10 closed, assigned to nobody

[2020-08-31 17:50] hdonnay commented on #92
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 17:50] #92 closed, assigned to nobody

[2020-08-31 17:56] hdonnay commented on #112
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 17:56] #112 closed, assigned to nobody

[2020-08-31 17:56] hdonnay commented on #146
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 17:56] #146 closed, assigned to nobody

[2020-08-31 17:57] hdonnay commented on #163
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 17:57] #163 closed, assigned to nobody

[2020-08-31 17:57] hdonnay commented on #172
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 17:57] #172 closed, assigned to nobody

[2020-08-31 17:57] hdonnay commented on #209
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 17:57] #209 closed, assigned to nobody

[2020-08-31 17:58] hdonnay commented on #214
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 17:58] #214 closed, assigned to nobody

[2020-08-31 17:59] hdonnay commented on #264
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 17:59] #264 closed, assigned to nobody

[2020-08-31 17:59] hdonnay commented on #353
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 17:59] #353 closed, assigned to nobody

[2020-08-31 18:00] hdonnay commented on #401
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:00] #401 closed, assigned to nobody

[2020-08-31 18:00] hdonnay commented on #402
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:00] #402 closed, assigned to nobody

[2020-08-31 18:01] hdonnay commented on #405
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:01] #405 closed, assigned to nobody

[2020-08-31 18:01] hdonnay commented on #427
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:01] #427 closed, assigned to nobody

[2020-08-31 18:02] hdonnay commented on #430
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:02] #430 closed, assigned to nobody

[2020-08-31 18:02] hdonnay commented on #457
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:02] #457 closed, assigned to nobody

[2020-08-31 18:03] hdonnay commented on #471
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:03] #471 closed, assigned to nobody

[2020-08-31 18:05] hdonnay commented on #493
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:05] #493 closed, assigned to nobody

[2020-08-31 18:13] hdonnay commented on #497
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:13] #497 closed, assigned to nobody

[2020-08-31 18:13] hdonnay commented on #500
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:13] #500 closed, assigned to nobody

[2020-08-31 18:13] hdonnay commented on #507
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:13] #507 closed, assigned to nobody

[2020-08-31 18:14] hdonnay commented on #512
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:14] #512 closed, assigned to nobody

[2020-08-31 18:14] hdonnay commented on #536
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:14] #536 closed, assigned to nobody

[2020-08-31 18:14] hdonnay commented on #539
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:14] #539 closed, assigned to nobody

[2020-08-31 18:15] hdonnay commented on #543
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:15] #543 closed, assigned to nobody

[2020-08-31 18:15] hdonnay commented on #545
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:15] #545 closed, assigned to nobody

[2020-08-31 18:16] hdonnay commented on #566
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:16] #566 closed, assigned to KeyboardNerd

[2020-08-31 18:16] hdonnay commented on #567
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:16] #567 closed, assigned to nobody

[2020-08-31 18:16] hdonnay commented on #584
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:16] #584 closed, assigned to nobody

[2020-08-31 18:17] hdonnay commented on #608
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:17] #608 closed, assigned to nobody

[2020-08-31 18:18] hdonnay commented on #616
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:18] #616 closed, assigned to nobody

[2020-08-31 18:18] hdonnay commented on #625
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:18] #625 closed, assigned to nobody

[2020-08-31 18:28] hdonnay commented on #630
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:28] #630 closed, assigned to nobody

[2020-08-31 18:28] hdonnay commented on #632
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:28] #632 closed, assigned to KeyboardNerd

[2020-08-31 18:29] hdonnay commented on #635
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:29] #635 closed, assigned to KeyboardNerd

[2020-08-31 18:29] hdonnay commented on #637
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:29] #637 closed, assigned to nobody

[2020-08-31 18:29] hdonnay commented on #654
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:29] #654 closed, assigned to nobody

[2020-08-31 18:29] hdonnay commented on #655
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:29] #655 closed, assigned to nobody

[2020-08-31 18:29] hdonnay commented on #669
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:29] #669 closed, assigned to KeyboardNerd

[2020-08-31 18:30] hdonnay commented on #670
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:30] #670 closed, assigned to KeyboardNerd

[2020-08-31 18:30] hdonnay commented on #673
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:30] #673 closed, assigned to nobody

[2020-08-31 18:30] hdonnay commented on #674
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:30] #674 closed, assigned to nobody

[2020-08-31 18:30] hdonnay commented on #690
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:30] #690 closed, assigned to nobody

[2020-08-31 18:31] hdonnay commented on #696
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:31] #696 closed, assigned to nobody

[2020-08-31 18:31] hdonnay commented on #698
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:31] #698 closed, assigned to nobody

[2020-08-31 18:31] #711 closed, assigned to nobody

[2020-08-31 18:31] hdonnay commented on #711
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:32] hdonnay commented on #718
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:32] #718 closed, assigned to nobody

[2020-08-31 18:32] hdonnay commented on #719
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:32] #719 closed, assigned to nobody

[2020-08-31 18:32] hdonnay commented on #731
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:32] #731 closed, assigned to nobody

[2020-08-31 18:33] hdonnay commented on #732
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:33] #732 closed, assigned to nobody

[2020-08-31 18:34] hdonnay commented on #743
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:34] #743 closed, assigned to nobody

[2020-08-31 18:34] hdonnay commented on #744
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:34] #744 closed, assigned to nobody

[2020-08-31 18:35] hdonnay commented on #745
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:35] #745 closed, assigned to nobody

[2020-08-31 18:37] hdonnay commented on #746
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:37] #746 closed, assigned to nobody

[2020-08-31 18:37] hdonnay commented on #747
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:37] #747 closed, assigned to nobody

[2020-08-31 18:38] hdonnay commented on #750
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:38] #750 closed, assigned to nobody

[2020-08-31 18:39] hdonnay commented on #754
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:39] #754 closed, assigned to nobody

[2020-08-31 18:40] hdonnay commented on #757
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:40] #757 closed, assigned to nobody

[2020-08-31 18:40] hdonnay commented on #758
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:40] #758 closed, assigned to nobody

[2020-08-31 18:40] hdonnay commented on #759
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:40] #759 closed, assigned to nobody

[2020-08-31 18:41] hdonnay commented on #762
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:41] #762 closed, assigned to nobody

[2020-08-31 18:41] hdonnay commented on #803
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:41] #803 closed, assigned to ldelossa

[2020-08-31 18:42] hdonnay commented on #804
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:42] #804 closed, assigned to nobody

[2020-08-31 18:42] hdonnay commented on #807
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:42] #807 closed, assigned to nobody

[2020-08-31 18:42] hdonnay commented on #809
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:42] #809 closed, assigned to nobody

[2020-08-31 18:43] hdonnay commented on #810
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:43] #810 closed, assigned to nobody

[2020-08-31 18:43] hdonnay commented on #815
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:43] #815 closed, assigned to nobody

[2020-08-31 18:44] hdonnay commented on #819
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:44] #819 closed, assigned to nobody

[2020-08-31 18:44] hdonnay commented on #821
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:44] #821 closed, assigned to ldelossa

[2020-08-31 18:45] hdonnay commented on #824
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:45] #824 closed, assigned to nobody

[2020-08-31 18:45] hdonnay commented on #826
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:45] #826 closed, assigned to nobody

[2020-08-31 18:45] hdonnay commented on #832
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:45] #832 closed, assigned to ldelossa

[2020-08-31 18:45] hdonnay commented on #835
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:45] #835 closed, assigned to nobody

[2020-08-31 18:46] hdonnay commented on #843
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:46] #843 closed, assigned to nobody

[2020-08-31 18:46] hdonnay commented on #848
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:46] #848 closed, assigned to nobody

[2020-08-31 18:46] hdonnay commented on #849
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:46] #849 closed, assigned to nobody

[2020-08-31 18:47] hdonnay commented on #852
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:47] #852 closed, assigned to nobody

[2020-08-31 18:47] hdonnay commented on #855
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:47] #855 closed, assigned to nobody

[2020-08-31 18:47] hdonnay commented on #862
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:47] #862 closed, assigned to nobody

[2020-08-31 18:47] hdonnay commented on #863
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:47] #863 closed, assigned to nobody

[2020-08-31 18:48] hdonnay commented on #868
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:48] #868 closed, assigned to nobody

[2020-08-31 18:48] hdonnay commented on #870
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:48] #870 closed, assigned to nobody

[2020-08-31 18:48] hdonnay commented on #878
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:48] #878 closed, assigned to nobody

[2020-08-31 18:48] hdonnay commented on #879
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:48] #879 closed, assigned to nobody

[2020-08-31 18:50] hdonnay commented on #882
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:50] #882 closed, assigned to nobody

[2020-08-31 18:50] hdonnay commented on #885
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:50] #885 closed, assigned to nobody

[2020-08-31 18:50] hdonnay commented on #894
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:50] #894 closed, assigned to nobody

[2020-08-31 18:51] hdonnay commented on #900
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:51] #900 closed, assigned to nobody

[2020-08-31 18:51] hdonnay commented on #910
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:51] #910 closed, assigned to nobody

[2020-08-31 18:51] hdonnay commented on #914
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:51] #914 closed, assigned to nobody

[2020-08-31 18:52] hdonnay commented on #915
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:52] #915 closed, assigned to nobody

[2020-08-31 18:52] hdonnay commented on #916
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:52] #916 closed, assigned to nobody

[2020-08-31 18:52] hdonnay commented on #965
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:52] #965 closed, assigned to nobody

[2020-08-31 18:53] hdonnay commented on #966
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:53] #966 closed, assigned to nobody

[2020-08-31 18:53] hdonnay commented on #969
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:53] #969 closed, assigned to nobody

[2020-08-31 18:56] hdonnay commented on #1014
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:56] #1014 closed, assigned to nobody

[2020-08-31 18:56] hdonnay commented on #1016
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:56] #1016 closed, assigned to nobody

[2020-08-31 18:57] hdonnay commented on #1017
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:57] #1017 closed, assigned to nobody

[2020-08-31 18:57] hdonnay commented on #1022
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:57] #1022 closed, assigned to nobody

[2020-08-31 18:57] hdonnay commented on #1023
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:57] #1023 closed, assigned to nobody

[2020-08-31 18:58] hdonnay commented on #1025
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:58] #1025 closed, assigned to nobody

[2020-08-31 18:58] hdonnay commented on #1028
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:58] #1028 closed, assigned to nobody

[2020-08-31 18:58] hdonnay commented on #1029
We’re declaring bug bankruptcy as part of the release process for a new major version of Clair. Please open a ticket in our [issue tracker](https://issues.redhat.com/projects/PROJQUAY/) if you feel this still needs to be addressed, and we'll triage as part of our v4 development process. Thanks!

[2020-08-31 18:58] #1029 closed, assigned to nobody

[2020-09-02 07:20] shashigokhale commented on #852
Logged JIRA Bug PROJQUAY-1031 (https://issues.redhat.com/browse/PROJQUAY-1031) in the new system for tracking.

[2020-09-06 09:49] abdennour commented on #928
@ldelossa  Really,  I am still not convinced. Helm has been invented to overcome challenges that you mentioned.
With this great **package manager**, you can cover all cases: k8s environment, OCP 3.x env, OCP 4.x env, ...etc.

Please , this is another call to support it. Otherwise, [kuberenetes.tn](http://kuberenetes.tn) will support it in [their repository ](https://github.com/kubernetes-tn/charts

[2020-09-06 12:27] ldelossa commented on #928
ClairV2 and ClairV3 are under community maintenance. Feel free to submit a Helm pr to those release branches.

ClairV4 will not support Helm in favor of Kustomize.

[2020-09-10 18:54] AstraLuma commented on #208
Would you consider some kind of disk space policy so this cache does not grow without bound?

[2020-09-11 13:47] jeremietharaud commented on #852
Hi, can we please reopen the issue ? The false positive is still here but the JIRA issue has been closed.

[2020-09-11 14:55] hdonnay commented on #852
As that Jira issue says, we're not going to work on this for v2. We're available to review any patches the best we can.

The new version of Clair is very near its first release, that's where we've been concentrating our efforts.

[2020-09-13 07:01] soninob commented on #208
+1

[2020-09-18 20:36] setharnold commented on #804
I've filed https://issues.redhat.com/browse/PROJQUAY-1099 for this issue. Thanks.

[2020-09-23 07:07] Portshift-Admin opened #1046 "nvd data feed url version 1.0 is not working anymore and need to be changed to 1.1"
### Description of Problem / Feature Request
I'm using clair version v2.1.4
nvd data feed url version 1.0 is not working anymore and need to be changed to 1.1
In the logs I see that clair is trying to reach the 1.0 version:
{"Event":"could not get NVD data feed hash","Level":"warning","Location":"nvd.go:161","Time":"2020-09-22 04:09:54.994342","data feed name":"2002","error":"https://nvd.nist.gov/

[2020-09-23 20:42] hdonnay commented on #1046
We'll certainly help review any patches, but the current maintainers (@ldelossa and I) don't have spare time to go back and work on v2.

Version 4 doesn't ingest the NVD feed, so this isn't a problem on the current version.

[2020-09-23 20:42] #1046 closed, assigned to nobody

[2020-09-28 12:57] byteborg commented on #1046
Integrated in https://github.com/quay/clair/pull/1056
How are you scheduling releases for 2.x?

[2020-09-28 14:28] SofyaTavrovskaya opened #1057 "Problem to submit manifest to indexer endpoint"
### Description of Problem / Feature Request

Hi!
I deployed testClairv4 and I am trying to use Clair API. I tried to submit a Manifest object to this endpoint POST indexer/api/v1/index_report. And I got the fail when try to get image layers from registry.hub.docker.com.
What am I doing wrong? I didn't find any info how to add to request docker registry token

### Expected Outcome

### Actual Outc

[2020-09-28 16:48] ldelossa commented on #1057
@SofyaTavrovskaya can you please show the manifest you are submitting to Clair?

This error indicates the URLs you provided in the Manifest object are behind some type of authentication. You may need to provide header information with the provided Manifest.

[2020-09-29 08:09] Jaybe-bdk opened #1061 "rm: can't remove '/var/run/secrets/kubernetes.io/serviceaccount/..data': Read-only file system"
### Description of Problem / Feature Request

The image build of version v2.1.5 with kaniko end up in a known error of upgrading alpine-baselayout.
Root cause is a problem of kaniko  ( https://github.com/GoogleContainerTools/kaniko/issues/1297 ), but this could not be fix immediately.

Possible workarround: pin the alpine version to 3.11

### Expected Outcome

The build will not fail.

### Actual

[2020-09-29 08:17] SofyaTavrovskaya commented on #1057
@ldelossa
I'm submitting to Clair this manifest:

[code]

[2020-09-29 08:51] PavloZabudskyi opened #1062 "Web-UI for clair"
### Description of Problem / Feature Request

Is there any web interface for clair? I think there was some before. But now I don't see any trace of it.
What are options? Do we need to use some third-party solutions, like harbor?

### Environment

- Clair version/image: 2.1.4
- Clair client name/version: N/A
- Host OS: N/A
- Kernel (e.g. `uname -a`): N/A
- Kubernetes version (use `kubectl version`)

[2020-09-29 15:28] ldelossa commented on #1061
@JensBode please discuss this on our mailing list if you are looking for support. This is not a Clair related issue.
https://groups.google.com/g/clair-dev

[2020-09-29 15:28] #1061 closed, assigned to nobody

[2020-09-29 15:29] ldelossa commented on #1062
@PavloZabudskyi

There is no UI as far as I know. Quay is the main application for Clair and provides a UI for its reporting.

If you wanted to take a look at adding a UI to Clair V4 (current main branch) I'd welcome the idea. For now I will close this issue. Open another if you'd like to talk design or tackling a UI.

[2020-09-29 15:29] #1062 closed, assigned to nobody

[2020-09-29 15:32] hdonnay commented on #1062
I don't know of any web-based UI specifically for Clair.

Conceptually, there's no reason there _can't_ be a Clair-specific UI, but the thinking is that you have to get a Manifest from somewhere, and where ever you get that probably has a better picture of the specific information about that artifact and can display Clair's results in a more context.

[2020-09-29 21:32] hdonnay commented on #1057
Yeah, that layer URL requires auth, which Clair doesn't know about natively. Any tool generating Clair manifests should follow redirects as far as possible and include any relevant headers.

The `clairctl` tool can generate a manifest for you, to compare against here's a quick terminal transcript to illustrate:

[code]

[2020-09-29 21:32] #1057 closed, assigned to nobody

[2020-10-06 14:07] nadgowdas opened #1082 "Does clair support scanning ubi images ?"
### Description of Problem / Feature Request

I am trying to use Clair to scan UBI/RHEL images. But, when I looked into the db tables `namespace` it only shows `centos:6,7,8`. Is there a reason other RHEL flavors are not supported ?

### Expected Outcome

clair to support curating advisories for rhel/ubi.

### Actual Outcome

### Environment

- Clair version/image:
- Clair client name/version:
- H

[2020-10-06 14:11] ldelossa commented on #1082
Clair V4 fully supports this. I suggest an upgrade to the latest Clair version. This support will not be added to v2 or v3 unless contributed by the community.

[2020-10-06 14:11] #1082 closed, assigned to nobody

[2020-10-07 14:24] smitphilip opened #1084 "Clair 4.0.0-rc.11 - runtime error: invalid memory address or nil pointer dereference"
### Description of Problem / Feature Request

Running version 4.0.0-rc.11 of clair results in a panic runtime error.

### Expected Outcome

Expecting container to successfully initialise

### Actual Outcome
[code]

### Environment

Clair Deployment yaml:
[code]

Clair Config File:
[code]

- **Clair version/image:**
quay.io/coreos/clair:v4.0.0-rc.11
- **Clair client name/version:**
N/A
- **Host OS:

[2020-10-07 19:20] hdonnay commented on #1084
I expect this to be resolved by quay/claircore#245. Issues.redhat.com is currently slow and/or slower than usual, so I'll update with a tracking ticket when possible.

[2020-10-08 08:42] pardeepbeniwal opened #1087 "Getting error while running clair: Connection reset by peer"
Hi,
I have run below command successfully:
$ mkdir $PWD/clair_config
$ curl -L https://raw.githubusercontent.com/coreos/clair/master/config.example.yaml -o $PWD/clair_config/config.yaml
$ docker run -d -e POSTGRES_PASSWORD="" -p 5432:5432 postgres:9.6
$ docker run -d -p 6060-6061:6060-6061 -v $PWD/clair_config:/config quay.io/coreos/clair-git:latest -config=/config/config.yaml

After that I am che

[2020-10-08 13:37] ldelossa commented on #1084
#245 is merged, is this fixed?

[2020-10-08 14:09] smitphilip commented on #1087
Looks like firewall maybe? Is your clair container actually starting up?
`sudo docker container ls`

[2020-10-08 16:47] hdonnay commented on #1084
No, there hasn't been a claircore release and an update to use that version in clair

[2020-10-08 16:49] ldelossa commented on #1084
whoops! read that as a clair pr. my bad.

[2020-10-09 06:54] pardeepbeniwal commented on #1087
yes, all containers are up

[2020-10-09 07:08] pardeepbeniwal commented on #1087
Is there any way to install on ubuntu machine without docker ?

[2020-10-09 08:17] smitphilip commented on #1084
upgrading to **Clair 4.0.0-rc.12** resolved my 'invalid memory address' error... Thanks!

[2020-10-09 08:17] #1084 closed, assigned to hdonnay

[2020-10-16 01:50] Hokwang opened #1105 "[FR] provide helm chart"
Hi,

I think v4 will come soon.

Please provide helm chart for install clair v4 on kubernetes.

Do you have a plan for this or consider other way (native yaml, operator, ...)?

[2020-10-16 20:18] msrb commented on #1105
Related issue: https://github.com/quay/clair/issues/928.

[2020-10-16 20:20] ldelossa commented on #1105
I doubt we will support helm. While not officially planed an Operator is very likely. We will also consider Kustomize after evaluation.

Community can contribute helm into /contrib directory.

[2020-10-16 20:20] #1105 closed, assigned to nobody

[2020-10-19 20:41] hdonnay commented on #1087
Some things to note:

1. I don't know how recent the `quay.io/coreos/clair-git:latest` container is, probably over a year old.

2. The old `master` branch (now `development-3.0`) is effectively unsupported.

If you want to use that specific version, I'd suggest building the container yourself. Someone on the mailing list might be able to help.

[2020-10-19 20:41] #1087 closed, assigned to nobody

[2020-10-23 12:09] git-prabhut commented on #372
Had same issue with Docker-CE (19.03.6) running on Linux/amd64.

When I opened the port 9279 (using ufw command), it started working.

[2020-10-27 08:57] alejandroalvarezavoristravelio opened #1114 "Clair not showing reports"
### Description of Problem / Feature Request

When performing clair v4 scans inside clair container, it seems all to be ok but the report always says the same:
"imagename and tag ok". Clair pod logs:

[code]

### Expected Outcome

[code]

### Actual Outcome

[code]

### Environment

- Clair version/image: v4.0.0-rc.16
- Clair client name/version: clairctl 0.1.0
- Host OS: Red Hat Enterprise Linux

[2020-10-29 12:33] savujevi opened #1116 "Could not get NVD data feed hash version 1.0"
### Description of Problem / Feature Request

When we start clair in version 2.1.6 we get following errors:

{"Event":"could not get NVD data feed hash","Level":"warning","Location":"nvd.go:161","Time":"2020-10-29 12:36:55.865980","data feed name":"2018","error":"https://nvd.nist.gov/feeds/json/cve/1.0/nvdcve-1.0-2018.meta  failed status code: 404"}

It seems, that version 1.0 is not longer availa

[2020-11-04 12:59] SofyaTavrovskaya commented on #1114
I have the same problem with the latest Clair version/image: v4.0.0-rc.20.

Problem that this vulnerabilities don't present in database. For example, vulnerability CVE-2019-18276 doesn't present in PostgresDB for ubuntu-focal-updater, but presents in https://people.canonical.com/~ubuntu-security/oval/com.ubuntu.focal.cve.oval.xml.bz2:

`<definition class="vulnerability" id="oval:com.ubuntu.focal:d

[2020-11-04 15:42] hdonnay commented on #1114
In regards to the original post, I think the previous results were mistaken. A bug was found in the matching logic where packages weren't being scoped appropriately.

For example, taking `libpcre3`, we can see they're actually all filed against debian versions:

[code]

As far as the advisory not appearing in the database, I'll continue to investigate.

[2020-11-05 14:06] meletis opened #1120 "Quay interface doesn't come up in test mode"
### Description of Problem / Feature Request

Hi,

We took the steps in https://quay.github.io/clair/howto/testing.html and used the "ready-v4.0.0-rc.20" branch so that we can build the containers.

Building the container was successful, but the Quay interface is down and we can't create an account, as per the instructions. We have attached the clair-quay logs for convenience.

[quay-logs.txt](htt

[2020-11-05 17:41] ldelossa commented on #1120
@meletis

Quay takes a bit to come up. I noticed I received this 502 Bad Gateway until just about a minute passed.

Is it possible that you did not wait enough time for Quay to come up? Please allow up to a minute for the local Quay to initialize.

[2020-11-05 17:44] meletis commented on #1120
Thank you, @ldelossa
I actually waited for 3-4 hours and nothing changed. Is it possible that it has to do with MacOS? Did you also try with MacOS?

[2020-11-05 17:45] ldelossa commented on #1120
@meletis its possible. this initial test was on Fedora. I have a mac book tho, let me test on this.

[2020-11-05 17:45] ldelossa commented on #1120
@meletis also did you consider all notes in the troubleshooting section of that document? https://quay.github.io/clair/howto/testing.html#troubleshooting

[2020-11-05 17:49] meletis commented on #1120
@ldelossa , I did check the port conflicts and permissions, but I didn't check the resources section. Thank you for the tip, I will increase the limits and I will retry. I will also wait for your test results on your Mac.

Thanks!

[2020-11-05 17:58] ldelossa commented on #1120
@meletis

I just ran the local dev on my mac:

macOS Catalina
Version 10.15.17

Docker specs:

CPU: 4
Memory: 12gb
Swap: 2gb
Disk Image Size: 208 gb

Quay started with no issues.

[2020-11-05 18:11] meletis commented on #1120
Oh, thank you for these specs, @ldelossa .they are totally different than mine. I will try again and will get back.

[2020-11-05 18:23] meletis commented on #1120
It worked. All it needed was a few more GB of memory! Thank you so much, @ldelossa!

[2020-11-05 18:23] #1120 closed, assigned to ldelossa

[2020-11-05 18:24] ldelossa commented on #1120
glad it worked out.

[2020-11-10 11:48] ocrawford555 commented on #1116
👋 what is more odd to me is that I thought this issue was fixed in a recent release, yet it seems from our logs as well, that it is still trying to use the 1.0 feed:

https://github.com/quay/clair/blob/release-2.0/ext/vulnmdsrc/nvd/nvd.go#L42

2.1.5 release: https://github.com/quay/clair/pull/1056

[2020-11-12 01:51] dmc5179 opened #1122 "Airgap documentation lists incorrect commands"
### Description of Problem / Feature Request

Documentation here: https://github.com/quay/clair/blob/main/Documentation/concepts/updatersandairgap.md

shows the clairctl commands as:

clairctl updater-export
clairctl updater-import

But the clairctl command shows them as:

export-updaters  run updaters and export results
import-updaters  import updates

### Expected Outcome

Doc and command to mat

[2020-11-12 02:26] dmc5179 commented on #1122
The documentation also doesn't seem to mention that I need to have my config.yaml in order to run this command. I tried using the config.yaml.sample in this repo but that failed:

[code]

That issue appears to be because the config.yaml.sample file has tabs instead of space in it. It also appears to have other issues that prevent me from using it:

[code]

So I just pulled the config.yaml from qua

[2020-11-19 11:59] SofyaTavrovskaya opened #1125 "Missing vulnerabilities in debian based images"
### Description of Problem / Feature Request
If scan debian-based image using Clair v4, we won't find all presented vulnerabilities.

Scan of debian: stretch image with Clair4 looks like:
[code]
In report we have missing vulnerabilities in following source packages:

bzip2 (1.0.6-8.1):
https://security-tracker.debian.org/tracker/CVE-2019-12900
`"252":{"id":"252","name":"libbz2-1.0","version":"1.0.

[2020-12-15 17:28] dravos opened #1146 "Vulnerabilities present in Clair v2.1.5/6"
### Description of Problem / Feature Request

The version of the alpine linux base image that Clair v2.1.5 and v2.1.6 are built on top of have vulnerabilities of varying severities. In the Dockerfile, was able be resolve it by upgrading the affected packages with `RUN apk upgrade` added right after `FROM golang:1.13-alpine`. Since support for golang1.13 on dockerhub [won't address this](https://gi

[2020-12-16 04:43] vippujain commented on #777
I am having issue with Fedora version 28 and CLAIR version is 2.1.6. Do any hvae workaround for same?

[2020-12-16 21:23] hdonnay commented on #777
Clair v2 doesn't recognize fedora, so returning 422 is expected behavior.

[2020-12-22 07:40] hbandi opened #1149 "[Question] Can we get the component path information the clair rscanning results"
- Clair version/image: 2.0.8
- Clair client name/version: klar
- Host OS: centos

We want to find the Clair component path information from the Clair results.
Can you please help us with this?
Thanks

[2020-12-26 04:33] kalrashubham49 opened #1151 "matcher/api/v1/vulnerability_report giving 404 Not found"
### Description of Problem / Feature Request

I am using clair release v4.0 for scanning images., Indexing has been done , but i am not able to get Vulnerability report from Clair when trying to use "http://clairaddr:6060/matcher/api/v1/vulnerability_report/mymanifesthash" endpoint i am getting 404 Page not found.

I have checked , above given sha has been indexed and i am able to get the index re

[2020-12-26 08:24] abdennour commented on #1105
@ldelossa  **Helm** is Top 1 as per [CNCF landscape in k8s package managers](https://landscape.cncf.io/).
![image](https://user-images.githubusercontent.com/1788384/103148069-e17c6c80-476c-11eb-94b8-56ffe5fdb1e0.png)

A cloud-native software which does not support Helm, it means one of two things:
1. Software contributors do not know Helm.
2. Or establish a Vendor lock-in to another alternative te

[2020-12-26 08:29] abdennour opened #1152 "contrib: Helm chart wanted"
### Description of Problem

The famous cloud-native software "Clair" does not have official Helm Chart.

### Expected Outcome
We expect one of two things:
- either, the "quay" github organization has a git repository which includes Clair helm chart
- or, the quay/clair git repo has a subfolder for Clair Helm chart

Whether the first or the second, we can expect also to access the Helm chart remote

[2020-12-26 09:09] abdennour commented on #401
yes @hdonnay ! please open it

[2021-01-02 16:45] cynthia-rempel opened #1153 "Please add cp config.yaml.sample config.yaml to https://quay.github.io/clair/howto/testing.html"
### Description of Problem / Feature Request
please change https://quay.github.io/clair/howto/testing.html to read

git clone --single-branch --branch release-4.0 https://github.com/quay/clair.git
cd clair/
cp config.yaml.sample config.yaml
sudo make local-dev-up-with-quay

when I ran
git clone --single-branch --branch release-4.0 https://github.com/quay/clair.git
cd clair/
sudo make local-dev-up-

[2021-01-04 14:10] hbandi opened #1154 "will clairctl works with AWS ECR"
Can we generate manifest from AWS ECR using clairctl

Clair version/image: V4.0.0
Clair client name/version: clairctl
Host OS: centos

[2021-01-04 16:25] ldelossa commented on #1154
Hello @hbandi

Clairctl uses a library which abstracts registry access. https://github.com/google/go-containerregistry

If this library is compatible with AWS ECR, it will work. What this boils down too is ECR must implement the OCI registry spec.

[2021-01-04 16:32] ldelossa commented on #1153
@cynthia-rempel this is not correct.

The configuration file used in local dev is found in https://github.com/quay/clair/tree/main/local-dev/clair

You containers are failing for a different reason. Please take a look at: https://quay.github.io/clair/howto/testing.html#troubleshooting

Once you review that, if your error still persists please provide more details including the error messages and c

[2021-01-04 16:33] ldelossa commented on #1122
@hdonnay ping on this.

[2021-01-04 16:34] ldelossa commented on #1114
@hdonnay I think this issue can be closed? We fixed matching issues along the road to GA, correct?

[2021-01-04 16:37] ldelossa commented on #1152
@abdennour we would like a helm chart to come from community contribution.

[2021-01-04 16:42] ldelossa commented on #1151
@kalrashubham49 can you provide both Indexer and Matcher logs, along with your config, when you experience this 404?

Under first impression, without much info, its possible the Matcher cannot contact the Indexer. This could be because of bad configuration or some network partition between the two services.

[2021-01-04 16:46] ldelossa commented on #1149
@hbandi Clair v2 is under community maintenance. This request would need to be fulfilled by a contributing community member.

Please upgrade to Clair v4.0 in the mean time and see if this feature is necessary in our latest version.

[2021-01-04 16:52] ldelossa commented on #1125
@SofyaTavrovskaya

We recently merged in a patch which accurately parses the debian security database.

https://github.com/quay/claircore/pull/274

Feel free to re-open this ticket if the latest version of Clair v4 still exhibits this issue.

[2021-01-04 23:48] tomasji opened #1155 "CVE description missing in alpine database"
### Description of Problem / Feature Request

Clair report in JSON format for an Alpine-based images contains an empty description (but debian is OK)
It can be tested e.g. on alpine:3.12.0

The description is not in the database:
[code]

Errors in the log:
component:
  libvuln/Libvuln/loopUpdaters

updating errors:
  alpine-main-v3.6-updater: failed to parse the fetched vulnerability database: jso

[2021-01-06 10:22] SofyaTavrovskaya commented on #1125
@ldelossa

I tried scan for vulnerabilities with the Clair v4 and the issue is still presented.

For example, in debian:stretch image Clair v4 can't find vulnerability CVE-2019-12900 in bzip2 source package.

In debian:stretch image   libbz2-1.0 binary is installed from source package bzip2 (https://tracker.debian.org/pkg/bzip2).

[code]

 But problem that in debian oval database:
[code]
 and in h

[2021-01-06 10:27] jan-zmeskal opened #1156 "Clair's path towards DockerHub independence"
### Introduction

DockerHub introduced [pull rate limits](https://www.docker.com/increase-rate-limits) in November 2020, which is especially hurtful for CI workflows. If they run many times a day, they might easily hit it. Therefore I propose that we change our CI so that it does not rely on docker.io/golang image any more.

### Implementation
After discussing this topic with Louis and Hank, we ca

[2021-01-06 10:28] jan-zmeskal commented on #1156
@ldelossa @hdonnay Please review my proposal and check that I haven't forgotten anything major. Also, please let's treat this issue as the main discussion platform for this effort from now on.

[2021-01-06 16:27] hdonnay commented on #1105
As @ldelossa said,

There hasn't been such a contribution yet.

I don't appreciate the imputation that we maintainers are attempting something nefarious by not using the same software you do.

[2021-01-06 16:30] hdonnay commented on #401
This is possible in v4, and previous versions are not under active development.

[2021-01-06 16:36] hdonnay commented on #1154
Yes, I'd consider it a bug if it doesn't work, modulo authentication issues; if I recall correctly, the registry spec punts on the specific method of authentication, so comprehensive support in our best-effort tool may not be possible.

Please open a bug if you find `clairctl mainfest ${image}` doesn't work as expected

[2021-01-06 16:38] #1154 closed, assigned to nobody

[2021-01-06 16:45] hdonnay commented on #1114
Yeah, there was a string of bugs relating to this that were squashed in the GA runup. Ubuntu should correctly report as having a grip of CVEs.

[2021-01-06 16:45] #1114 closed, assigned to hdonnay

[2021-01-06 17:22] hdonnay commented on #1155
The descriptions are not provided by the alpine security database, so there's nothing to import. The map of version to vulnerabilities has the vulnerabilities as freeform strings which are usually (but not always) CVE IDs.

The alpine updater could cross-reference against CVE data from NIST, but so far the philosophy has been to use what's in the security database, nothing more.

As for the other

[2021-01-06 17:28] hdonnay commented on #1155
For reference, this is a JSON Schema I hacked up (based on our data type and hucking json into an online schema generator) and used to find what was wrong:

[code]

[2021-01-07 16:05] hbandi opened #1158 "clair: unable to run updaters"
we are observing frequent errors on Clair logs and also Clair is not detecting any vulns its always showing 0 for all images.

[code]

- Clair version/image: clairV4.0.0
- Clair client name/version: clairctl
- Host OS: centos
- Kernel (e.g. `uname -a`):
- Kubernetes version (use `kubectl version`):
- Network/Firewall setup:

[2021-01-07 18:47] hdonnay commented on #1158
It looks like none of the updaters were able to run, as signified by

[code]
and
[code]

Sounds like some sort of proxy to me. The standard `http_proxy` environment variable _should_ be supported, but it's possible an unconfigured client is in use somewhere.

[2021-01-07 20:13] #1122 closed, assigned to hdonnay

[2021-01-07 21:12] hdonnay commented on #1155
These alpine-related issues are tracked [here](https://gitlab.alpinelinux.org/alpine/infra/docker/secdb/-/issues) as numbers [2](https://gitlab.alpinelinux.org/alpine/infra/docker/secdb/-/issues/2) and [3](https://gitlab.alpinelinux.org/alpine/infra/docker/secdb/-/issues/3).

[2021-01-19 05:07] hbandi commented on #1158
Thanks, @hdonnay
It's a proxy issue, we need to white list all the updater URLs at our end.
From logs, we found these 3 URLs.
www.debian.org
secdb.alpinelinux.org
support.novell.com
packages.vmware.com

where can we find the list of all updater URLs?

[2021-01-19 05:37] hbandi commented on #1158
From the code we found this super set
secdb.alpinelinux.org
www.debian.org
linux.oracle.com
packages.vmware.com
people.canonical.com
www.redhat.com
please let us know anything we missed.

[2021-01-19 13:03] thomasmckay commented on #1158
https://issues.redhat.com/browse/PROJQUAY-1444

[2021-01-19 19:50] omerxx commented on #440
Anyone found a solution to that?

[2021-01-21 18:46] hbandi commented on #1158
@hdonnay  @thomasmckay
Thanks for your help

After adding the above URLs to proxy config,looks like it worked .
But now we are  403 error, please help us on this.

{"level":"error","component":"libvuln/New","component":"libvuln/Libvuln/loopUpdaters","error":"updating errors:\n\tRHEL8-openstack-16.0: ovalutil: fetcher got unexpected HTTP response: 403 (403 Forbidden)\n\tRHEL6-satellite-tools-6.3: o

[2021-01-21 19:31] hdonnay commented on #1158
That's an issue with the server hosting the file, not Clair. We're trying to hunt it down, but it's an intermittent issue with another Red Hat team's server.

[2021-01-21 19:37] hbandi commented on #1158
Thank you very much for your response.
But we are also observing Clair is not able to detect vulnerabilities for any image, getting always empty vulns.
Can you help us to debug this issue?
Thanks

[2021-01-21 21:17] hdonnay commented on #1158
I'll take a look if you provide any details to reproduce with. To start, what's the image?

[2021-02-01 16:34] ldelossa commented on #1158
@hbandi is this still an issue?

[2021-02-01 16:54] hbandi commented on #1158
Thanks for asking @ldelossa
have not tried again, will try this week and update you guys.
Thanks,
Hanumanth

[2021-02-01 17:08] brtkwr commented on #1158
Yes I think it is, my Debian based image was only showing 23 unknown CVEs which on Quay.io was reporting 200+ of different kinds. I waiting a few days for this to change but no change. Not sure what I need to do to get the updater to run.

[2021-02-01 20:16] #1158 closed, assigned to nobody

[2021-02-05 19:23] ldelossa commented on #1156
@jan-zmeskal does this pr currently reflect all the tasks as "done" ?

[2021-02-05 19:41] hbandi opened #1174 "[Help Needed] API call with layerid not returning features."
Hi Team,

We are using Clair 2.0.8 version of our production environment, we are in the process to upgrade to v4.
But we are facing an issue with the Clair API.
curl -X GET "http://host:6060/v1/layers/{layerId}/feature" this API is returning an error with no data found.
But in our dev environment, we are able to get the data.
is there anything missing here?

- Clair version/image: 2.0.8
- Clair cl

[2021-02-05 19:50] #1174 closed, assigned to nobody

[2021-02-08 08:28] jan-zmeskal commented on #1156
@ldelossa With my current PR merged, we'll still have points Nr. 2 and 6 still pending. I'd like to tackle them in separate PRs. I still don't know if Nr. 2 is possible. But the idea here is to have one authoritative set of Go releases that we support and and would be used by all our workflow. At this point, each workflow has its own list with supported versions. Since this affect more workflows a

[2021-02-09 14:23] jan-zmeskal opened #1179 "Make maximum number of notifier's connections to DB configurable."
### Feature Request

As of now (February 2021), the number of maximum DB connections maintainer by pool is [hard-coded for notifier](https://github.com/quay/clair/blob/eb519e0752d3cf7f5f8daeefd4ad9bd29cbfa8c2/notifier/service/service.go#L182). It would be very useful if this could be configured [the same way it can be done for matcher](https://github.com/quay/clair/blame/main/Documentation/referen

[2021-02-09 14:26] jan-zmeskal commented on #1179
Actually the same applies also for indexer.

[2021-02-10 20:43] BrionStone commented on #1125
This repros consistently for me.   It may be because ClairV1 and ClairV4 update their debian vulnerability lists from different locations.  Here's an example for the same private debian:buster-slim image:

Container Image: debian:buster-slim, built Feb 1, 2021
Difference:
ClairV1 - 55 vulnerabilities.  ClairV1 updates from https://security-tracker.debian.org/tracker/data/json
ClairV4 - 20 vulnerab

[2021-02-15 17:11] pgollucci commented on #852
Any update on release from 09/2020 ?  Still have this issue today.

[2021-02-16 15:22] jan-zmeskal opened #1186 "Big POST request seems to be closed from indexer server side"
### Description of Problem
Hey guys, it's me again. I recently posted #1173 and from what I can gather, it seems to have fixed the problem described in the PR (TLDR: None of the notifier's processors could acquire lock). However, it seems to have uncovered another issue that seems to me even more complicated. I'll try to describe it as best as I can and it'll hopefully give you enough clues to unt

[2021-02-18 07:30] h4n0sh1 opened #1191 "clairctl report fails to get indexer/api, connection reset by peer"
### Description of Problem / Feature Request

Hi,

I've been following the official steps described [here](https://quay.github.io/clair/howto/getting_started.html) to get my clair instance running in a single process combo mode, not trying to do anything special but to bring it up.

Notice that the manifest command works, this problem only occurs with report.

### Steps to Reproduce

`docker run -

[2021-02-18 17:07] BrionStone commented on #1125
MoreInfo:  Looks like, per https://quay.github.io/claircore/concepts/severity_mapping.html,  the lack of debian severity is by design, which begs the question: why move to a vulnerability definition source that lacks severity?

[2021-02-19 16:43] ldelossa commented on #1125
Hello @BrionStone

When we re-wrote Clair V4 - we wanted to ensure accuracy first by utilizing *just* upstream data sources. If the upstream did not provide severity mapping data, we did not try to "guess" the severity.

Now that we have matured our accuracy we are working on performing cross-references to auxiliary data (think NVD). We have the working specification for this, which we are calling

[2021-03-08 10:06] jan-zmeskal opened #1198 "Notifier panics at start"
### Description of Problem / Feature Request
When deploying notifier to OCP, it panics at the start. Full log is attached. I'm not gonna go into great detail as this problem is already addressed in #1193. I just created this issue to point out that this can be observed also on the `main` branch and is not unique for Hank's `notifier-efficiency` branch.
[clair-notifier-1-59g25.log](https://github.c

[2021-03-08 19:44] chrisbsmith commented on #1198
I'm seeing the same error when following [the instructions for local development](https://quay.github.io/clair/howto/testing.html#starting-a-cluster) using docker compose. The

I've tried this on Amazon Linux2 and Ubuntu 20.04 AWS EC2s, both with the same result.

# Environment
* Ubuntu: 20.04.2 LTS (Focal Fossa)
* go: go1.16 linux/amd64
* docker: 19.03.8
* docker-compose version 1.25.0

I figure

[2021-03-08 19:57] hdonnay commented on #1198
As noted, there's a fix in #1193

[2021-03-08 21:04] chrisbsmith commented on #1198
@hdonnay , I'm very new to Quay and Clair and am comparing vulnerability scanners to add to my environment.  I ran the same make commands from your PR branch and the notifier stayed up, but the security scan sits in a "Queued" state forever.  I'm still seeing these logs in traefik router.

[code]

Any help or direction on where to look here would be great.

[2021-03-08 21:33] hdonnay commented on #1198
This seems unrelated to this issue, so I'd recommend opening a discussion with all the details you can think of. Given that that endpoint doesn't return 400, my hunch is it's something in the router.

[2021-03-09 13:41] joephillipps opened #1200 "CVE-2020-28928 False positive - musl 1.2.2"
### Description of Problem / Feature Request

CVE-2020-28928 is being detected for the `musl` package on version `1.2.2-r0`.

According to the [developers documentation](http://musl.libc.org/) the CVE should be patched in this version.

We're seeing this in AWS ECR vulnerability scans, which are backed by Clair, and also when scanning images locally with a Clair cluster. For reference, scanning th

[2021-03-09 17:30] hdonnay commented on #1200
As far as AWS ECR goes, the version they seem to use is not under active development; the maintainers are around to help review any contributions.

The issue is occurring with `v4.0.2`?

[2021-03-10 17:59] joephillipps commented on #1200
Looks like I spun up an older version of Clair locally in my original testing (`quay.io/coreos/clair:latest`) rather than v4. the issue did occur with the older version.

I've retested with `v4.0.2` and confirmed that it does not occur with the newer version.

[2021-03-11 08:48] jan-zmeskal commented on #1198
@hdonnay With https://github.com/quay/clair/pull/1193 merged, I guess we can close this, right?

[2021-03-11 15:48] hdonnay commented on #1198
Yeah, forgot to link this before merging.

[2021-03-11 15:48] #1198 closed, assigned to nobody

[2021-03-11 15:49] hdonnay commented on #1200
Okay, thanks for double-checking.

[2021-03-11 15:49] #1200 closed, assigned to nobody

[2021-03-22 20:56] abdennour commented on #1152
Thank you @ldelossa for the clarification !

[2021-03-23 14:52] meghanabsrinath opened #1212 "Running Clair in single fargate task for container scanning"
We are running `clair` and `clair-db` containers as part of a single AWS fargate task. Below is a snippet of our task definition.
[code]

Below is a part of `config.yaml` where we have specified the connection string for the database.
[code]
As per the [AWS fargate docs](https://aws.amazon.com/blogs/compute/task-networking-in-aws-fargate/), `localhost` can be used to communicate between these two

[2021-03-23 14:59] #1212 closed, assigned to nobody

[2021-03-25 14:58] atzawada commented on #1152
A community version exists at https://github.com/wiremind/wiremind-helm-charts/tree/main/charts/clair but it doesn't appear to work with Clair v4...Perhaps this could be forked (with permission), updated, and incorporated as part of this project.

[2021-03-29 13:19] ldelossa commented on #1186
@jan-zmeskal can we close this? The notifier efficiency work has merged. You shouldnt see this issue.

[2021-03-29 14:11] jan-zmeskal commented on #1186
@ldelossa You're right, closing

[2021-03-29 14:11] #1186 closed, assigned to nobody

[2021-04-06 19:52] imaskm opened #1221 "ERROR: relation "scanner" does not exist in version 4.0.4"
### Description of Problem / Feature Request

I am trying to deploy version 4.0.4  on a kubernetes cluster but the clair pod is throwing the error and then goes in "CrashLoopBackOff" state.

### Expected Outcome
Pod should be in running state

### Actual Outcome
clair pod is in "CrashLoopBackOff" state.
I am using istio as a sidecar which injects a proxy container in the pod
kubectl logs showing t

[2021-04-06 19:55] #1221 closed, assigned to nobody

[2021-04-08 02:10] cch0 commented on #852
found an alternative installation solution for jq 1.6 suggested in [here](https://github.com/stedolan/jq/issues/1406)

[2021-04-09 16:52] crozzy opened #1231 "Vulnerability report can break API contract due to time.Time being null"
### Description of Problem / Feature Request

Using the library https://github.com/ugorji/go/ to do the JSON response encoding means that all `time.Time` objects that evaluate to `IsZero() == true` will be marshaled as `"time": null`.

This means that if, when grabbing `vuln`s from the DB, they have an `Issued` time of `0001-01-01 00:00:00+00` they will end up being send back from the API as somet

[2021-04-09 17:04] ldelossa commented on #1231
Good catch.

@hdonnay you recently added this package into ClairCore.
Can you file a ticket in http://issues.redhat.com for this so we can track as a blocker for Quay 3.6 as it will utilize Clair 4.1-alpha.1

@thomasmckay This will be a blocker for 4.1-alpha in 3.5/3.6

@hdonnay Quay errors out here because it's using our OpenAPI spec to validate the responses. This fix maybe as simple as updating

[2021-04-09 17:34] hdonnay commented on #1231
It's not in claircore, only clair.

I think having the string would benfit from being more uniform (and the previous behavior), but one argument for the null is that any clients would no longer need to recognize the bogus time string.

[2021-04-09 17:36] ldelossa commented on #1231
Yeah I can see null being useful here, but we get into the business of "interpreting" fields coming from the upstream vuln database instead of just passing them along as is, which I'm not sure we want to do.

I think I'm in favor of returning back to providing the string and not null, if possible.

[2021-04-09 18:18] #1231 closed, assigned to nobody

[2021-04-14 09:21] pealtrufo opened #1237 "[Question] Support scanning UBI images in 2.1.X branch"
I am using Harbor registry 1.10 integrated with Clair and I am trying to understand if scanning UBI images is supported. This Harbor version comes out of the box with Clair version 2.1.3, but I am wondering if installing 2.1.6 would provide this support.

### Environment

- Clair version/image: 2.1.X
- Clair client name/version: N/A
- Host OS: N/A
- Kernel (e.g. `uname -a`): N/A
- Kubernetes versi

[2021-04-18 08:10] pkonnov opened #1246 "[Question] CVSS Base score"
### Description of Problem / Feature Request

There is a table with vulnerabilities(vuln) in the database. This table has a field vulnerable_range. What should it contain?

### Expected Outcome

BaseScore CSVV3.0
BaseScore CSVV2.0
Some metadata

### Actual Outcome

'empty'

### Environment

- Clair version/image: https://github.com/quay/clair/blob/main/docker-compose.yaml

[2021-04-19 19:00] #1246 closed, assigned to nobody

[2021-04-20 18:21] anilmertkinay commented on #1191
Having the same issue. Running clair in combo mode in a container, with a slightly tweaked configuration to match my environment. When I try to use clairctl's report option I get the following error:

It seems like the indexer is not initialized correctly. clairctl manifest seems to be working fine though. Does anybody have a clue or maybe I'm missing something while following the documentation.

[2021-04-21 18:01] mlhoyt opened #1249 "RHEL criterion "is installed" content causes panic"
## Description of Problem / Feature Request

Using quay/clair v2 as the base of https://github.com/arminc/clair-local-scan/ (specifically v2.1.6 defined [here](https://github.com/arminc/clair-local-scan/blob/master/.travis.yml#L9)), have discovered very recently that https://www.redhat.com/security/data/oval/com.redhat.rhsa-RHEL8.xml appears to break the following code:

https://github.com/quay/cl

[2021-04-21 19:38] hdonnay commented on #1249
v2 is unsupported, patches welcome

[2021-04-21 20:09] hdonnay commented on #1191
You've got your server configured to listen on `localhost:8080` but you're trying to talk to a sever on `localhost:6060`.

[2021-04-21 20:11] hdonnay commented on #1191
OP, I'd check similarly to make sure configuration is correct

[2021-04-21 20:12] hdonnay commented on #1191
Also note that listening on `lo` inside a container means port forwarding isn't going to work

[2021-04-22 06:19] anilmertkinay commented on #1191
I was able to get a response using `http_listen_addr: 0.0.0.0:6060` in the configuration file. I guess the sample configuration assumes that we have a loadbalancer listening on port 8080 to handle the requests.

Thanks.

[2021-04-22 09:50] ocrawford555 commented on #1249
Also seeing this problem (running Clair v2.1.6), would be great if the patch attached to this issue could be looked into. Thanks!

[2021-04-22 13:09] sindhuputta opened #1251 "updaters failing with 403 forbidden errors"
### Description of Problem / Feature Request

Recently I have setup Clair V4.0.4 version in our local kubernetes environment. As soon the postgress db is available the clair server has updated DB with all CVEs, I can see it in logs. But after a while updaters kick in and I am seeing a bunch of HTTP 503 forbidden errors in logs. When the updaters initially could populate the postgress DB why does t

[2021-04-23 18:37] mlhoyt commented on #1249
@hdonnay thank you for the help getting the patch merged.

If there is documentation on how to proceed from here I have not found it.
How do I get a new tag created on the `release-2.0` branch?
How do I get a new image built and published from that new tag to https://quay.io/repository/coreos/clair ?

Thank you for the additional help!

[2021-04-26 07:31] reasonerjt opened #1253 "Will there be a new 2.1.x release?"
Dear maintainers,

Will you release a new patch for 2.1.x to incorporate the following fix?
https://github.com/quay/clair/commit/31e704b589553981c47cdaa0c519d4f909fa7db6

[2021-04-26 21:22] hdonnay commented on #1253
The latest v2 tag, [v2.1.7](https://github.com/quay/clair/tree/v2.1.7), contains this fix. I'll try to build and push a new container once I sort out access to  the old coreos namespace.

[2021-04-26 21:22] #1253 closed, assigned to nobody

[2021-04-27 20:22] mlhoyt commented on #1249
I am not sure who to thank for the new `v2.1.7` tag and the corresponding https://quay.io/repository/coreos/clair image but they are very much appreciated.

[2021-04-27 20:22] mlhoyt commented on #1249
AFAIK, this issue can be closed.  I am not sure why the "Fixes ..." line in the PR body did not close this automatically.

[2021-04-27 20:22] #1249 closed, assigned to nobody

[2021-04-30 16:00] ishanVshah commented on #544
how much time it will take ? because i am facing same issue.

[2021-04-30 17:47] sindhuputta commented on #1251
Really appreciate it if someone can take a look into it. All I need to know is why would I get forbidden errors. I have even set the proxy and could reach external sites so no issues from our end.

[2021-04-30 19:07] sindhuputta opened #1258 "Debug mode for clairctl 4.04 version, no information in usage of this tool as well."
### Description of Problem / Feature Request
I am clairctl V4.0.4(linux-amd64). It used to work until couple of days back but all of a sudden I am getting 404 for report option. But it doesnot print any more details that I can use to debug. It just prints one line like below,
2021/05/01 00:30:13 unexpected return status: 404

I have see the clairctl usage and i don't find any option to enable debu

[2021-05-03 13:03] sindhuputta commented on #1251
I was going through closed issues here and I found this suggestion by one of the members "hdonnay", he seem to be part of Clair team and the message goes like this - "There should be logs before this point that have the URL used, but I would be doubtful that this is a proxy issue as the upstream server returns 403 for a rate limit."
The logs before this point or even before 100 lines at this point

[2021-05-03 13:21] sindhuputta commented on #1251
Also it seems these are the list of updater URLs:
https://secdb.alpinelinux.org/
http://repo.us-west-2.amazonaws.com/2018.03/updates/x86_64/mirror.list
https://cdn.amazonlinux.com/2/core/latest/x86_64/mirror.list
https://www.debian.org/security/oval/
https://linux.oracle.com/security/oval/
https://packages.vmware.com/photon/photon_oval_definitions/
https://github.com/pyupio/safety-db/archive/
http

[2021-05-03 19:54] hdonnay commented on #1251
As you seem to have found in [1168](https://github.com/quay/clair/discussions/1168), the 403 errors are (almost certainly) a rate limit from the upstream Red Hat servers.

The URLs should be in the logs; grepping for the name of the updater (e.g. `RHEL7-openshift-4.3`) will help narrow down the log messages.

The 403 avalanche on a fresh start is a known issue, and will hopefully be fixed in v4.1.

[2021-05-03 19:59] hdonnay commented on #1237
V2 is unmaintained, but if the images are sufficiently simple, the scanning itself may work. If any RPM modules are being used, the results will almost certainly be incorrect because of v2's lack of support for RPM modules. I have no idea if there's any UBI-specific data in the sources that v2 pulls in by default.

[2021-05-03 19:59] #1237 closed, assigned to nobody

[2021-05-03 20:05] hdonnay commented on #1258
Clairctl has a debug flag, `D`. The flags are different between the main
command and the subcommand, see also `clairctl help` and `clairctl help report`.

Also, in 4.0 the debug flag only applies to the `clairctl` internals.

[2021-05-03 20:05] #1258 closed, assigned to nobody

[2021-05-03 20:06] #1191 closed, assigned to nobody

[2021-05-04 05:44] sindhuputta commented on #1258
Hi Hank,
Like I mentioned I did not see anything about debug mode in the help message. Please see below help message by clarictl-4.0.4 version,

`skputta-mac:cmd skputta$ ./clairctl help report
NAME:
   clairctl report - request vulnerability reports for the named containers

USAGE:
   clairctl report [command options] container...

DESCRIPTION:
   Request and print a Clair vulnerability report fo

[2021-05-04 05:49] sindhuputta commented on #1258
I am looking for debug mode for report subcommand, since its not mentioned in the usage message, please let me know the flag and usage information. Thanks Hank.

[2021-05-04 14:36] hdonnay commented on #1258
Like I said, it's the `D` flag: `clairctl -D report ...`

[2021-05-07 15:24] sindhuputta commented on #1251
Thanks Hank. We are ignoring them for now.

[2021-05-11 12:29] hectorhuertas opened #1264 "clairctl produces unauthorized URLs from private registries with s3 backend when generating a manifest"
### Description of Problem / Feature Request

When generating a manifest from an image in a private registry backed by s3, the URIs of the layers are wrongly signed and thus cannot be fetched from clair when generating a report.

The issue seems produced by the fact that clairctl does a HEAD request and then uses the generated URLs as valid to access the layers (https://github.com/quay/clair/blob/

[2021-05-12 06:33] #1156 closed, assigned to nobody

[2021-05-14 07:47] iainduncani opened #1270 "Clair does not detect Debian vulnerability"
### Description of Problem

I have an image that I know contains a version of `openssh-client` that is vulnerable to [CVE-2019-6111](https://security-tracker.debian.org/tracker/CVE-2019-6111) but when I scan it in Clair it does not detect this vulnerability.  Having dug into the problem I think there are two issues, firstly the packages in any layers other than the base are not detected, secondly

[2021-05-14 07:59] iainduncani opened #1271 "Debian vulnerabilities for Long Term Support (LTS) releases not loaded"
### Description of Problem / Feature Request

I scanned the `debian:jessie-20180831` using Clair and it did not detect the vulnerabilities I expected.  For instance [CVE-2016-9401](https://security-tracker.debian.org/tracker/CVE-2016-9401) was not detected.

### Expected Outcome

I expected `CVE-2016-9401` to be detected in the image.

### Actual Outcome

`CVE-2016-9401` was not detected.

Looking

[2021-05-14 14:59] hdonnay commented on #1251
This should be OK with the v4.1.0 release. If you can find time, please check that it fixes the 403 returns.

[2021-05-14 17:29] #1264 closed, assigned to nobody

[2021-05-17 04:47] sindhuputta commented on #1251
Thanks Hank. We will try and let you know how it goes.

[2021-05-19 09:00] sschuberth commented on #588
Hi, I'm sorry to comment on this old issue, but as it talks about "Maven" I'm wondering what source of known vulnerabilities Clair is using for Maven packages, as in the [docs](https://quay.github.io/claircore/) I cannot find a Maven-/ Java-specific provider being mentioned.

Any hints?

[2021-05-19 10:54] chaitanyamoger opened #1272 "Excluding certain paths during the Clair scan"
### Description of Problem / Feature Request

While scanning images there are some paths in the image containing jars which create vulnerabilities which we want to ignore. We want to remove these by excluding these paths from the scans. How do I exclude a path in the image from being scanned for vulnerabilities?

### Expected Outcome

Ability to exclude paths from being scanned

### Actual Outcome

[2021-05-21 09:17] iainduncani commented on #1270
I think the second problem I outlined above is a duplicate of #1125. The first problem seems to affect all images, not just Debian images.

[2021-05-21 13:57] paulaldridge opened #1273 "Matcher disable updaters config not woking in v4.1.0"
### Description of Problem / Feature Request

In relase v4.1.0 the code that checks the matcher config value of `disable_updaters` was removed, meaning that updaters will be enabled even with this value set to true.

### Expected Outcome

Setting `matcher.disable_updaters` to `true` in the config sets the Updaters `Sets` value to an empty list, disabling updaters for this matcher instance.

### Ac

[2021-05-24 14:49] hdonnay commented on #1272
This is not possible, and the ability will most likely not be added. Any consumer of Clair's reports should discard or ignore vulnerabilities that they determine can be allowed. In our view, the client is more likely to be in a position to make interpretation and policy decisions like this.

[2021-05-24 14:49] #1272 closed, assigned to nobody

[2021-05-27 13:12] SoaadMahmoud opened #1275 "could not pull ubuntu-cve-tracker repository The requested URL returned error: 503"
### Description of Problem / Feature Request

<could not pull ubuntu-cve-tracker repository The requested URL returned error: 503>

### Expected Outcome

<Event":"finished fetching","Level":"info","Location":"updater.go:253","Time":"2021-04-21 16:15:40.668695","updater name":"ubuntu"}>

### Actual Outcome

<"Event":"could not pull ubuntu-cve-tracker repository","Level":"error","Location":"ubuntu.g

[2021-05-27 16:37] hdonnay commented on #1275
This is a server-side error, there's nothing Clair can do except perhaps retry at a better time.

[2021-05-27 16:37] #1275 closed, assigned to nobody

[2021-05-31 23:09] efiegehen93 opened #1276 "HELP WANTED : Easy way to run Clair V4 in kubernetes and scan images"
### Description of Problem / Feature Request

Hey guys, is there an easy way to run Clair v4 in k8s, justo clair in combo mode, postgres DB and clairctl.
Not able to find a good tutorial, i'm using this docker image : quay.io/coreos/clair:v4.1.0

The following config.yaml
[code]

Andi'm trying also to install into a golang image, clairctl with :
`GO111MODULE=on go get github.com/quay/clair/v4/cmd/

[2021-06-01 21:19] #1276 closed, assigned to nobody

[2021-06-02 14:59] Dentrax opened #1280 "swagger: request url is misconfigured"
### Description of Problem / Feature Request

I think request URL is misconfigured on the Swagger. Currently, it tries to send a `[POST]` request to: `localhost:8082indexer`

I tried on this commit: 45538e0ccee4d4ee12247da11f295ff32dcbe4ff

### Expected Outcome

I guess, it should be: `http://localhost:8082/indexer/api/v1/index_report`

### Actual Outcome

![Screen Shot 2021-06-02 at 17 56 04](htt

[2021-06-02 15:49] Dentrax opened #1281 "localhost:8080 page throws 502 Bad Gateway - timeout and high cpu problems"
### Description of Problem / Feature Request

I was following the how-to [documentation](https://quay.github.io/clair/howto/getting_started.html) step-by-step.

[code]

If I wait ~5-10 mins, then CPU usage drop down to %10 and `localhost:8080` starts throwing `The connection was reset` error.

### Expected Outcome

It should work?

### Actual Outcome

502 Bad Gateway
High CPU Usage? (Is it normal?

[2021-06-02 21:17] hdonnay commented on #1280
I think this is fixed in the linked PR.

[2021-06-03 09:18] majewsky opened #1283 "Clair wrongly injects Authorization headers when fetching layers"
tl;dr: When sending HTTP requests to fetch layers, Clair injects an extraneous `Authorization` header which may confuse the object store containing the layers.

---

Our internal registry uses OpenStack Swift as a backing storage, and Clair for scanning vulnerabilities. We have Clair set up with the `auth.psk` config section, and our registry issues tokens to itself to talk to the Clair API. After

[2021-06-03 09:35] majewsky commented on #1283
I have patched Clair [like this](https://github.com/sapcc/clair/commit/1290f8a451d682cb001eb0180cc09fad8b7ed990) and that fixes the issue for us, but that patch is incredibly environment-specific and cannot be the general solution. I'd be willing to work on a PR to fix this issue in the general case, but I'd like to hear opinions first on how to approach it. I can see two options from a cursory re

[2021-06-04 14:42] #1280 closed, assigned to nobody

[2021-06-11 19:45] #1283 closed, assigned to nobody

[2021-06-14 08:10] crozzy commented on #1281
Hi!

Just tried this again and everything worked as expected, there is a delay between the `make` command starting the container and quay becoming available, but usually just a minute or two.

All the `make` command is doing is starting selected containers that are defined in the `docker-compose.yaml` file and thus you can view the container logs with the standard docker commands (e.g. `docker ps`

[2021-06-15 08:31] JamesAHowieson opened #1291 "Undetected vulnerabilities in Clair vs Trivy"
### Description of Problem / Feature Request

I was using ClairV2 against an Alpine image running python, originally no vulnerabilities were found, I thought this was strange as I knew for a fact that image had vulnerabilities. Assuming it was the outdated Clair version, I ran another scan using AWS ECR, which I'm assuming uses an up-to-date version of Clair. This time vulnerabilities were found,

[2021-06-15 21:41] hdonnay commented on #1291
Going to close this, as it's a v2 issue.

Feel free to reopen if you can add a v4 reproducer. In this case, that'd be a false positive/negative from the alpine security database and the manifest/registry tag that produces it.

[2021-06-15 21:41] #1291 closed, assigned to nobody

[2021-06-24 18:18] DoctahPopp871 opened #1302 "could not pull ubuntu CVE tracker repository using HTTPs URL"
### Description of Problem / Feature Request

<could not pull ubuntu-cve-tracker repository The requested URL returned error: 503>

### Expected Outcome

<Event":"finished fetching","Level":"info","Location":"updater.go:253","Time":"2021-04-21 16:15:40.668695","updater name":"ubuntu"}>

### Actual Outcome

< clair {"Event":"could not pull ubuntu-cve-tracker repository","Level":"error","Location":"

[2021-06-24 18:26] DoctahPopp871 commented on #1275
Hello,
I just ran into the same error and opened a similar issue : https://github.com/quay/clair/issues/1302

Im wondering why the `git://git.launchpad.net/ubuntu-cve-tracker` is not being used, it seems to be more stable then the HTTP(s) endpoint.

[2021-06-28 15:03] sbenhai opened #1303 "Tag manifest is queued to be scanned"
I'm trying to scan some image using Clair on my GCP machine, but every image I used got the same issue:
"_The manifest for this tag is queued to be scanned for vulnerabilities_" ([link](https://drive.google.com/file/d/1QjDMTXiydh8KiUvU2tdBxcR2faZfXwFh/view?usp=sharing))

When I'm trying to use ClairCTL I get "502 Bad Gateway":

`
instance-2:~$ ./clairctl-linux-amd64 -D report ubuntu
2021-06-28T14:

[2021-06-28 15:48] crozzy commented on #1303
It's a little hard to debug this without the logs from the quay container pertaining to it's communication with clair. You should check them to see if quay gives some more info.

For the `report` command `clairctl` is acting as a client to a running clair instance, hence you will need to specify a clair host (if it differs from the default `http://localhost:6060/`).

[2021-06-28 19:53] hdonnay commented on #1302
This was done in af7d890, so it's been that way ever since git started being used. It seems odd to switch to an insecure transport just to work around transient errors on the server side.

This being a v2 issue, it's not going to get worked on by any current maintainers.

[2021-06-28 19:53] #1302 closed, assigned to nobody

[2021-06-28 19:58] hdonnay commented on #1303
Also note that `ubuntu` is taken to mean `docker.io/library/ubuntu:latest`, which says very little about what's happening with quay-clair communication.

[2021-06-28 19:58] #1303 closed, assigned to nobody

[2021-06-29 12:58] sbenhai opened #1305 "Error registering to listen for server side events."
When I try to go through tutorials step by step I get this [error](https://drive.google.com/file/d/1NjS9wEnsSU_F9EwxlOi2IF-suPWygxRv/view?usp=sharing) at Step 4.

[2021-06-29 16:49] hdonnay commented on #1305
This looks like an issue with `quay`, and more appropriate for that project's issue tracker.

[2021-06-29 16:49] #1305 closed, assigned to nobody

[2021-06-29 17:31] BillDett commented on #1305
Please feel free to raise a ticket for us at https://issues.redhat.com/projects/PROJQUAY.  Please add as much detail as possible (including your quay configuration if possible).

[2021-06-30 06:19] vippujain opened #1306 "Issue in adding SSL certificate with Clair2.1.7"
**About Clair Infra Setup:**
I am using Clair version 2.1.7 for security scan and using Klar to trigger scan on Clair. Clair is configured in a VM and Klar is triggered from another VM.

**Clair VM Setup -**
I am running a docker container for Clair on the host network and Klar access Clair API to run a scan.

**Problem Statement:**
I am trying to add SSL certificates with Clair but after adding c

[2021-06-30 08:24] SofyaTavrovskaya commented on #1302
@hdonnay, @DoctahPopp871  I'm not sure that it's a transient error. I see in Clair logs that this error is being occurred since the end of April, and I don't see any successful try until today

[2021-06-30 09:15] SofyaTavrovskaya commented on #1302
@hdonnay One more question: Is there any way to configure Сlair v2 to make retries if it receives 503 error during updating. Because it's not only our problem: https://bugs.launchpad.net/ubuntu-cve-tracker/+bug/1925337

[2021-06-30 15:19] hdonnay commented on #1302
Configure? I don't think so, but I'm not certain.

[2021-06-30 15:25] #1306 closed, assigned to nobody

[2021-07-05 10:49] bhuvi11 opened #1310 "Not able to install Clair Scanner"
We are currently trying to use clair for container image scanning. We have tried almost all the possible installation documents. None of them are working

Clair-scanning - Not working
Clairctl - not working
Using docker-compose up not working
Clair API - Not working

What exactly should be the IP ?  i have tried local IP, public IP, docker0 IP. Nothing is working

Can someone please help

[2021-07-06 08:00] crozzy commented on #1310
Hi @bhuvi11, it's a little hard to debug from the information provided, can you provide any logs from any of the methods you tried?

Note:
Clair-scanning: what do you mean specifically by this?
Clairctl: Needs to pointed at a working Clair instance, so not likely to be work if the instance isn't working
Using docker-compose up: please used the provided Makefile commands to run clair in docker as i

[2021-07-06 18:27] hdonnay commented on #1151
https://quay.github.io/clair/howto/deployment.html

Sure, you'd just need to have 3 different configurations. The preferred way to do it would be to have the same configuration and container, and have an orchestration layer (k8s, a pile of shell scripts, etc) run them in different modes with appropriate networking and load balancing. It'd be much simpler to just use combo mode, though.

[2021-07-06 18:27] hdonnay commented on #1151
It's been 6 months with no response from OP, closing.

[2021-07-06 18:27] #1151 closed, assigned to nobody

[2021-07-07 21:37] #1273 closed, assigned to nobody

[2021-07-08 17:21] bparinas opened #1311 "Error in pushing the test ubuntu image"
I'm using the latest local dev release

### Description of Problem / Feature Request

~/clair$ podman pull ubuntu:latest
Trying to pull docker.io/library/ubuntu:latest...
Getting image source signatures
Copying blob c549ccf8d472 skipped: already exists
Copying config 9873176a8f done
Writing manifest to image destination
Storing signatures
9873176a8ff5ac192ce4d7df8a403787558b9f3981a4c4d74afb3edceed

[2021-07-09 19:52] hdonnay commented on #1311
This looks like an issue with a container registry (I assume quay?), not with Clair. Their issue tracker would probably have some actionable ideas.

[2021-07-09 19:52] #1311 closed, assigned to nobody

[2021-07-19 21:17] arvindbalaji opened #1317 "502 Bad Gateway Error - Clair v4.0.6"
### Description of Problem / Feature Request

Doing the following with https://github.com/quay/clair/releases/tag/v4.0.6.
- Running Clair locally with "make local-dev-up".
- No changes to the config.yml file.
- All the containers start up as expected and on Traefik's UI on port 7000, it shows Clair running on 6060.

**Issue**
However, running the scan using clairctl returns a 502 Bad Gateway Error

[2021-07-21 10:49] odidev commented on #1114
I am facing the same issue while submitting the manifest to clair using clairctl tool.

I have setup clair-db on port 5432 using “`docker-compose up –d clair-db`”. Database is setup properly on the port, and can be verified by executing “`pg_isready -U clair -d clair`”, which returned: “`accepting connections`”.

Then I ran clair in the combo mode with the sample configuration file given in the ro

[2021-07-21 12:26] crozzy commented on #1114
Hi @odidev, you might want to check the logs to see if the `ubuntu-focal-updater` had any errors trying to fetch the OVAL file or parsing the data within it. You can also check the DB to see if the updater ran:
[code]
If there are no results there for focal then the updater hasn't run correctly, the clair logs will be able to add some context on why that is. (FYI the updater will take vulnerabilit

[2021-07-22 09:05] crozzy commented on #1114
@odidev there was an issue with a malformed data in the Ubuntu OVAL response that was causing a parsing failure, this could have been the issue. They have fixed upstream and I can confirm all is working as expected.

[2021-07-26 13:57] odidev commented on #1114
@crozzy, Thanks for your response.

I repeated the same process, but still clairctl returns a clean report with **ubuntu:focal**.
Here are the logs from Clair server:
[code]
It seems Ubuntu updater isn’t working. Do I need to update something?

I also tried running clairctl for images like “**jboss/wildfly**”, “**openshift/origin-cli**” on AWS ubuntu instance and in minikube; but has encountered b

[2021-07-28 11:28] odidev opened #1321 "Facing issues while testing Clair in the distributed mode in minikube."
### Description of Problem

I am testing Clair in the distributed mode on my Linux Ubuntu system.

As per documents, it is suggested to use Kubernetes pods for running Clair in the distributed mode.

I have installed minikube and kubectl on my system, created three pods, each having a **postgres container** for the database server running on port 5432, and a **ubuntu container** where Clair is run

[2021-07-28 12:20] crozzy commented on #1321
It seems like communication issue between the pods, as you point out. These problems are quite difficult to debug without knowing the exact cluster state.

Some suggestions that you could try:
* Make sure you're including the URL schema clair config yaml (see `indexer_addr: "172.18.0.3:6060"` in the file you linked)
* When creating a service you get a deterministic host name to reach that service

[2021-07-30 13:25] odidev commented on #1321
Thank you @crozzy  for the suggestions.

I have checked the services and those seem to be working as expected. But still, I am getting 404 error.
I have exposed the pods using clusterIP type, as below:
[code]

And below are the descriptions of all three services linked to the 3 pods:
[code]

[code]

[code]

And below is the output of running clairctl with the host IP of the notifier service, i.e.

[2021-07-30 13:30] odidev commented on #1321
Also, I tried running clair in the combo mode on AWS Ubuntu and Amazon-Linux instances for x64 and ARM64 architectures. Clairctl successfully generated the vulnerability report on the Ubuntu instance for both x64 and ARM64, and also for the x64 Amazon-linux instance.

But on the ARM64 Amazon-linux instance, clairctl reported "exit status 1" as below:
[code]

Since the debug logs and the clair serv

[2021-08-04 10:25] odidev commented on #1321
The issue has been resolved. I am able to run clair in the distributed mode and the vulnerability report got generated successfully.

However, while running the clair in **combo mode on **AWS Amazon-linux ARM64 instance****, clairctl always delivers a clean report with images like ubuntu, debian, node, golang, etc. And for certain images like “openshift/origin-cli”, clairctl simply reports `exit s

[2021-08-04 10:30] odidev opened #1324 "Release “quay.io/projectquay/golang” docker image for Linux/ARM64"
### Feature Request

Hi Team,

I am working on the distributed mode of running Clair, and successfully submitted the manifest via clairctl on my Linux/AMD64 environment.

To do so, I made use of indexer, matcher and notifier targets mentioned in the docker-compose.yaml file. These targets create containers with image “quay.io/projectquay/golang”, which is not available for the Linux/ARM64.

As an

[2021-08-04 11:49] crozzy commented on #1324
Hey @odidev , thanks for the suggestion! Glad you got the distributed mode up and running.

As noted in the registry for  `quay.io/projectquay/golang`:
[code]

So it's more of a Clair base image rather than a Go base image.

You are correct, `quayproject`'s golang/Clair image is only built to support `linux-amd64` currently (https://quay.io/repository/projectquay/golang/manifest/sha256:52486fe8ff4

[2021-08-05 05:19] odidev commented on #1324
Thank you @crozzy for your response.

Yes, you are correct. It will be really helpful if `quay.io/projectquay/golang` is officially released for Linux/ARM64 as well. I am currently working with Clair on the Linux-ARM64 platform, so are you planning on releasing `quay.io/projectquay/golang` for Arm in the near future?
If required, I am happy to help.

[2021-08-06 03:33] hdonnay commented on #1324
I'd like to see this, also. That go image is built [here](https://github.com/quay/claircore/blob/main/.github/workflows/golang-image.yml), so changing that to set up `qemu-user-static` and `docker buildx` are probably the next steps. Then, the [cut-release](https://github.com/quay/clair/blob/main/.github/workflows/cut-release.yml) action can be updated to similarly run for multiple platforms.

[2021-08-09 06:28] odidev commented on #1324
@hdonnay  @crozzy

I have raised a PR to release multi-arch Docker image for Quay's Golang in the Claircore repo. Please find it here: <https://github.com/quay/claircore/pull/428>. Kindly review and suggest any changes if required.

[2021-08-12 00:38] bradg-aws opened #1336 "Missing vulnerabilities in libgnutls30"
### Description of Problem / Feature Request

Hi team,

When scanning a debian based image containing `libgnutls30/now 3.6.7-4+deb10u5`, I would expect to find vulnerabilities for the following:
https://security-tracker.debian.org/tracker/CVE-2020-24659
https://security-tracker.debian.org/tracker/CVE-2021-20231
https://security-tracker.debian.org/tracker/CVE-2021-20232

However, these don't show u

[2021-08-12 14:57] majewsky opened #1337 "GC does not run unless "matcher.update_retention" is set explicitly"
### Description of Problem / Feature Request

Backstory: The database of my Clair instance is growing much faster than it used to. Unfortunately, I don't have metrics going back that long, so I cannot pinpoint when this started, but I set it up in February on a 50 GiB volume, and it then hovered around 40 GiB usage for most of that time (after the initial updater runs had completed and all vulnera

[2021-08-12 15:28] crozzy commented on #1337
Can you share the non-sensitive parts of your Clair config?

The garbage collection should run to clean up older update operations (https://github.com/quay/clair/blob/main/Documentation/reference/config.md#matcherupdate_retention) and the default is to retain 10 updates (per updater). It sounds like it isn't running, so possibly a config issue or there should be logs in the matcher that might poin

[2021-08-13 13:49] majewsky commented on #1337
[This is the template for the config file](https://github.com/sapcc/helm-charts/blob/master/openstack/clair/templates/etc/_config.yaml.tpl). (Templating is mostly only used for inserting passwords at startup time.) Clair is invoked as `clair -conf $CONFIG_PATH -mode combo`.

Based on the documentation that you linked to, I would assume that GC should be active since I don't set `matcher.update_ret

[2021-08-13 14:10] majewsky commented on #1337
Okay, I have set `matcher.update_retention` to 5 now (instead of the default value which is supposed to be 10), and now I can see this in the log:
[code]

[2021-08-16 12:01] crozzy commented on #1337
Thanks for sharing @majewsky, let us know if the DB storage plateaus with the more aggressive garbage collection settings.

[2021-08-18 14:59] majewsky commented on #1337
The GC has worked through the backlog by now, so I ran a full vacuum on the database:

[code]

So yeah, that's quite effective. The question remains why GC was not running at all.

[2021-08-18 21:49] neijurli commented on #1270
### Description of Problem ###

I tried recreating Problem 1 of the issue by creating and scanning images that add vulnerable packages with Clair V4 and it seems like the problem is still present.

### Test 1: Adding a vulnerable version of curl to debian:10 ###

There exists a vulnerability CVE-2021-22924 (https://security-tracker.debian.org/tracker/CVE-2021-22924) for curl:7.64.0-4+deb10u2 for d

[2021-08-19 15:51] apurvmahajan commented on #1125
We are able to reproduce the issue mentioned described above. Scanning a **Debian:10** image with Clair v4 we see that the following vulnerabilities are not detected in the image scan.

*glibc:2.28-10*
CVE-2010-4051
CVE-2010-4052
CVE-2010-4756
CVE-2016-10228
CVE-2018-20796
CVE-2019-1010022
CVE-2019-1010023
CVE-2019-1010024
CVE-2019-1010025
CVE-2019-19126
CVE-2019-25013
CVE-2019-9192
CVE-2020-10029

[2021-08-20 15:31] #1337 closed, assigned to nobody

[2021-08-20 17:07] apurvmahajan commented on #1270
@iainduncani Its been a while since you have opened this issue. Have you had any success with scanning images and working around these or do these issues still persist?

[2021-08-20 17:16] apurvmahajan commented on #1125
@SofyaTavrovskaya @BrionStone Its been a while since you reported these issues. Have you been able to workaround these  or are these still persist?

[2021-08-24 18:10] apurvmahajan commented on #1270
Hello @hdonnay.

This appears to be a major gap in Clair v4 and a regression from Clair V2. It seems that Clair V4 is not suitable for scanning multi layer images. I did not see this issue while scanning images in the Quay registry and I am trying to figure out what we are doing wrong. Appreciate any inputs to help us understand the issue.

[2021-08-24 18:13] apurvmahajan commented on #1125
@hdonnay

Trying to figure out if we are doing something wrong in our tests as this issue seems to be a blocker for scanning Debian based images. Again (similar to [#1270](https://github.com/quay/clair/issues/1270)), I did not see this in the Quay registry scanning. Is Quay using Clair V4?

[2021-08-25 10:42] iainduncani commented on #1270
@apurvmahajan no, I haven't had a chance to look at the root cause of this yet or find a work around.

[2021-08-25 15:25] SofyaTavrovskaya commented on #1270
By default for debian and  ubuntu vulnerabilities "package_kind" field is specifying like BINARY:
https://github.com/quay/claircore/blob/v0.5.4/pkg/ovalutil/dpkg.go#L130

When matсher creates requests to clair-db, he tries to find vulnerabilities in vuln TABLE by 5 fields:
"package_name",
"package_kind",
"dist_name",
"dist_id",
"dist_version".

So, for example, for package shadow Clair v4 never fi

[2021-08-25 15:35] SofyaTavrovskaya commented on #1125
@apurvmahajan I still have the same problem with Debian images.

I try to explain the possible reason for this issue in  #1270.
And I'm not sure that Quay registry is using Clair V4, as far as I know, it's using Clair v2

[2021-08-26 20:11] crozzy commented on #1270
Hi guys,

Relating to your first point @iainduncani, the FS that is contained in the second layer:

[code]
contains these files at the `/var/lib/dpkg` dir:
![image](https://user-images.githubusercontent.com/1027041/131028975-89cd51f2-f54c-46f7-8b93-bbb53e353432.png)

The dpkg scanner will check for the `status` and `available` files in order to identify the dpkg DB dir and hence will skip this dir

[2021-08-26 20:46] crozzy commented on #1270
https://github.com/quay/claircore/pull/209 see this PR for the introduction of the `package_kind` query parameter, relating to surfacing duplicate vulnerabilities when the `source` and the `binary` packages have the same name.

[2021-09-01 15:30] vmicrodev opened #1351 "Vulnerabilities were not updated in the database although it was shown as fetched successfully in the clair container logs"
### Description of Problem / Feature Request

Hi everyone,

When scanned alpine:latest image using Clair v2.1.7 using a DB dump imported from this sql file (https://gist.githubusercontent.com/BenHall/34ae4e6129d81f871e353c63b6a869a7/raw/5818fba954b0b00352d07771fabab6b9daba5510/clair.sql), which does not contain the latest vulnerabilities, there were no vulnerabilities detected. I checked the Clair

[2021-09-01 15:50] crozzy commented on #1324
We just built the base image for the newest golang version https://quay.io/repository/projectquay/golang/manifest/sha256:1b06323c8ade49c5b6d193f429675160b268f6105912086b1c1ed56d1b28bd94

[2021-09-01 15:50] #1324 closed, assigned to nobody

[2021-09-02 05:54] katoto135 opened #1353 "Is "ELSA-2021-9344" a false-positive?"
### Description of Problem / Feature Request

I use "Amazon ECR image scanning" daily.
https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-scanning.html

For a container created by the latest (8u302) image of "openjdk: 8-oracle",
this vulnerability has been continuously detected.
[code]

All update packages listed in ELSA below that can be reached from the scan result include "**2.28-151.

[2021-09-02 09:16] #1351 closed, assigned to nobody

[2021-09-02 09:17] vmicrodev commented on #1351
Please ignore this issue as the update does not take place immediately however takes some time to be applied. Therefore the issue could be closed.

Thanks

[2021-09-02 14:41] hdonnay commented on #1353
What version of clair is this? It seems like v2, which is not maintained; I don't know how ELSA data is ingested.

Please reopen if this seems to happen with the current version.

[2021-09-02 14:41] #1353 closed, assigned to nobody

[2021-09-02 18:33] daliaezt opened #1354 "Clair docker image v2.1.7 doesn't support scam-sha-256 encryption postgres"
Hi Team,

we have clair installed as docker container v2.1.7 and connecting to external postgres v12 using md5 encryption method.

we need to change md5 method to scram-sha-256 method for postgres.

After switching to scram-sha-256, clair container wasn't able to connect to postgres and showing below error msg
 {"Event":"pgsql: could not open database: pq: unknown authentication response: 10","Lev

[2021-09-02 19:07] hdonnay commented on #1354
It looks like the version of `github.com/lib/pq` used doesn't support it.

Patches welcome if someone has the time to make the change and test it. I'll close this in a few days if no one steps up.

[2021-09-02 21:12] apurvmahajan commented on #1270
@SofyaTavrovskaya thanks for the pointers! @crozzy thanks for the looking into this and for the PR for the first problem.

For the second problem, with the introduction of `package_kind`, we actually have a regression for the image scans results.
Would it be better to query for binary package_kind as @SofyaTavrovskaya mentions? It may better to show duplicate results for now instead of not showing

[2021-09-03 13:12] odidev opened #1355 "Update 'quay.io/projectquay/golang' version to v1.17 in docker-compose.yaml to support Linux/ARM64"
### Description of Problem / Feature Request

I am working with Clair on the Linux/ARM64 platform.

**docker-compose.yaml** file creates containers with 'quay.io/projectquay/golang:1.16' docker image. Since version 1.17 is now available with Linux/ARM64 support, it will be helpful if the golang version is updated to 1.17 in the docker-compose.yaml file as well.

Please share your opinion on this.

[2021-09-08 07:59] JagadeeshRam opened #1358 "Security Scan is queued"
### Description of Problem / Feature Request

I have setup clair in local with quay . I followed the steps mentioned in documentation but after pushing the image it was showing security scan is queued for many hours
![image](https://user-images.githubusercontent.com/55401565/132469347-4ca903cb-3d7d-4218-8347-9287ead97dfd.png)

### Expected Outcome
The Expected outcome is
![image](https://user-imag

[2021-09-08 16:29] Amar1729 commented on #1358
Did you bring up clair with the make target `local-dev-up-with-qauy`? If so, is the indexer service running? Check with `docker-compose ps`.

If the indexer service (`clair-indexer`) says `Exit 1` you may have to bring it up again, with `docker-compose up -d indexer-quay`.

[2021-09-08 16:33] Amar1729 opened #1359 "clairctl: indexer unexpected return status 404"
### Description of Problem / Feature Request

Running `clairctl report` results in an indexer 404 error. Debug output from `clairctl` is below in Actual Outcome. Possible fix below in Fix.

### Expected Outcome

"OK" status from report, like this:
[code]

### Actual Outcome

[code]

### Environment

- Clair version/image: [latest master](https://github.com/quay/clair/commit/66a3137af6d6b5f1640c32e

[2021-09-08 16:34] Amar1729 commented on #1359
We also encountered #1358 , but bringing the indexer back up seemed to re-enable autoscans for images pushed to the `clairv4-org` organization.

[2021-09-08 16:51] JagadeeshRam commented on #1358
Clair -indexer was working perfectly it didn't show  any errors  and also gone through the errors ,no issues was found
![image](https://user-images.githubusercontent.com/55401565/132551365-50d4ccc8-fa37-4c94-ac18-cb4b7d4b60ac.png)

[2021-09-08 21:01] hdonnay commented on #1358
You'll need to provide information about your configuration, preferably without using quay. For example, configuration and logs when running a report via `clairctl`.

[2021-09-09 11:25] JagadeeshRam commented on #1358
When I run with clairctl i got the error

![WhatsApp Image 2021-09-09 at 4 52 12 PM](https://user-images.githubusercontent.com/55401565/132677402-ad65b31e-e791-4f75-b621-d1f1d07e8177.jpeg)

[2021-09-09 17:52] hdonnay commented on #1358
I suspect you're using an external command called `clairctl`, not the one from this project.

[2021-09-10 14:11] hdonnay commented on #1355
yeah, this sounds great

[2021-09-10 18:24] apurvmahajan commented on #1270
I have been looking into some of the data coming in from the OVAL feed. I was testing with an updated query ([here](https://github.com/quay/claircore/blob/v0.5.4/internal/vulnstore/postgres/querybuilder.go#L36)) which does not match the package_kind for source packages. Seems like the Debian OVAL feed either has incorrect data or incomplete data.

Specifically I checked for 2 CVEs. For the `openss

[2021-09-10 21:03] jasonbrianhall opened #1361 "Clair 4.2.0 not scanning RHEL RPMs"
It doesn't seem like Clair 4.2.0 is scanning RPMs .  I scanned some of my images that were several months old and richxsl/rhel7 from docker.io and only received some pypi results and maven findings.    I can see that the the database has RHEL based vulnerabilities when I query the "vuln" table but they aren't showing up when I query http://matcher:port/matcher/api/v1/vulnerability_report/imageDige

[2021-09-13 11:11] danpawlik opened #1362 "Clair DB uses a lot of space"
### Description of Problem / Feature Request

The Clair DB uses a lot of disk space:

[code]

[code]

### Expected Outcome

DB will use less space.

### Actual Outcome

It uses too much resources that can be cleaned-up.

### Environment

- Clair version/image: 4.1.1
- Clair client name/version: 0.2.0
- Host OS: Centos-8 stream
- Kernel (e.g. `uname -a`): Linux quay 4.18.0-240.el8.x86_64
- Kubernet

[2021-09-13 15:26] vmicrodev opened #1363 "Warning"
### Description of Problem / Feature Request

### Expected Outcome

### Actual Outcome

### Environment

- Clair version/image:
- Clair client name/version:
- Host OS:
- Kernel (e.g. `uname -a`):
- Kubernetes version (use `kubectl version`):
- Network/Firewall setup:

[2021-09-13 15:32] vmicrodev opened #1364 "Warning: Not all updaters succeeded"
### Description of Problem / Feature Request
Hi everyone,

When performing Clair Vulnerabilities update there are several updater warnings and a warning "Not all updaters succeeded".
Full log output is under https://raw.githubusercontent.com/vmicrodev/Clair/master/Clair.txt.

For instance:
Sample log is shown below truncated
.
[35mclair_clair_635 |[0m {"Event":"could not pull ubuntu-cve-tracker r

[2021-09-13 15:33] #1363 closed, assigned to nobody

[2021-09-13 15:33] vmicrodev commented on #1363
Was created by mistake

[2021-09-13 15:40] vmicrodev commented on #1364
As a test reference I compared the outcome of Clair using this updated DB with AWS Clair for the following image:
php:8.0-fpm-buster

2 missing entries CVE-2019-12904 - MEDIUM and CVE-2020-26159 - HIGH are not in Clair output while are on AWS Clair.

Found 266 vulnerabilities (should be 268)
--
Unknown: 11
Negligible: 172
Low: 45
Medium: 31 (should be 32)
High: 6 (should be 7)
Critical: 1

[2021-09-13 18:57] hdonnay commented on #1361
Do you have logs from the server for a run?

[2021-09-13 21:07] jasonbrianhall commented on #1361
See attached log.

On 9/13/21, Hank Donnay ***@***.***> wrote:

[2021-09-13 21:40] hdonnay commented on #1361
If you attached something to the email, it didn't make it to the github issue.
If you're referencing the upload on the initial post, that's not a log; it looks like the response to an API call.

[2021-09-14 00:10] jasonbrianhall commented on #1361
[clair.tar.gz](https://github.com/quay/clair/files/7158007/clair.tar.gz)

Attached the logs (HTML and ANSI)

[2021-09-14 20:17] hdonnay commented on #1361
From the logs and server response, it looks like the image was indexed successfully.

From the server logs, it looks like the server was stopped in the middle of fetching vulnerabilities. Please try using the latest version and letting the server finish fetching vulnerabilities.

[2021-09-14 22:12] jasonbrianhall commented on #1361
Ran 4.2.2 all day and it is still doing the same thing.

On Tue, Sep 14, 2021, 4:17 PM Hank Donnay ***@***.***> wrote:

[2021-09-15 14:14] BrionStone commented on #1125
Since ClairV4 (at that time) no longer provided vulnerability severities, we did not cut over to it.

[2021-09-15 14:17] #1355 closed, assigned to nobody

[2021-09-17 08:11] odidev commented on #1321
Closing this ticket as I am able to run clair in the distributed mode successfully.

[2021-09-17 08:11] #1321 closed, assigned to nobody

[2021-09-17 08:14] soncn1 commented on #317
@mytunguyen Hello. Can you explain about it? I tried with "host=IP_OF_PSQL port=5432 user=postgres password=**** dbname=clair sslmode=disable", but it didn't run. Thank you.

[2021-09-17 18:02] apurvmahajan commented on #1270
@hdonnay @crozzy

I did a similar exercise as above for the ubuntu based feed to check if there are any false positives being reported. I tested Clair V4 scanning with an updated query ([here](https://github.com/quay/claircore/blob/v0.5.4/internal/vulnstore/postgres/querybuilder.go#L36)) which does not match the package_kind for source packages.

Comparing these results to Clair V2, I saw 21 more

[2021-09-21 11:10] Tejuvmware commented on #804
Did we get a fix for this in any of the versions of Clair ? I'm facing this issue https://bugs.launchpad.net/ubuntu-cve-tracker/+bug/1943825 . Using OVAL is going to solve my problem. May I know in which versions of clair image this has been implemented ?

[2021-09-21 14:34] Tejuvmware opened #1373 "Please use OVAL export for Ubuntu vulnerabilities source"
### Description of Problem / Feature Request

This is with respect to the issue https://github.com/quay/clair/issues/804 . I'm one of the customer who is facing issues in pulling https://git.launchpad.net/ubuntu-cve-tracker (https://bugs.launchpad.net/ubuntu-cve-tracker/+bug/1943825)  due to multiple github calls and on reaching out to ubuntu-cve-tracker team I have been redirected to clair develo

[2021-09-21 17:39] hdonnay commented on #1373
V2 is not actively maintained. Changing the source has not been implemented in any Clair v2 version. Patches welcome.

[2021-09-22 07:39] mirekphd commented on #965
Yes, it's a misused (non-specific) error message, printed in the logs instead of a download progress info. Ubuntu vulnerabilities take longer to update than others, and thus it can look like an error. But given adequate time for download (and I mean hours), it resolves itself.

A particularly long example (probably Ubuntu feed being broken an no-one there to restart it over the weekend):

[code]

[2021-09-22 08:16] Tejuvmware commented on #1373
Thank you for the response @hdonnay. What can be the solution for the bug then?

[2021-09-22 12:04] kamalpreetSec opened #1374 ""504 Gateway Timeout" when running "clairctl report" to get /indexer/api/v1/index_report/.."
### Description of Problem / Feature Request

I have setup the testing env local-dev-up-with-quay as mentioned in https://quay.github.io/clair/howto/testing.html. While running clairctl report to scan an image, the path "/indexer/api/v1/index_report/.." is not reachable on indexer container and getting response status="504 Gateway Timeout". Here's the output:

[root@user clairctl]#  ./clairctl-lin

[2021-09-22 15:01] hdonnay commented on #1374
It looks like traefik has a timeout.

[2021-09-22 15:18] hdonnay commented on #1373
The solution would be for someone running the old version to write, test, and submit a patch.

[2021-09-23 10:29] kamalpreetSec commented on #1374
Is there a commandline parameter which I can set ?

[2021-09-23 12:32] bmoqimi commented on #1362
Experiencing exactly the same problem here:
`
    table_schema    |        table_name         | row_estimate  |   total    |   index    |   toast    |   table
--------------------+---------------------------+---------------+------------+------------+------------+------------
 public             | uo_vuln                   | 4.9718326e+08 | 43 GB      | 22 GB      |            | 21 GB
 public

[2021-09-23 21:04] kwestpharedhat commented on #1362
Hello can you post some logs from the Clair matcher in a recent version of Clair there is an issue in the GC that helps clean up old operations.

[2021-09-24 09:52] danpawlik commented on #1362
@kwestpharedhat  Sure.

In the meantime I updated Clair service to 4.2.2, changed config and drop database:
[code]
I was forced to drop Clair database. After 10 days, DB looks like:
[code]

Some logs:
[code]

I cleaned up logs with not interesting informations.

[2021-09-24 10:22] danpawlik commented on #1362
From conversation on slack channel with Ivan:
1. stop clair service
2. cleanup DB:
[code]
3. start clair service.

It should remove some space. After that, if "update_retention" param is set, GC should cleanup the DB.

[2021-09-27 17:48] Tejuvmware commented on #1373
Can we have someone from clair developer to release a patch for this bug ?

[2021-09-27 18:05] hdonnay commented on #1373
To the best of my knowledge, there are no active developers for v2.

[2021-09-28 08:51] vmicrodev opened #1378 "Clair v2.1.7 official image has vulnerabilities"
### Description of Problem / Feature Request

Scan image quay.io/coreos/clair:v2.1.7 with klar binary klar-2.4.0-linux-amd64 and clair v2.1.7
Analysing 8 layers
Got results from Clair API v1
Found 4 vulnerabilities
Low: 1
Medium: 3

### Expected Outcome

Found 0 vulnerabilities

### Actual Outcome

Scan image quay.io/coreos/clair:v2.1.7 with klar binary klar-2.4.0-linux-amd64 and clair v2.1.7
Anal

[2021-09-28 14:25] hdonnay commented on #1374
I'm not sure, please refer to the traefik documentation.

[2021-09-29 09:55] SofyaTavrovskaya commented on #1270
@apurvmahajan Debian OVAL database seems to have a lot of problems. It is generated by code that hasn't been updated a very long period of time, it still uses python2.7 (https://salsa.debian.org/webmaster-team/webwml/-/blob/master/english/security/oval/generate.py) . I found this conversation about issue in `fixed_version: 0:0`, but haven't found any PRs that resolve this problem: https://groups.g

[2021-09-30 06:35] kamalpreetSec commented on #1374
I recreated the containers with proxy settings in the environment section of docker-compose file. Now I am getting the following issue:

#  ./clairctl-linux-amd64 -D report --host http://localhost:6060 oraclelinux:6-slim
2021-09-30T06:24:04Z DBG fetching ref=oraclelinux:6-slim
2021-09-30T06:24:04Z DBG using text output
2021-09-30T06:24:07Z DBG found manifest digest=sha256:bc77589bd852d5a6030f388d0

[2021-09-30 11:17] chengjun0124 opened #1387 "CVE-2021-29842 cannot be found in clair db"
### Description of Problem / Feature Request
I deployed clair in openshift. After clair was ready, I couldn't query [CVE-2021-29842](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-29842) in table vuln. I am not sure how/where clair fetches vulnerabilities. And why CVE-2021-29842 is not fetched? Could you please help me on this? Thanks.

### Expected Outcome

### Actual Outcome

### Enviro

[2021-10-05 16:45] hdonnay commented on #1317
With the release of 4.3, 4.0 is out of support.

[2021-10-05 16:45] #1317 closed, assigned to nobody

[2021-10-05 16:49] hdonnay commented on #1251
Closing due to age. If there are still updater problems on startup, please open new issues.

[2021-10-05 16:49] #1251 closed, assigned to nobody

[2021-10-06 13:54] hdonnay commented on #1271
The title of this issue is misleading: the referenced CVE isn't present in the upstream database and all available vulnerabilities are being loaded.

[2021-10-06 13:54] #1271 closed, assigned to nobody

[2021-10-06 16:57] crozzy commented on #1387
`Updaters` are responsible for pulling vulnerabilities from various sources, normalizing the data and inserting it into the DB, here is a list that is currently supported: https://github.com/quay/clair/blob/b3c3e38574df1d53c37fbf9c7fe0128b2c76c35e/Documentation/reference/config.md#updaterssets.

It appears that the CVE you mention is related to the IBM WebSphere Application Server which wouldn't b

[2021-10-06 16:57] #1387 closed, assigned to nobody

[2021-10-06 17:09] JagadeeshRam commented on #1358
Yes I was using differnt one sorry for that . After  I using Clairctl from this project it was not giving the report .Just printing "OK"
![image](https://user-images.githubusercontent.com/55401565/136251071-9ca37777-1563-4ece-bd0a-c87b7adcbc6c.png)

Is there any reason for it

[2021-10-06 17:21] crozzy commented on #1358
No vulnerabilities were found for that image, you can use `clairctl -D report --out json debian:latest` for a more verbose report in JSON:

[code]

[2021-10-06 17:21] #1358 closed, assigned to nobody

[2021-10-06 18:08] apurvmahajan commented on #1270
@SofyaTavrovskaya Thanks for the investigation and the merge request you have created!

The CVE issue that I had found seemed to be due to data quality issues with the Debian JSON feed itself where it does not have the correct version information for the CVE and defaults to the value 0. Your merge request points to a different issue where the parsing of the JSON -> OVAL feed is incorrect and the v

[2021-10-06 19:33] #1354 closed, assigned to nobody

[2021-10-08 03:51] chengjun0124 commented on #1387
@crozzy Thank you very much.

[2021-10-08 04:10] chengjun0124 commented on #1387
@crozzy is there a way that we can add `IBM WebSphere Application Server` into any updater so that clair can find out its vulnerability?

[2021-10-08 15:04] hdonnay commented on #1387
There would need to be a feed of some sort for those vulnerabilities, as a prerequisite.

Then, someone would need to write or make sure existing [code] works for:

* Discovering the software in a layer (a PackageScanner)
* Ingesting the vulnerabilities (an Updater)
* Matching the vulnerabilities and discovered packages (a Matcher)

[code]: https://github.com/quay/claircore

[2021-10-12 01:51] #1373 closed, assigned to nobody

[2021-10-12 01:51] #1364 closed, assigned to nobody

[2021-10-12 09:38] vmicrodev commented on #1364
Hi Everyone,

The ticket is closed, so could you kindly please advise if it would be resolved and what can be the solution for the bug then?

Thanks

[2021-10-12 14:47] hdonnay commented on #1364
This will only be changed if someone submits patches to change it.

[2021-10-13 01:51] #1378 closed, assigned to nobody

[2021-10-13 02:15] ZeroGold52 opened #1393 "Clair can not start the scanning because the manifest has been queued for hours"
I added a distribution in Claircore but failed to scan Ubuntu images when following the steps to test ClairV4 locally. As described in the [documentation](https://quay.github.io/clair/howto/testing.html#viewing-results), Clair will automatically start the scanning and display security scanner results on the Tags page after pushing an image to Quay.

However, I found the manifest for the tag of my

[2021-10-13 12:22] SofyaTavrovskaya commented on #1270
@apurvmahajan Nope, it doesn't resolve the whole issue with `fixed_version: 0:0`, OVAL database gets data from 2 sources:
1) from data. json file: https://security-tracker.debian.org/tracker/data/json
2) by parsing wml files with info about vulnerabilities in this directory: https://salsa.debian.org/webmaster-team/webwml/-/tree/master/english/security.

My PR only fixes problem with incorrect pars

[2021-10-13 15:39] hdonnay commented on #1393
You can use the `clairctl` command to request reports. The logs will also have output about what the various services are doing.

[2021-10-14 14:18] iainduncani commented on #1270
Hi @crozzy I just saw that you did https://github.com/quay/claircore/pull/456 to fix this.  Thanks a lot!

One follow up question - I noted that it was in `main` but not `release-0.5` and that @hdonnay commented that it would require a version bump to be integrated.  Do either of you have a timelime as to when release 0.6 is going to come out for us to consume?

Thanks again for your work on this

[2021-10-14 18:11] asd99557 opened #1394 "How to install clair and integration with harbor"
### Description of Problem / Feature Request

### Expected Outcome

### Actual Outcome

### Environment

- Clair version/image:
- Clair client name/version:
- Host OS:
- Kernel (e.g. `uname -a`):
- Kubernetes version (use `kubectl version`):
- Network/Firewall setup:

[2021-10-14 18:12] asd99557 commented on #1394
How to install clair scanner and integration with harbor

[2021-10-14 19:12] #1394 closed, assigned to nobody

[2021-10-14 19:20] asd99557 opened #1396 "How to integration harbor with clair"
### Description of Problem / Feature Request

### Expected Outcome

### Actual Outcome

### Environment

- Clair version/image:
- Clair client name/version:
- Host OS:
- Kernel (e.g. `uname -a`):
- Kubernetes version (use `kubectl version`):
- Network/Firewall setup:

[2021-10-14 20:03] #1396 closed, assigned to nobody

[2021-10-14 21:09] crozzy commented on #1270
Hi @iainduncani, can you consume the latest Clair version [v4.3.0](https://github.com/quay/clair/releases/tag/v4.3.0)? That includes claircore version v1.1.0 which includes quay/claircore#456.

[2021-10-15 05:09] chengjun0124 commented on #1387
Thanks.

[2021-10-15 08:07] iainduncani commented on #1270
@crozzy yes I can! I'd been looking at the releases in claircore which listed 0.5.5 as the last release and didn't see there was a v1.1.0 tag in there that was being used by Clair v4.3.0, will get onto to migrating to that today.  Thanks!

Is there an easy way to see breaking changes (we're going from v4.1.0), after digging in the changelog I saw for instance the [code comment on this migration](h

[2021-10-20 14:14] majewsky opened #1399 "docs should explain how to garbage-collect old images"
My Clair DB is slowly filling up with index reports for old deleted images. I would like to clean those up, but I cannot find anything in the docs regarding how to do that in a safe way. `grep -Ri delete` only finds the DELETE endpoint for notifications, but there is no DELETE endpoint for manifests or index reports. `grep -Ri garbage` only finds the garbage collection for update operations, but t

[2021-10-25 12:00] flavienbwk opened #1401 "Exporting updaters doesn't work"
### Description of Problem / Feature Request

After running the following command, an error happens :

[code]

Error :

[code]

This generates a broken `updates.gz` of ~8.9Gb

### Expected Outcome

No error or at least a non-broken ~archive~ JSON `updates.gz`

### Environment

- https://github.com/flavienbwk/clair-docker
- Clair version/image: 4.3.0
- Clair client name/version:  0.2.0
- Host OS: U

[2021-10-26 13:08] majewsky commented on #1362
Yeah, that sounds like the same bug as I had in #1337. Set `update_retention` to an explicit value, or update to a newer Clair to fix the issue. Once updated, the `update_operation` and `uo_vuln` tables will slowly shrink as GC takes place, and at the end run a full vacuum on the database.

[2021-10-26 13:11] kwestpharedhat commented on #1362
I cam going to close this issue at this time. If the problems re-occur please let us know.

[2021-10-26 13:11] #1362 closed, assigned to kwestpharedhat

[2021-10-27 11:21] avgkoster opened #1403 "Clair-quay doesn't work when deployed with make local-dev-up-with-quay"
Hello everyone, when deploying clair, at first everything is fine, but then the clair-quay service does not rise
docker-compose logs quay produces the following
clair-quay            | | SecurityScanner        | dial tcp 172.19.0.2:8089: connect: connection refused | 🔴     |
clair-quay            | +------------------------+-------------------------------------------------------+--------+
clair-qu

[2021-10-27 22:24] bgercken commented on #1403
Same issue here. Tested with master, release-4.3 and release-4.2. CentOS 7 latest. Posting details to the clair-dev mail list.

[2021-10-28 10:45] cathyyoung commented on #1270
I've been looking into the `fixed_version: 0:0` provided by the Debian OVAL XML feed, which [as noted above](https://github.com/quay/clair/issues/1270#issuecomment-942248301) originates from Debian's source data.json having the `"fixed_version": "0"`. I believe this is not an error in the data, but a way to indicate that the CVE in question does not apply to this Debian version and therefore the p

[2021-10-30 05:19] JagadeeshRam opened #1411 "Clairctl not showing reports"
### Description of Problem / Feature Request

I was not able to get the vulnerability report showing " image_name ok " but sometimes it was getting the report.
![image](https://user-images.githubusercontent.com/55401565/139521194-4d82b9c4-f0b1-4768-9f7c-6416f526c7af.png)

### Expected Outcome
![image](https://user-images.githubusercontent.com/55401565/139521224-18324011-3576-4ae8-8f9b-af53183ae901

[2021-11-01 19:28] kairen commented on #1401
Same issue here.

[2021-11-02 10:51] SofyaTavrovskaya commented on #1401
Yep, the same!
[code]

[2021-11-02 10:55] flavienbwk commented on #1401
@hdonnay can we do something ?

[2021-11-02 23:08] hdonnay commented on #1401
I've talked to the ubuntu security team to fix their data.

What do you mean by the output being "broken"?

[2021-11-02 23:09] flavienbwk commented on #1401
Thank you. It means the generated .gz file is corrupted/can't be opened.

[2021-11-03 02:26] hdonnay commented on #1401
Ah, I think our docs fell out of sync at some point: the resulting file isn't gzipped. It should be a lot of JSON.

[2021-11-03 07:35] flavienbwk commented on #1401
Oh OK thanks.

However import doesn't work too.

[2021-11-04 09:41] kairen commented on #1401
@flavienbwk The export-updaters' output is a JSON format file, but `import-updaters` will open a gzip file and parse data, so you need to compress manually the output file before import.

The below screenshot is the result for testing [clair-docker](https://github.com/flavienbwk/clair-docker):

![image](https://user-images.githubusercontent.com/4667563/140290666-6ebfeb24-0f35-41cf-8e5b-42e80754133

[2021-11-04 19:02] flavienbwk commented on #1401
Thank you very much @kairen ! It worked as well on my side.
I've updated the documentation of [clair-docker](https://github.com/flavienbwk/clair-docker).

This issue answers to my problems and is to be closed from my point of vue.

[2021-11-04 19:02] #1401 closed, assigned to nobody

[2021-11-08 13:18] SofyaTavrovskaya commented on #1270
@cathyyoung Yes, you are right.
If CVE  has  `<not-affected>` mark , the script marks the fixed version as '0' by default. It can be found in Debian's code that generates data.json https://salsa.debian.org/security-tracker-team/security-tracker/-/blob/master/lib/python/bugs.py#L575

[2021-11-10 22:12] nmeyerhans commented on #1270
@SofyaTavrovskaya's [merge request](https://salsa.debian.org/webmaster-team/webwml/-/merge_requests/737), as well as [a change that I proposed](https://salsa.debian.org/webmaster-team/webwml/-/merge_requests/752), have been merged by Debian. These should help improve the accuracy of the data in the OVAL feeds.

[2021-11-12 06:11] bluefriday opened #1428 "Clairv4 cannot get vulnerability reports in distributed mode."
### Description of Problem / Feature Request

I'm intersted in clairv4
Firstly, I ran clairv4 in combo mode with kubernetes cluster.
In this case, I could scan and report with vulnerability (I used api).

But, with distributed mode (same kubernetes cluster), I cannot receive vulnerability report even though can scan :(

### Expected Outcome

The API allows you to scan for image vulnerabilities and

[2021-11-12 08:07] #1428 closed, assigned to nobody

[2021-11-12 16:31] hdonnay commented on #1428
It looks like the matcher config doesn't have a real URL for the indexer.

[2021-11-12 19:29] SoaadMahmoud opened #1429 "Got Bad Gateway error while scanning via clair v2.1.7"
### Description of Problem / Feature Request
got Bad Gateway error while scanning via clair

### Expected Outcome

Nov 11 14:45:35 172.24.0.1 clair-adapter-standalone[26715]: {"expire":3600,"level":"debug","msg":"Updating scan job","redis_key":"harbor.scanner.clair:store:scan-job:dd8f3b5f-4ad4-4b88-913b-9c6eaf2207d0","scan_job_id":"dd8f3b5f-4ad4-4b88-913b-9c6eaf2207d0","scan_job_status":"Finished"

[2021-11-12 19:33] crozzy commented on #1429
Hey! Unfortunately we no longer support Clair v2, but from the looks of it the generated URL is just a generic placeholder.

[2021-11-15 04:25] bluefriday opened #1430 "Is TLS authentication not supported for openapi ?"
### Description of Problem / Feature Request

According to the Clair documents(https://quay.github.io/clair/concepts/authentication.html)
It is said to support 'quay integrated authentication' and 'PSK authentication'.
Is TLS authentication not supported for openapi ?

[code]

[2021-11-15 15:18] hdonnay commented on #1430
No, mutual TLS is currently not supported.

[2021-11-15 15:18] #1430 closed, assigned to nobody

[2021-11-16 10:34] christian-2 opened #1431 "Scanning Debian and Alpine-based images"
I have installed clair from the current GitHub code base under Docker Compose (with`make local-dev-up-with-quay`). I have then pushed a Debian- and Alpine-based OCI image each to the local Quay repository. I now get "operating system or package manager unsupported by Quay Security Scanner" (under "Tags" and "SECURITY SCAN") for both images. Is this a feature or a bug? (On the other hand, the scan

[2021-11-16 21:49] hdonnay commented on #1431
Please post logs from `clair` and debugging and json output from `clairctl` if you'd like help in debugging this.

[2021-11-16 21:52] hdonnay commented on #1411
There's no such version as v2.2, and also v2 is unsupported.

It looks like you're actually using v4. Post `clair` logs and `clairctl` json and debugging output if you'd like help with this.

[2021-11-16 21:55] hdonnay commented on #1393
Closing due to length of time without a response.

[2021-11-16 21:55] #1393 closed, assigned to nobody

[2021-11-16 22:02] hdonnay commented on #1374
Closing because this is a traefik configuration issue.

There's a pending branch (#1397) that has a much less convoluted configuration that can actually be supported.

[2021-11-16 22:02] #1374 closed, assigned to nobody

[2021-11-16 22:04] hdonnay commented on #1359
Closing because this was a local config/operation issue.

[2021-11-16 22:04] #1359 closed, assigned to nobody

[2021-11-16 22:06] hdonnay commented on #1310
Closing due to lack of response.

[2021-11-16 22:06] #1310 closed, assigned to nobody

[2021-11-16 22:06] #1281 closed, assigned to nobody

[2021-11-16 22:09] hdonnay commented on #1403
This looks like a python error, which would be quay's bailiwick. Please raise an issue there with the version that has this happen.

[2021-11-16 22:09] #1403 closed, assigned to nobody

[2021-11-16 22:10] hdonnay commented on #1116
Closed due to age, V2

[2021-11-16 22:10] #1116 closed, assigned to nobody

[2021-11-16 22:10] hdonnay commented on #1146
Closing due to age, V2

[2021-11-16 22:10] #1146 closed, assigned to nobody

[2021-11-16 22:15] hdonnay commented on #1149
Closing due to age, V2

[2021-11-16 22:15] #1149 closed, assigned to nobody

[2021-11-17 05:27] JagadeeshRam commented on #1411
Sorry It was V4 only, I was attaching clairctl  json output
![image](https://user-images.githubusercontent.com/55401565/142140264-c6702090-85f9-41a2-8403-d76d966f560f.png)

[2021-11-17 05:33] JagadeeshRam commented on #1411
Quay clair log output file attached

[quay-clair_log.txt](https://github.com/quay/clair/files/7552016/quay-clair_log.txt)

[2021-11-17 07:30] sunminjeon opened #1432 "Is it possible to check cvss score using clairv4 API?"
### Description of Problem / Feature Request

In Clairv4, CVSS information doesn't seem to show up in vulnerability reports.
Is it possible to check cvss score using clairv4 API?
(PR seems to have been merged in Clairecore. : https://github.com/quay/claircore/pull/407)

- Clair version/image: v4.3.4

[2021-11-17 07:41] bluefriday opened #1433 "Clair Indexing timeout in offline mode"
I ran Clair in an offline environment.

After that, when I request the index_report API(/indexer/api/v1/index_report), the indexer sends a request to the online environment.

And after waiting 30 seconds (probably a timeout) the indexing operation happens.

How can I change the configuration of the indexer to offline mode so that the timeout does not occur? (I tried using the airgap flag, but it d

[2021-11-17 07:45] bluefriday commented on #1428
I fixed the issue by setting it up as you said.
thank you.

[2021-11-17 08:07] christian-2 commented on #1431
I suspect meanwhile the root cause here is that the history (as in `docker history`) has apparently been removed from these images perhaps to conceal their build steps. Is it correct to assume that Clair requires the history to be intact (perhaps to determine the base image, etc.)?

The reason why I believe this is the case is that scans for `debian:latest` and `alpine:latest` do also work. Except

[2021-11-17 23:27] hdonnay commented on #1432
What, if anything, appears in the enrichment object?

[2021-11-17 23:29] hdonnay commented on #1433
Please provide information (if you have it) about what request was made.

This smells like it could be the rhel package scanner, but it's hard to say without any logging.

[2021-11-17 23:33] hdonnay commented on #1431
It depends how the image is built; if there are just files added, then it shouldn't matter. If you can post a minimal reproducing Dockerfile, that would certainly be appreciated.

[2021-11-19 03:35] hdonnay commented on #1399
Yes, this is an oversight in the current API. I've got some PRs cooking to fix this, I'll link them once I submit them.

[2021-11-19 04:47] bluefriday commented on #1433
Ok, I reproduced my test :)

indexer's log
[code]

indexer clair's configuration
[code]

[2021-11-22 07:43] sunminjeon commented on #1432
@hdonnay

There is no data in enrichment table.
(i did import-updaters process in offline mode)
[code]

[2021-11-22 11:39] msteur opened #1441 "Discovery handler does not handle accept header correctly"
### Description of Problem / Feature Request
I'm trying to load /openapi/v1 in swagger ui, but this fails with an error message of `endpoint only allows application/json or application/vnd.oai.openapi+json`.

Swagger uses a GET request with an Accept header of `application/json, */*` which should be valid.
Manually trying it with `application/json` or `*/*` works.
Looking at the code it seems that